#context-menu {
  width: 90%;
  font-family: "Crimson Pro";
  background-color: var(--b-alpha-9);
  backdrop-filter: $backdrop-filter;
  border: 1px solid var(--c-gold);
  border-radius: $b-radius-md;
  color: var(--c-gold);

  li:hover {
    color: var(--c-pred) !important;
    text-shadow: none !important;
  }
}
