/// Left side controls
#controls {
  li {
    border: 1px solid var(--c-gold) !important;
    box-shadow: none !important;
    color: var(--c-gold) !important;
    background-color: var(--b-alpha-8) !important;
    backdrop-filter: $backdrop-filter;

    &.active {
      border: 1px solid var(--c-pred) !important;
      box-shadow: none !important;
      color: var(--c-pred-5) !important;
    }

    &:hover {
      color: var(--c-gold-4) !important;
      border-color: var(--c-gold-4) !important;
    }
  }
}
