/// Main menu (ON ESC BUTTON)
#menu {
  left: calc(50% - 120px);
  width: 240px;
  border: 1px solid var(--c-gold);
  background: var(--b-alpha-8) !important;
  backdrop-filter: $backdrop-filter;
  box-shadow: none;

  font-family: "Avenir";
  color: var(--c-gold);

  i {
    font-size: 18px !important;
  }

  ol {
    margin: 0;
  }

  li {
    display: flex;

    transition: all 0.3s ease-in-out;

    &:not(:last-child) {
      border-bottom: 1px solid var(--c-gold);
    }

    h4 {
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 1000 !important;
      font-size: 15px !important;
    }

    &:hover {
      color: var(--c-antiflash);
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }
}
