/// Main menu (ON ESC BUTTON)
#menu {
  border: 1px solid var(--c-gold);
  background: var(--b-alpha-8) !important;
  backdrop-filter: $backdrop-filter;
  box-shadow: none;

  i {
    font-size: 18px !important;
  }

  ol {
    margin: 0;
  }

  li {
    display: flex;

    transition: all 0.3s ease-in-out;

    h2 {
      color: var(--c-gold);
      font-family: "Avenir";
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-weight: 1000 !important;
      font-size: 15px !important;
    }

    &:hover {

      :is(h2,i) {
        color: var(--c-antiflash);
      }
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }
}