/* APPS: _APP.SCSS */ 

.app {
	header.window-header.flexrow.draggable.resizable {
		font-family: $primary-header-font;
		font-weight: 100;
		background-color: var(--bg-window-header);
	}
}
.app.window-app {
	header.window-header.flexrow.draggable.resizable {
		font-family: $primary-header-font;
	}
	.window-resizable-handle {
		border-radius: 0;
		background: black;
	}
}
.app.degenesis.sheet {
	border-radius: 0px;
}
