/* APPS: _CHAT.SCSS */

.message .message-content .cluster-credits {
    font-size: 11px;
  }
  
  .post-item {
    img {
      border: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    h2 {
      text-align: center;
    }
  
    &:hover {
      outline: 3px dotted $dgns-red;
      cursor: grab;
    }
  }