/* APPS: _CLUSTER.SCSS */ 

.app.window-app.cluster-interface .window-content {
    font-family: $sans-serif-conent-font;
  }
  
  .cluster-interface {
    .cluster-row {
      display: flex;
      justify-content: space-around;
      height: 33%;
    }
  
    img {
      &.cluster-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
  
      border: none;
    }
  
    .cluster-section {
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      label {
        font-size: 18px;
        margin: 10px;
      }
  
      select {
        > * {
          text-transform: uppercase;
        }
  
        width: 50%;
        text-transform: uppercase;
      }
    }
  }