/* Styling proseMirror editor */

.editor.prosemirror {
  margin-top: 2px;

  .editor-menu {
    background: none;
  }

  button {
    color: #000;

    &:hover,
    &:active {
      color: var(--text-white);
      background-color: var(--c-pred);
    }
  }

  button.pm-dropdown {
    background-color: var(--bg-black);
    color: var(--text-white);

    .fa-chevron-down {
      color: var(--text-white);

      &:hover {
        color: var(--text-white);
      }
    }

    ul {
      background-color: var(--bg-black);
      color: var(--text-white);
    }

    li {
      &:hover {
        background-color: var(--c-pred);
        color: var(--text-white);
      }
    }
  }
}
