# IDE
.idea/
.vs/
.vscode/launch.json
debug.log
degenesis.lock
packs/ammunitions.db
packs/armor-and-shields.db
packs/equipment.db
packs/legacies.db
packs/maps.db
packs/potentials.db
packs/weapons.db
*.afdesign
*.afphoto
*.psd
*.ai