#logo {
  content: url(../icons/degenesis.png);
}

#pause {
  background: none;

  img {
    content: url(../icons/logo.png);
  }

  h3 {
    font-family: $primary-header-font;
    color: white;
    text-shadow: 1px 1px 30px var(--degenesis-red);
  }

  > {
    figcaption {
      font-family: "Avenir";
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-shadow: 0px 3px 12px rgba(0, 0, 0, 1);
    }

    img {
      opacity: 1;
    }
  }
}

// DEFAULT WINDOW SETTINGS
.app.window-app {
  .app.degenesis.sheet {
    border-radius: 0px;
  }

  .window-content {
    background: white;
    font-family: $serif-content-font;
  }

  .window-header {
    font-family: $primary-header-font !important;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-image: url(../ui/header.jpg);
  }

  .window-title {
    font-family: "Crimson Pro";
    text-transform: unset;
    font-size: 14px;
  }

  .window-resizable-handle {
    border-radius: 0;
    background: black;
  }
}

.app {
  header.window-header.flexrow.draggable.resizable {
    font-family: $primary-header-font;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  input,
  select {
    border-bottom: 1px solid var(--grey-160);
    border-radius: 0;
  }
}

// SIDEBAR
// UGLY SELECTORS FOR QUICK RELEASE :(

.compendium-sidebar .directory-item.compendium .compendium-name {
  background: none !important;
  border: none !important;
  font-family: "Avenir";
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: $text-white;

  i {
    display: none;
  }
}

.compendium-sidebar .directory-item.compendium .compendium-footer .source {
  border-radius: none;

  color: $text-white;
  font-family: "Avenir";
  font-size: 8px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

// COMPENDIUM HEADERS

.compendium.directory .directory-header .compendium-name {
  background: none;
  border: none;
  color: $text-white;
  font-family: "Avenir";
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

  i {
    display: none;
  }
}

.compendium.directory .directory-header .header-banner {
  mix-blend-mode: exclusion;
}

/* SHEET TABS FOR ALL UI WINDOWS */

.sheet-tabs.tabs,
.filepicker nav.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none !important;

  .item {
    flex-grow: 1;
    padding: 3px !important;
    font-family: $sans-serif-content-font;
    text-transform: uppercase;
    font-size: 12px;

    font-weight: 500;

    color: white;
    background-color: black;
    margin: 2px;
    line-height: 20px;

    letter-spacing: 0.05em;
    transition: background-color 0.1s ease-out;

    &:hover {
      background-color: var(--degenesis-red);
    }

    &.active {
      background-color: var(--degenesis-red);
      text-shadow: none;
    }
  }

  &.active {
    color: var(--text-white);
    text-shadow: none;
  }
}

.form-group button {
  border: none !important;
  background-color: #000 !important;
  border-radius: 0 !important;

  &:hover {
    background-color: var(--degenesis-red) !important;
  }
}

.display-modes a {
  display: flex;
  width: 25px;
  height: 25px;
  border: none !important;
  background-color: #000 !important;
  border-radius: 0 !important;
  color: var(--text-white);

  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--degenesis-red) !important;
  }
}

/* UI SHEETS CONFIG */

.app.window-app.sheet.token-sheet {
  .window-content {
    background: url(../ui/light_02.jpg);
  }

  .sheet-tabs.tabs {
    margin-top: 0px;
  }
}

/* CHAT MESSAGES / DICE ROLLS */
.dice-rolls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dice-tooltip .dice-rolls .roll.d6 {
  &.max {
    color: var(--degenesis-red);
    filter: none;
    content: url(../icons/logo-small.png);
    padding: 2px;
    border: 1px solid var(--degenesis-red);
  }
  &.min {
    color: var(--degenesis-red);
    filter: none;

    border: 1px solid var(--degenesis-red);
  }

  padding: 2px;
  display: inline-block;
  width: 30px;
  height: 30px;

  font-family: $sans-serif-content-font;
  font-weight: 600;
  color: var(--grey-160);
  background: none;
  background-color: $bg-black;
  border: 1px solid var(--grey-160);
  margin: 1px;
}

.notification {
  font-family: $sans-serif-content-font;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 0.2ch;
  font-weight: 600;
  color: $text-white;
  border-radius: 0;
}

.notification.info {
  border: 1px solid $dgns-blackred;
  background-color: $grey-020;
  box-shadow: none;
}
