@use "sass:map";

$b-radius-sm: 5px;
$b-radius-md: 10px;

/// Import specific components
@import "app/mainMenu"; //Main menu
@import "app/hotbar"; // Macrobar
@import "app/players"; // Players list
@import "app/controls"; // Left side controls
@import "app/navigation"; //Top navigation bar
@import "app/loadingBar"; // Loading bar
@import "app/contextMenu"; //Context menu
@import "app/prototypeToken";
@import "app/application"; // Aplication V2 app styling

#logo {
  height: 35px;
  content: url(../ui/degenesis-white.svg);
}

#pause {
  background: none;

  img {
    content: url(../icons/logo.png);
  }

  h3 {
    font-family: $primary-header-font;

    text-shadow: 1px 1px 30px var(--c-pred);
  }

  > {
    figcaption {
      font-family: "Avenir";
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 2px;
      text-shadow: 0px 3px 5px var(--b-alpha-10);
      color: var(--c-gold) !important;
    }

    img {
      opacity: 1;
    }
  }
}

.system-badge {
  margin: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-size-16);

  span {
    margin: 5px 0px;
  }

  img {
    border: none;
    width: 70%;
  }
}

/// All app windows in a system...
.app.window-app {
  border-radius: $b-radius-md;
  border: 1px solid var(--c-gold);
  background-image: none;
  background-color: var(--b-alpha-7);
  backdrop-filter: blur(20px);
  box-shadow: none;

  .window-header {
    font-family: $primary-header-font !important;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-bottom: none;

    color: var(--c-gold-4);

    .window-title {
      font-family: "Crimson Pro";
      text-transform: unset;
      font-size: 14px;
    }

    a.header-button {
      text-shadow: none;
      transition: all 0.2s ease-in-out;
    }
  }

  .window-content {
    font-family: "Crimson Pro";
    font-size: var(--font-size-14);
    background: none;
    background-color: rgb(10, 10, 10);
    border-top: 1px solid var(--c-gold);

    color: var(--c-gold);
    border-bottom-left-radius: $b-radius-md;
    border-bottom-right-radius: $b-radius-md;

    .sidebar {
      border-right: 1px solid var(--c-gold);
    }

    nav.tabs,
    .sheet-tabs.tabs,
    .secondary-tabs {
      border: 1px solid var(--c-gold);
      border-radius: $b-radius-sm;
      margin-bottom: 10px;
      padding: 2px 2px;
      gap: 2px;

      a {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-shadow: none;
        border: 1px solid var(--c-gold);
        font-family: "Avenir";
        font-size: 12px;
        font-weight: 700;
        padding: 5px 10px;
        width: 100%;
        text-transform: uppercase;
        transition: all 0.2s ease-in-out;

        &.active {
          color: var(--c-antiflash);
          background-color: var(--c-pred);
          border-bottom: 1px solid var(--c-gold);
          box-shadow: none;
          text-shadow: none;
        }
      }
    }

    .flexcol {
      .tab.active {
        display: flex;
        flex-direction: column;
      }
    }

    p {
      color: var(--c-gold-4);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      font-family: "Avenir";
      font-weight: 1000;
      letter-spacing: 0.1em;
      color: var(--c-pred);
      border: none;
    }
  }

  .window-resizable-handle {
    width: 15px;
    height: 15px;
    background: none;
    border: none;
    border-bottom-right-radius: $b-radius-md;
    border-right: 4px double var(--c-gold);
    border-bottom: 4px double var(--c-gold);

    margin-right: 3px;
    margin-bottom: 3px;
    color: var(--c-gold);

    i {
      display: none;
    }
  }

  div.package-description {
    color: var(--c-gold) !important;
  }

  div.title {
    color: var(--c-pred) !important;
    text-decoration: none !important;
  }

  a {
    color: var(--c-gold-4);
    transition: all 0.1s ease-in-out;

    &:hover {
      color: var(--c-pred);
    }
  }

  div,
  ul,
  li {
    color: var(--c-gold);
  }

  input {
    border: 1px solid var(--c-gold);
    border-radius: $b-radius-sm;
    color: var(--c-gold);

    &:focus {
      box-shadow: none;
      border: 1px solid var(--c-pred);
    }

    &::placeholder {
      color: var(--c-gold-5) !important;
      opacity: 0.5;
    }
  }
}

.directory-list {
  scrollbar-width: unset !important;
}

/* SHEET TABS FOR ALL UI WINDOWS */

/* .sheet-tabs.tabs,
nav.tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--c-gold);

  a.item {
    flex-grow: 1;
    border: 1px solid var(--c-gold);

    font-family: $sans-serif-content-font;
    text-transform: uppercase;
    font-size: 12px;

    font-weight: 500;

    color: white;
    background-color: black;
    margin: 2px;
    line-height: 20px;

    letter-spacing: 0.05em;
    transition: background-color 0.1s ease-out;
    &.active {
      color: white;
      background-color: var(--c-pred);
      text-shadow: none;
      i {
        color: white;
      }
    }
    &:hover {
      background-color: var(--c-pred);
    }
  }

  &.active {
    color: var(--text-white);
    text-shadow: none;
  }
} */

/* .form-group button {
  border: none !important;
  background-color: #000 !important;
  border-radius: 0 !important;

  &:hover {
    background-color: var(--c-pred) !important;
  }
} */

.display-modes a {
  display: flex;
  width: 25px;
  height: 25px;
  border: none !important;
  background-color: #000 !important;
  border-radius: 0 !important;
  color: var(--text-white);

  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--c-pred) !important;
  }
}

/* UI SHEETS CONFIG */

/* CHAT MESSAGES / DICE ROLLS */
.dice-rolls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dice-tooltip .dice-rolls .roll.d6 {
  &.max {
    color: var(--c-pred);
    filter: none;
    content: url(../icons/logo-small.png);
    padding: 2px;
    border: 1px solid var(--c-pred);
  }
  &.min {
    color: var(--c-pred);
    filter: none;

    border: 1px solid var(--c-pred);
  }

  padding: 2px;
  display: inline-block;
  width: 30px;
  height: 30px;

  font-family: $sans-serif-content-font;
  font-weight: 600;
  color: var(--grey-160);
  background: none;
  background-color: $bg-black;
  border: 1px solid var(--grey-160);
  margin: 1px;
}

.notification {
  font-family: $sans-serif-content-font;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 0.2ch;
  font-weight: 600;
  color: $text-white;
  border-radius: 0;
}

.notification.info {
  border: 1px solid $dgns-blackred;
  background-color: $grey-020;
  box-shadow: none;
}
