// SIDEBAR
// UGLY SELECTORS FOR QUICK RELEASE :(

.compendium-sidebar .directory-item.compendium .compendium-name {
  background: none !important;
  border: none !important;
  font-family: "Avenir";
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: $text-white;

  i {
    display: none;
  }
}

.compendium-sidebar .directory-item.compendium .compendium-footer .source {
  border-radius: none;

  color: $text-white;
  font-family: "Avenir";
  font-size: 8px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

// COMPENDIUM HEADERS

.compendium.directory .directory-header .compendium-name {
  background: none;
  border: none;
  color: $text-white;
  font-family: "Avenir";
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

  i {
    display: none;
  }
}

.compendium.directory .directory-header .header-banner {
  mix-blend-mode: exclusion;
}
