<div class="title">
    <div class="body-column body-line">
       <div class="title-line middle-left"></div>
       <div class="middle-name">ADVANTAGES</div>
       <div class="title-line middle-right"></div>
    </div>
 </div> 

 <div class="advantage-tab">
   <!-- <div class="upper-row"> -->

      <!-- * BACKGROUNDS * -->
      <!-- <div class="advantage-column"> -->
            <div class="advantage-group background-group"> 
               <div class="background">
                  <div class="black-title">
                     <h3>BACKGROUNDS</h3>
                  </div>
               </div>

                  <div class="advantage-list">
                     {{#each backgrounds as |background bg|}}
                     <div class="advantage">
                        <div class="background-name">{{background.label}}</div>
                         <div class="diamond-position">  
                           <div class="diamond-row" data-target="data.backgrounds.{{bg}}.value">
                              {{#each background.diamonds as |diamond index|}}
                                 {{#if diamond.filled}}
                                    <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
                                 {{else}}
                                    <a class = "diamond" data-index={{index}}><div class="square"></div></a>
                                 {{/if}}
                              {{/each}}
                           </div>
                         </div> 
                     </div>
                     {{/each}}
                  </div>
           </div>
      <!-- </div> -->

      <!-- * RELATIONSHIPS * -->
      <!-- <div class="advantage-column"> -->
         <div class="advantage-group relationships-group">
            <div class="background">
               <div class="black-title">
                  <h3>RELATIONSHIPS</h3>
               </div>
            </div>

               <div class="advantage">
                 <!-- <div class="cadre-tab">-->
                  <ol class="relationships-ol">
                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                      <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>                     <li class="relationships-li">
                        <a class="relationships-cultes">Anabaptists</a>
                        <a class="relationships-bonus" contenteditable='true'>+6D</a>
                     </li>
                  </ol> 
                  <!--</div>-->
          <!--    <div class="relationships clickable-row">
                     <a class="relationships-name">
                        {{legacy}}
                     </a>
                  </div>
                  <div class="legacy-description">
                     {{{legacydescription}}}
                   </div> -->
               </div>
         </div>
      <!-- </div> -->
      
      <!-- * SCARS * -->
      <!-- <div class="advantage-column"> -->
         <div class="advantage-group scars-group">
            <div class="background">
               <div class="black-title">
                  <h3>SCARS</h3>
               </div>
            </div>
            <div class="advantage-list">
               <div class="advantage">
                  <div class="sheet-field">
                     <span class="field-name">GROUP NAME:</span>
                     <input class="field-input" type="text" name="group" value="{{actor.group-name}}"/>
                  </div>
               </div>
               <div class="advantage">
                  <div class="sheet-field">
                     <span class="field-name">ALIGNEMENT:</span>
                     <input class="field-input" type="text" name="alignement" value="{{actor.alignement}}"/>
                  </div>
               </div>
               <div class="advantage">
                  <div class="sheet-field">
                     <span class="field-name">CONSTELATION:</span>
                     <input class="field-input" type="text" name="constelation" value="{{actor.constelation}}"/>
                  </div>
               </div>
               <div class="advantage">
                  <div class="sheet-field">
                     <span class="field-name">SCARS VALUE:</span>
                     <input class="field-input" type="text" name="scars-value" value="{{actor.constelation}}"/>
                  </div>
               </div>
               <div class="advantage">
                  <a class="background-name">INFAMY</a>
                  <div class="diamond-position"> 
                     <div class="diamond-row" data-target="data.scars.infamy.value">
                        {{#each infamy.diamonds as |diamond index|}}
                           {{#if diamond.filled}}
                              <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
                           {{else}}
                              <a class = "diamond" data-index={{index}}><div class="square"></div></a>
                           {{/if}}
                        {{/each}}
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="break"></div>

         <div class="advantage-group potentials-group">
            <div class="potentials">
               <div class="black-title">
                  <h3>POTENTIALS</h3>
               </div>
               <!-- ! Work in progress -->
               <!-- <svg height="210" width="500">
                  <line x1="0" y1="0" x2="200" y2="200" style="stroke:rgb(255,0,0);stroke-width:2" />
                </svg> -->
            </div>
            <div class="advantage-list">
               {{#each potentials as |potential pt|}}
               <div class="advantage">
                  <div class="background-name">{{potential.label}}</div>
                   <div class="diamond-position">  
                     <div class="diamond-row" data-target="data.backgrounds.{{bg}}.value">
                        {{#each potential.diamonds as |potential index|}}
                           {{#if diamond.filled}}
                              <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
                           {{else}}
                              <a class = "diamond" data-index={{index}}><div class="square"></div></a>
                           {{/if}}
                        {{/each}}
                     </div>
                   </div> 
               </div>
               {{/each}}
            </div>
         </div>

         <!-- * POTENTIALS  -->
         
 </div>

 <div class="footer-diamond">
   <div class="square little"></div>
   <div class="square little"></div>
 </div>
 