<div class="title">
   {{{drawSubtitle (localize "DGNS.Inventory")}}}
</div>

<div class="inventory-tab">
   <!-- * EMCOMBRANCE * -->
   <div class="inventory-group encumbrance-group">
      <div class="encumbrance">
         <div class="first-part">
            <div class="black-title">
               <h3 clas>{{localize "DGNS.Encumbrance"}}</h3>
            </div>
            {{{drawStartLine 26}}}
         </div>
         <div class="enc-all">
            <div class="enc-container">
               <div class="enc-bar"
                  style="background-color: {{data.general.encumbrance.color}}; width: {{data.general.encumbrance.pct}}%">
               </div>
            </div>
            <div class="encumbrance-legend">
               <span>{{data.general.encumbrance.current}} / {{data.general.encumbrance.max}}</span>
            </div>
         </div>
      </div>
   </div>

   {{#each inventory as |section s|}}
   {{#if section.items.length includeZero=(showHeaders)}}

   <div class="inventory-group weapon-group">
      <div class="weapon">
         <div class="first-part">
            <div class="black-title">
               <h3>{{localize section.header}}</h3>
               <a class="icon item-add" data-item="{{localize section.type}}">+</a>
            </div>
            {{{drawStartLine 26}}}
            <div class="empty"> </div>
         </div>
         <div class="weapon-legend legend">
            {{#if section.toggleable}}
            <div class="legend-name equipped">
               <span>{{toggleDisplay}}</span>
            </div>
            {{else}}
            <div class="legend-name equipped">
            </div>
            <div class="legend-name">
            </div>
            {{/if}}
            <div class="legend-name qty">
               <a class="aggregate">{{localize "DGNS.Qty"}}</a>
            </div>
            <div class="legend-name enc">
               <span>{{localize "DGNS.Enc"}}</span>
            </div>
            <div class="legend-name tech">
               <span>{{localize "DGNS.Tech"}}</span>
            </div>
            {{#if section.toggleable}}
            <div class="legend-name slots">
               <span2>{{localize "DGNS.Slots"}}</span>
            </div>
            {{/if}}
            <div class="empty"> </div>
         </div>
      </div>
      <div class="inventory-list item-list">
         {{#each section.items as |item w|}}
         <div class="weapon item" data-item-id="{{item.id}}">
            <a class="weapon-name dropdown">{{item.name}}</a>
            <div class="weapon-characteristics">
               {{#if ../toggleable}}
               <div class="legend-name equipped">
                  {{#if item.equipped}}
                  <a class="square border-black button-position checkbox" data-target="item"
                     data-item-target="system.equipped">
                     <div class="square-into black"></div>
                  </a>
                  {{else}}
                  <a class="square button-position checkbox" data-target="item" data-item-target="system.equipped">
                     <div class="square-into"></div>
                  </a>
                  {{/if}}
               </div>
               {{else}}
               <div class="legend-name equipped">
               </div>
               <div class="legend-name ">
               </div>
               {{/if}}
               <div class="legend-name qty">
                  <a class="quantity-click">{{item.quantity}}</a>
               </div>
               <div class="legend-name enc">
                  <span>{{item.encumbrance}}</span>
               </div>
               <div class="legend-name tech">
                  <span>{{item.Tech}}</span>
               </div>
               {{#if section.toggleable}}
               <div class="legend-name slot">
                  <span>{{item.slots.used}}/{{item.slots.total}}</span>
               </div>
               {{/if}}
               {{> systems/degenesis/templates/common/sheet-vertical-bar.html }}
               <div class="item-controls">
                  <a class="icon item-post"><i class="fas fa-comment"></i></a>
                  <a class="icon item-edit"><i class="fas fa-edit"></i></a>
                  <a class="icon item-delete"><i class="fas fa-times"></i></a>
               </div>
            </div>
            <div class="break"></div>
         </div>
         {{/each}}
      </div>
   </div>
   {{/if}}
   {{/each}}



   <!-- CONTAINERS -->
   {{#if transportation.items.length includeZero=(showHeaders)}}
   <div class="inventory-group weapon-group">
      <div class="weapon">
         <div class="first-part">
            <div class="black-title">
               <h3>{{transportation.header}}</h3>
               <a class="icon item-add" data-item="transportation">+</a>
            </div>
            {{{drawStartLine 26}}}

            <div class="empty">

            </div>
         </div>
         <div class="weapon-legend legend">
            <div class="legend-name equipped">
               <span>{{transportation.toggleDisplay}}</span>
            </div>
            <div class="legend-name enc">
               <span>{{localize "DGNS.Enc"}}</span>
            </div>
            <div class="legend-name tech">
               <span>{{localize "DGNS.Tech"}}</span>
            </div>
            <div class="empty"> </div>
         </div>
      </div>
      <div class="inventory-list item-list">
         {{#each transportation.items as |item w|}}
         <div class="weapon item transport-drop expanded" data-item-id="{{item.id}}" {{#if item.dropped}}
            style="opacity: 0.5" {{/if}}>
            <a class="weapon-name dropdown">{{item.name}}</a>
            <div class="weapon-characteristics">
               <div class="legend-name equipped">
                  {{#if item.droppable}}
                  {{#if item.dropped}}
                  <a class="square border-black button-position checkbox" data-target="item"
                     data-item-target="system.dropped">
                     <div class="square-into black"></div>
                  </a>
                  {{else}}
                  <a class="square button-position checkbox" data-target="item" data-item-target="system.dropped">
                     <div class="square-into"></div>
                  </a>
                  {{/if}}
                  {{/if}}
               </div>
               <div class="legend-name enc">
                  <span>{{item.encumbrance}}</span>
               </div>
               <div class="legend-name tech">
                  <span>{{item.Tech}}</span>
               </div>
               {{> systems/degenesis/templates/common/sheet-vertical-bar.html }}
               <div class="item-controls">
                  <a class="icon item-post"><i class="fas fa-comment"></i></a>
                  <a class="icon item-edit"><i class="fas fa-edit"></i></a>
                  <a class="icon item-delete"><i class="fas fa-times"></i></a>
               </div>
            </div>
            <div class="break"></div>
            {{#if item.itemsWithin.length}}
            <div class="item-summary">
               <div class="tags">
                  {{#each item.itemsWithin as |containerItem i|}}
                  <a class="tag container-item" data-item-id="{{containerItem.id}}">{{containerItem.name}}
                     ({{containerItem.encumbrance}})</a>
                  {{/each}}
               </div>
            </div>
            {{/if}}
         </div>
         {{/each}}
      </div>
   </div>
   {{/if}}

</div>

{{{drawPageSquare 4 6}}}