<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="header-column header-line">
            <div class="line line-left"></div>
            <div class="middle-name">ARCHETYPE</div>
            <div class="line line-right"></div>
        </div>
        // Start new row
        <div class="break"></div>
        <div class="header-column char-info left">
            <div class="sheet-field">
                <span class="field-name">NAME:</span>
                <input class="field-input" type="text" name="name" value="{{actor.name}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">AGE:</span>
                <input class="field-input" type="text" name="data.age.value" value="{{data.age.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">RANK:</span>
                <input class="field-input" type="text" name="data.rank.value" value="{{data.rank.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">EXPERIENCE:</span>
                <input class="field-input" type="text" name="data.experience.value" value="{{data.experience.value}}" />
            </div>
        </div>
        <div class="img-frame">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                width="100" />
        </div>
        <div class="header-column char-info right">
            <div class="sheet-field">
                <span class="field-name">SEX:</span>
                <input class="field-input" type="text" name="data.sex.value" value="{{data.sex.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">HEIGHT:</span>
                <input class="field-input" type="text" name="data.height.value" value="{{data.height.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">WEIGHT:</span>
                <input class="field-input" type="text" name="data.weight.value" value="{{data.weight.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">DRAFTS/DINARS:</span>
                <input class="field-input" type="text" name="data.dinars.value" value="{{data.dinars.value}}" />
            </div>
        </div>
        <div class="break"></div>
        <hr size="1">
        <div class="break"></div>
       <!-- ! WORK IN PROGRESS ! --> 
        <div class="header-column"></div>
       <!-- ! WORK IN PROGRESS ! --> 
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">ATTRIBUTES</a>
        <a class="item" data-tab="advantages">ADVANTAGES</a>
        <a class="item" data-tab="condition">CONDITION</a>
        <a class="item" data-tab="combat">COMBAT</a>
        <a class="item" data-tab="inventory">INVENTORY</a>
        <a class="item" data-tab="history">HISTORY</a>
    </nav>

    <div class="tab-content">
        <div class="tab" data-tab="main">
            {{> systems/degenesis/templates/actor/actor-main.html}}
        </div>
        <div class="tab" data-tab="attributes">
            {{> systems/degenesis/templates/actor/actor-attributes-skills.html}}
        </div>
        <div class="tab" data-tab="inventory">
            {{> systems/degenesis/templates/actor/actor-inventory.html}}
        </div>
    </div>
</form>