<div class="title">
    <div class="body-column body-line">
      <div class="square little left"></div>
      <svg class="title-line middle-left" height="11" width="100%">
         <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
      </svg>
       <div class="middle-name">{{localize "DGNS.Condition"}}</div>
       <svg class="title-line middle-right" height="11" width="100%">
          <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
       </svg>
       <div class="square little right"></div>
    </div>
 </div> 

 <div class="condition-tab">
 <!-- * CONDITION * -->
 


 </div>

 <div class="footer-diamond">
   <div class="square little"></div>
   <div class="square little"></div>
   <div class="square little"></div>
 </div>