<div class="title">
    <div class="body-column body-line">
       <div class="title-line middle-left"></div>
       <div class="middle-name">ADVANTAGES</div>
       <div class="title-line middle-right"></div>
    </div>
 </div> 

 <div class="advantage-tab">
   <!-- <div class="upper-row"> -->

      <!-- * BACKGROUNDS * -->
      <!-- <div class="advantage-column"> -->
            <div class="advantage-group background-group"> 
               <div class="background">
                  <div class="black-title">
                     <h3>BACKGROUNDS</h3>
                  </div>
               </div>

                  <div class="advantage-list">
                     {{#each backgrounds as |background bg|}}
                     <div class="advantage">
                        <div class="background-name">{{background.label}}</div>
                         <div class="diamond-position">  
                           <div class="diamond-row" data-target="data.backgrounds.{{bg}}.value">
                              {{#each background.diamonds as |diamond index|}}
                                 {{#if diamond.filled}}
                                    <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
                                 {{else}}
                                    <a class = "diamond" data-index={{index}}><div class="square"></div></a>
                                 {{/if}}
                              {{/each}}
                           </div>
                         </div> 
                     </div>
                     {{/each}}
                  </div>
           </div>
      <!-- </div> -->

      <!-- * RELATIONSHIPS * -->
      <!-- <div class="advantage-column"> -->
         <div class="advantage-group relationships-group">
            <div class="background">
               <div class="black-title">
                  <h3>RELATIONSHIPS</h3>
               </div>
            </div>

               <div class="advantage relationship">
                 <!-- <div class="cadre-tab">-->
                  <ol class="relationships-ol">
                     {{#each data.relationships as |rs index|}}
                     <li class="relationships-li" data-index="{{index}}">
                        <input class="relationships-cultes" value="{{rs.group}}"/>
                        <input class="relationships-bonus" value="{{rs.modifier}}"/>
                     </li>
                     {{/each}}
                     <li class="relationships-li" data-index="new">
                        <input class="relationships-cultes" value=""/>
                        <input class="relationships-bonus" value=""/>
                     </li>
                  </ol> 
                  <!--</div>-->
          <!--    <div class="relationships clickable-row">
                     <a class="relationships-name">
                        {{legacy}}
                     </a>
                  </div>
                  <div class="legacy-description">
                     {{{legacydescription}}}
                   </div> -->
               </div>
         </div>
      <!-- </div> -->
      
      <!-- * SCARS * -->
      <!-- <div class="advantage-column"> -->
         <div class="advantage-group scars-group">
            <div class="background">
               <div class="black-title">
                  <h3>SCARS</h3>
               </div>
            </div>
            <div class="advantage-list">
               <div class="advantage">
                  <div class="sheet-field">
                     <span class="field-name">GROUP NAME:</span>
                     <input class="field-input" type="text" name="group" value="{{actor.group-name}}"/>
                  </div>
               </div>
               <div class="advantage">
                  <div class="sheet-field">
                     <span class="field-name">ALIGNEMENT:</span>
                     <input class="field-input" type="text" name="alignement" value="{{actor.alignement}}"/>
                  </div>
               </div>
               <div class="advantage">
                  <div class="sheet-field">
                     <span class="field-name">CONSTELATION:</span>
                     <input class="field-input" type="text" name="constelation" value="{{actor.constelation}}"/>
                  </div>
               </div>
               <div class="advantage">
                  <div class="sheet-field">
                     <span class="field-name">SCARS VALUE:</span>
                     <input class="field-input" type="text" name="scars-value" value="{{actor.constelation}}"/>
                  </div>
               </div>
               <div class="advantage">
                  <a class="background-name">INFAMY</a>
                  <div class="diamond-position"> 
                     <div class="diamond-row" data-target="data.scars.infamy.value">
                        {{#each infamy.diamonds as |diamond index|}}
                           {{#if diamond.filled}}
                              <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
                           {{else}}
                              <a class = "diamond" data-index={{index}}><div class="square"></div></a>
                           {{/if}}
                        {{/each}}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <!-- </div> -->

      <div class="break"></div>

      <div class="advantage-group potentials-group">
         <div class="potentials">
            <div class="first-part">
               <div class="black-title">
                  <h3>POTENTIALS</h3>
               </div>
               <!-- ! Work in progress -->
               <svg class="tab-start-line" height="23" width="26">
                  <line x1="0" y1="7" x2="10" y2="7" style="stroke:rgb(164, 164, 164);stroke-width:1"></line>
                  <line x1="10" y1="7" x2="26" y2="23" style="stroke:rgb(164, 164, 164);stroke-width:1"></line>
               </svg>
               <!-- <svg class="tab-right-line" height="27" width="500">
                  <line x1="0" y1="21" x2="526" y2="23" style="stroke:rgb(164, 164, 164);stroke-width:1"></line>
               </svg> -->
               
               <div class="empty">
            
               </div>
            </div>
            <div class="potentials-legend">
               <div class="origin">
                  <span>ORIGIN</span>
               </div>
               <div class="level">
                  <span2>LEVEL</span>
               </div>
            </div>
         </div>
         <div class="advantage-list">
            {{#each potentials as |potential p|}}
            <div class="advantage">
               <a class="background-name">{{potential.name}}</a>
               <div class="potential-characteristics">
                  <div class="origin">
                     {{potential.data.origin}}
                  </div>
                  <div class="level">
                     <div class="diamond-position">  
                        <div class="diamond-row" data-target="item" data-item-id={{potential._id}} data-item-target="data.level">
                           {{#each potential.diamonds as |diamond index|}}
                              {{#if diamond.filled}}
                                 <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
                              {{else}}
                                 <a class = "diamond" data-index={{index}}><div class="square"></div></a>
                              {{/if}}
                           {{/each}}
                        </div>
                     </div> 
                  </div>
                </div>
            </div>
            {{/each}}

         </div>
      </div>
      
   <!-- </div> -->
 </div>

 <div class="footer-diamond">
   <div class="square little"></div>
   <div class="square little"></div>
 </div>
 