<div class="title">
  {{{drawSubtitle (localize "DGNS.Combat")}}}
</div>

<div class="combat-tab">
  <!-- * GENERAL * -->
  <div class="combat-group general-group">
    <div class="background">
      <div class="black-title">
        <h3>{{localize "DGNS.General"}}</h3>
      </div>
    </div>
    <div class="combat-list">
      <div class="combat">
        <div class="general-name">
          {{localize "DGNS.Movement"}}: {{actor.general.movement}}<span class="nocaps">m</span>
        </div>
      </div>
      <div class="combat">
        <div class="general-name">
          {{localize "DGNS.Encumbrance"}}: {{actor.general.encumbrance.current}}
          / {{data.general.encumbrance.max}}
        </div>
      </div>
      <div class="combat">
        <div class="general-name">
          {{localize "DGNS.Armor"}}: {{actor.general.armor}}
        </div>
      </div>
      <div class="combat">
        <div class="general-name">
          {{localize "DGNS.ActionMod"}}: {{actor.general.actionModifier}}D
        </div>
      </div>
    </div>
  </div>

  <!-- * FIGHTING * -->
  <div class="combat-group fighting-group">
    <div class="background">
      <div class="black-title">
        <h3>{{localize "DGNS.Fighting"}}</h3>
      </div>
    </div>
    <div class="combat-list">
      <a class="combat">
        <div class="general-name initiative-roll">
          {{localize "DGNS.Initiative"}} ({{actor.fighting.initiative}}D)
        </div>
      </a>
      <a class="combat">
        <div class="general-name fight-roll" data-roll="dodge">
          {{localize "DGNS.Dodge"}} ({{actor.fighting.dodge}}D)
        </div>
      </a>
      <a class="combat">
        <div class="general-name fight-roll" data-roll="mentalDefense">
          {{localize "DGNS.MentalDef"}} ({{actor.fighting.mentalDefense}}D)
        </div>
      </a>
      <div class="combat">
        <div class="general-name">
          {{localize "DGNS.PassiveDef"}}: {{actor.fighting.passiveDefense}}
        </div>
      </div>
    </div>
  </div>

  <!-- * STATE * -->
  <div class="combat-group state-group">
    <div class="background">
      <div class="black-title">
        <h3>{{localize "DGNS.State"}}</h3>
      </div>
    </div>
    <div class="combat">
      <a class="general-name checkbox" data-target="system.state.motion">{{localize "DGNS.InMotion"}} <span
          class="nocaps">(>2m)</span></a>
      {{#if actor.state.motion}}
      <a class="square border-black button-position checkbox" data-target="system.state.motion">
        <div class="square-into black"></div>
      </a>
      {{else}}
      <a class="square button-position checkbox" data-target="system.state.motion">
        <div class="square-into"></div>
      </a>
      {{/if}}
    </div>
    <div class="combat">
      <a class="general-name checkbox" data-target="system.state.active">{{localize "DGNS.ActiveAndOnMyFeet"}}</a>
      {{#if actor.state.active}}
      <a class="square border-black button-position checkbox" data-target="system.state.active">
        <div class="square-into black"></div>
      </a>
      {{else}}
      <a class="square button-position checkbox" data-target="system.state.active">
        <div class="square-into"></div>
      </a>
      {{/if}}
    </div>
    <div class="combat">
      <a class="general-name checkbox">{{localize "DGNS.Cover"}}: </a>
      <div class="diamond-position">
        <div class="diamond-row" data-target="system.state.cover.value">
          {{#each data.state.cover.diamonds as |diamond index|}} {{#if
          diamond.filled}}
          <a class="diamond" data-index="{{index}}">
            <div class="square black"></div>
          </a>
          {{else}}
          <a class="diamond" data-index="{{index}}">
            <div class="square"></div>
          </a>
          {{/if}} {{/each}}
        </div>
      </div>
    </div>
    <div class="combat">
      <a class="general-name checkbox">{{localize "DGNS.SpendEgo"}}: </a>
      <div class="diamond-position">
        <div class="diamond-row" data-target="system.state.spentEgo.value">
          {{#each data.state.spentEgo.diamonds as |diamond index|}} {{#if
          diamond.filled}}
          <a class="diamond" data-index="{{index}}">
            <div class="square black"></div>
          </a>
          {{else}}
          <a class="diamond" data-index="{{index}}">
            <div class="square"></div>
          </a>
          {{/if}} {{/each}}
        </div>
      </div>
    </div>
  </div>

  <div class="break"></div>
  <div class="title arsenal-title">
    {{{drawSubtitle (localize "DGNS.Arsenal")}}}
  </div>

  <!--* ARSENAL -->
  <div class="arsenal scrollable">
    <!--* MELEE WEAPON -->
    {{#if arsenal.meleeWeapons.length}}
    <div class="arsenal-group weapon-group">
      <div class="weapon">
        <div class="first-part">
          <div class="black-title">
            <h3>{{localize "DGNS.MeleeWeapons"}}</h3>
          </div>
          {{{drawStartLine 26}}}

          <div class="empty"></div>
        </div>
        <div class="weapon-legend legend">
          <div class="legend-name uses">
            <span>{{localize "DGNS.Uses"}}</span>
          </div>
          <div class="legend-name empty-melee"></div>
          <div class="legend-name damage">
            <span>{{localize "DGNS.Damage"}}</span>
          </div>
          <div class="legend-name distance">
            <span>{{localize "DGNS.Distance"}}</span>
          </div>
        </div>
      </div>
      <div class="arsenal-list item-list">
        {{#each arsenal.meleeWeapons as |weapon w|}}
        <div class="weapon item" data-item-id="{{weapon.id}}">
          <a class="weapon-name">{{weapon.name}}</a>
          <div class="weapon-characteristics">
            <div class="legend-name uses">
              <span><a class="roll-weapon" data-use="attack">{{localize "DGNS.Attack"}} {{weapon.dice.attack}}D</a>
                <a class="roll-weapon" data-use="defense">{{localize "DGNS.Defense"}}
                  {{weapon.dice.defense}}D</a></span>
            </div>
            <div class="legend-name empty-melee"></div>
            <div class="legend-name damage">
              <span>{{weapon.DamageFormula}}</span>
            </div>
            <div class="legend-name distance">
              <span>{{weapon.distance.melee}}</span>
            </div>
          </div>
          <div class="break"></div>
          {{#if weapon.qualities.length}}
          <div class="weapon-properties">
            <div class="square properties">
              <div class="name-rotate">P</div>
            </div>
            <div class="qualities-name">
              <span>
                {{#each weapon.Qualities as |quality q|}}
                <a class="capitalize quality-dropdown" data-key="{{q}}" data-type="weapon">{{quality}}</a>
                {{/each}}
              </span>
            </div>
          </div>
          {{/if}}

          <div class="break"></div>
        </div>

        {{/each}}
      </div>
    </div>
    {{/if}}
    <!--* RANGED WEAPON -->
    {{#if arsenal.rangedWeapons.length}}
    <div class="arsenal-group weapon-group">
      <div class="weapon">
        <div class="first-part">
          <div class="black-title">
            <h3>{{localize "DGNS.RangedWeapons"}}</h3>
          </div>
          {{{drawStartLine 26}}}

          <div class="empty"></div>
        </div>
        <div class="weapon-legend legend">
          <div class="legend-name uses-ranged">
            <span>{{localize "DGNS.Uses"}}</span>
          </div>
          <div class="legend-name magazine">
            <span>{{localize "DGNS.Magazine"}}</span>
          </div>
          <div class="legend-name damage">
            <span>{{localize "DGNS.Damage"}}</span>
          </div>
          <div class="legend-name distance">
            <span>{{localize "DGNS.Distance"}}</span>
          </div>
        </div>
      </div>
      <div class="arsenal-list item-list">
        {{#each arsenal.rangedWeapons as |weapon w|}}
        <div class="weapon item" data-item-id="{{weapon.id}}">
          <a class="weapon-name">{{weapon.name}}</a>
          <div class="weapon-characteristics">
            <div class="legend-name uses-ranged">
              <span><a class="roll-weapon"
                  data-use="attack-short">≤{{weapon.distance.short}}m({{weapon.dice.effective}}D) </a><a
                  class="roll-weapon" data-use="attack-far">≤{{weapon.distance.far}}m({{weapon.dice.far}}D) </a><a
                  class="roll-weapon" data-use="attack-extreme">>{{weapon.distance.far}}m({{weapon.dice.extreme}}D)</a>
              </span>
            </div>
            <div class="legend-name magazine-ranged"
              title="{{localize 'DGNS.TotalAmmo'}}: {{weapon.totalAvailableAmmo}}">
              <a class="mag-count reload-click">{{weapon.mag.current}}</a><span>/{{weapon.mag.size}}</span>
              ({{weapon.Caliber}})
            </div>
            <div class="legend-name damage-ranged">
              <span>{{weapon.DamageFormula}}</span>
            </div>
            <div class="legend-name distance-ranged">
              <span>{{weapon.distance.short}}/{{weapon.distance.far}}</span>
            </div>
          </div>
          <div class="break"></div>
          {{#if weapon.qualities.length}}
          <div class="weapon-properties">
            <div class="square properties">
              <div class="name-rotate">P</div>
            </div>
            <div class="qualities-name">
              <span>
                {{#each weapon.Qualities as |quality q|}}
                <a class="capitalize quality-dropdown" data-key="{{q}}" data-type="weapon">{{quality}}</a>
                {{/each}}
              </span>
            </div>
          </div>
          {{/if}}

          <div class="break"></div>
        </div>

        {{/each}}
      </div>
    </div>
    {{/if}}
    <!--* SONIC WEAPON-->
    {{#if arsenal.sonicWeapons.length}}
    <div class="arsenal-group weapon-group">
      <div class="weapon">
        <div class="first-part">
          <div class="black-title">
            <h3>{{localize "DGNS.SonicWeapons"}}</h3>
          </div>
          {{{drawStartLine 26}}}

          <div class="empty"></div>
        </div>
        <div class="weapon-legend legend">
          <div class="legend-name uses-ranged">
            <span>{{localize "DGNS.Uses"}}</span>
          </div>
          <div class="legend-name magazine">
            <span>{{localize "DGNS.Magazine"}}</span>
          </div>
          <div class="legend-name damage">
            <span>{{localize "DGNS.Damage"}}</span>
          </div>
          <div class="legend-name distance">
            <span>{{localize "DGNS.Distance"}}</span>
          </div>
        </div>
      </div>
      <div class="arsenal-list item-list">
        {{#each arsenal.sonicWeapons as |weapon w|}}
        <div class="weapon item" data-item-id="{{weapon.id}}">
          <a class="weapon-name">{{weapon.name}}</a>
          <div class="weapon-characteristics">
            <div class="legend-name uses-ranged-sonic">
              <span><a class="roll-weapon" data-use="attack-sonic">{{localize "DGNS.Attack"}} (INT+Eng &
                  PSY+Dom)</a></span>
            </div>
            <div class="legend-name magazine-ranged-sonic">
              <a class="mag-count">10</a><span>/{{weapon.mag.size}}</span>
            </div>
            <div class="legend-name damage-ranged-sonic">
              <span>{{weapon.DamageFormula}}</span>
            </div>
            <div class="legend-name distance-ranged-sonic">
              <span>{{weapon.distance.melee}}</span>
            </div>
          </div>
          <div class="break"></div>
          {{#if weapon.qualities.length}}
          <div class="weapon-properties">
            <div class="square properties">
              <div class="name-rotate">P</div>
            </div>
            <div class="qualities-name">
              <span>
                {{#each weapon.Qualities as |quality q|}}
                <a class="capitalize quality-dropdown" data-key="{{q}}" data-type="weapon">{{quality}}</a>
                {{/each}}
              </span>
            </div>
          </div>
          {{/if}}

          <div class="break"></div>
        </div>

        {{/each}}
      </div>
    </div>
    {{/if}}
    <!--* ARMOR -->
    {{#if arsenal.armor.length}}
    <div class="arsenal-group armor-group">
      <div class="armor">
        <div class="first-part">
          <div class="black-title">
            <h3>{{localize "DGNS.Armor"}}</h3>
          </div>
          {{{drawStartLine 26}}}
        </div>
        <div class="armor-legend legend">
          <div class="legend-name armor-value">
            <span>{{localize "DGNS.ArmorValue"}}</span>
          </div>
        </div>
      </div>

      <div class="arsenal-list item-list">
        {{#each arsenal.armor as |armor a|}} {{#if armor.equipped}}
        <div class="armor item" data-item-id="{{armor.id}}">
          <a class="armor-name">{{armor.name}}</a>
          <div class="armor-characteristics">
            <div class="legend-name armor-value">
              <span>{{armor.AP}}</span>
            </div>
          </div>
          <div class="break"></div>
          {{#if armor.qualities.length}}
          <div class="armor-properties">
            <div class="square properties">
              <div class="name-rotate">P</div>
            </div>
            <div class="qualities-name">
              <span>
                {{#each armor.Qualities as |quality q|}}
                <a class="capitalize quality-dropdown" data-key="{{q}}" data-type="armor">{{quality}}</a>
                {{/each}}
              </span>
            </div>
          </div>
          {{/if}}

          <div class="break"></div>
        </div>
        {{/if}} {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
</div>

{{{drawPageSquare 3 6}}}