<div class="title">
   <div class="body-column body-line">
      <!-- <div class="title-line middle-left"></div> -->
     <div class="square little left"></div>
     <svg class="title-line middle-left" height="11" width="100%">
        <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
     </svg>
      <div class="middle-name">{{localize "DGNS.Attributes"}} & {{localize "DGNS.Skills"}}</div>
      <svg class="title-line middle-right" height="11" width="100%">
         <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
      </svg>
      <div class="square little right"></div>
   </div>
</div> 
<!-- advantage-tab -->
<div class="attribute-tab">
   {{#each attributeSkillGroups as |group g|}}
   <!-- advantage-group -->
   <div class="attribute-skill-group">
      <!-- background -->
      <div data-target="{{g}}" class="attribute"> 
         <!-- black-title -->
         <div class="attribute-name">
            <h3>{{group.label}}</h3>
            {{#if group.isPreferred}}
            <h3>•</h3>
            {{/if}}
         </div>
         
         <div class = "diamond-row" data-target="data.attributes.{{g}}.value">
            {{#each group.diamonds as |diamond index|}}
               {{#if diamond.filled}}
                  <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
               {{else}}
                  <a class = "diamond" data-index={{index}}><div class="square"></div></a>
               {{/if}}
            {{/each}}
         </div>
      </div>
      <!-- advantage-list -->
      <div class = "skill-list">
         {{#each group.skills as |skill sk|}}
         <!-- advantage -->
         <div data-target="{{sk}}" class="skill">
            <!-- background-name -->
            {{#if skill.unused}}
            <a class="skill-name unused">{{skill.label}}</a>
            {{else}}
            <a class="skill-name">{{skill.label}}</a>
            {{/if}}
            <div class = "diamond-row" data-target="data.skills.{{sk}}.value">
               {{#each skill.diamonds as |diamond index|}}
                  {{#if diamond.filled}}
                     <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
                  {{else}}
                     <a class = "diamond" data-index={{index}}><div class="square"></div></a>
                  {{/if}}
               {{/each}}
            </div>
         </div>
         {{/each}}
      </div>
   </div>
   {{/each}}
</div>
<div class="footer-diamond">
   <div class="square little"></div>
 </div>
