<div class="title">
    <div class="body-column body-line">
       <div class="square little left"></div>
       <svg class="title-line middle-left" height="11" width="100%">
          <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
       </svg>
       <div class="middle-name">{{localize "DGNS.Combat"}}</div>
       <svg class="title-line middle-right" height="11" width="100%">
          <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
       </svg>
       <div class="square little right"></div>
    </div>
</div>
 
<div class="combat-tab">
   
    <!-- * GENERAL * -->
    <div class="combat-group general-group">
       <div class="background">
          <div class="black-title">
             <h3>{{localize "DGNS.General"}}</h3>
          </div>
       </div>
        <div class="combat-list">
            <div class="combat">
                <div class="general-name">{{localize "DGNS.Movement"}}:</div>
                <span>{{data.general.movement}}m</span>
            </div>
            <div class="combat">
                <div class="general-name">{{localize "DGNS.Encumbrance"}}:</div>
                <span>{{data.general.encumbrance.current}} / {{data.general.encumbrance.max}}</span>
            </div>
            <div class="combat">
                <div class="general-name">{{localize "DGNS.Armor"}}:</div>
                <span>{{data.general.armor}}</span>
            </div>
            <div class="combat">
                <div class="general-name">{{localize "DGNS.ActionMod"}}:</div>
                <span>{{data.general.actionModifier}}</span>
            </div>
        </div>
    </div>
 
    <!-- * FIGHTING * -->
    <div class="combat-group fighting-group">
       <div class="background">
          <div class="black-title">
             <h3>{{localize "DGNS.Fighting"}}</h3>
          </div>
       </div>
       <div class="combat-list">
        <div class="combat">
            <div class="general-name">{{localize "DGNS.Initiative"}}</div>
            <span>{{data.fighting.initiative}}D</span>
        </div>
        <div class="combat">
            <div class="general-name">{{localize "DGNS.Dodge"}}</div>
            <span>{{data.fighting.dodge}}D</span>
        </div>
        <div class="combat">
            <div class="general-name">{{localize "DGNS.MentalDef"}}</div>
            <span>{{data.fighting.mentalDefense}}D</span>
        </div>
        <div class="combat">
            <div class="general-name">{{localize "DGNS.PassiveDef"}}</div>
            <span>{{data.fighting.passiveDefense}}</span>
        </div>
    </div>
    </div>
     
 
    <!-- * STATE * -->
    <div class="combat-group state-group">
       <div class="background">
          <div class="black-title">
             <h3>{{localize "DGNS.State"}}</h3>
          </div>
       </div>
       <div class="combat">
            <div class="general-name" data-target="data.state.state.dropBackpack">{{localize "DGNS.DropBackpack"}}</div> 
            {{#if data.state.state.dropBackpack}} 
            <a class="square black button-position checkbox" data-target="data.state.state.dropBackpack"></a>
            {{else}}
            <a class="square button-position checkbox" data-target="data.state.state.dropBackpack"></a>
            {{/if}}
        </div>
        <div class="combat">
            <div class="general-name checkbox" data-target="data.state.state.motion">{{localize "DGNS.InMotion"}}</div>             
            {{#if data.state.state.motion}} 
            <a class="square black button-position checkbox" data-target="data.state.state.motion"></a>
            {{else}}
            <a class="square button-position checkbox" data-target="data.state.state.motion"></a>
            {{/if}}
        </div>
        <div class="combat">
            <div class="general-name checkbox" data-target="data.state.state.active">{{localize "DGNS.ActiveAndOnMyFeet"}}</div>
            {{#if data.state.state.active}} 
            <a class="square black button-position checkbox" data-target="data.state.state.active"></a>
            {{else}}
            <a class="square button-position checkbox" data-target="data.state.state.active"></a>
            {{/if}}
        </div>
        <div class="combat">
            <div class="general-name checkbox">{{localize "DGNS.Cover"}}</div>
            <div class = "diamond-row" data-target="data.state.state.cover.value">
            {{#each cover.diamonds as |diamond index|}}
               {{#if diamond.filled}}
                  <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
               {{else}}
                  <a class = "diamond" data-index={{index}}><div class="square"></div></a>
               {{/if}}
            {{/each}}
         </div>
        </div>
        <div class="combat">
            <div class="general-name checkbox">{{localize "DGNS.SpentEgo"}}</div>
            <div class = "diamond-row" data-target="data.state.state.spentEgo.value">
            {{#each spentEgo.diamonds as |diamond index|}}
               {{#if diamond.filled}}
                  <a class = "diamond" data-index={{index}}><div class="square black"></div></a>
               {{else}}
                  <a class = "diamond" data-index={{index}}><div class="square"></div></a>
               {{/if}}
            {{/each}}
        </div>
    </div>
 
    <!-- <div class="break"></div>
    
    <div class="title arsenal-title">
        <div class="body-column body-line">
           <div class="square little left"></div>
           <svg class="title-line middle-left" height="11" width="100%">
              <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
           </svg>
           <div class="middle-name">{{localize "DGNS.Arsenal"}}</div>
           <svg class="title-line middle-right" height="11" width="100%">
              <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
           </svg>
           <div class="square little right"></div>
        </div>
    </div> -->
</div>

 
<div class="footer-diamond">
    <div class="square little"></div>
    <div class="square little"></div>
    <div class="square little"></div>
    <div class="square little"></div>
</div>