<div class="title">
    {{{drawSubtitle (localize "DGNS.History")}}}
 </div>
 
<div class="history-tab">

    <!-- * LEGACY * -->
    <div class="lt-group empt history-group legacy-group">
        <div class="legacy lt-top">
            <div class="first-part">
                <div class="black-title">
                    <h3>{{localize "DGNS.Legacies"}}</h3>
                </div>
                {{{drawStartLine 29}}}
            </div>
            <div class="legacy-legend legend">
                <a class="icon item-add" data-item="legacy"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="history-list item-list">
            {{#each actor.legacyItems as |legacy l|}}
            <div class="history item" data-item-id={{legacy.id}}>
                <a class="legacy-name item-name dropdown">{{legacy.name}}</a>
                <div class="legacy-characteristics item-characteristics">
                    <div class="empty"></div>
                    {{> systems/degenesis/templates/common/sheet-vertical-bar.html }}
                    <div class="item-controls">
                        <a class="icon item-post"><i class="fas fa-comment"></i></a>
                        <a class="icon item-edit"><i class="fas fa-edit"></i></a>
                        <a class="icon item-delete"><i class="fas fa-times"></i></a>
                    </div>
                </div>
                <div class="break"></div>
            </div>
            {{/each}}
        </div>
    </div>

    <!-- * Biography  -->
    <div class="lt-group history-group biography-group">
        <div class="biography lt-top">
            <div class="first-part">
                <div class="black-title">
                    <h3>{{localize "DGNS.Biography"}}</h3>
                </div>
                {{{drawStartLine 29}}}
            </div>
            <div class="biography-legend legend">
                <a class="editor-edit"><i class="fas fa-edit"></i></a>
            </div>
        </div>
        {{editor enrichment.system.biography.value target="system.biography" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>

    <!-- * GM Notes  -->
    {{#if (isGM)}}
    <div class="lt-group history-group gmnotes-group">
        <div class="gmnotes lt-top">
            <div class="first-part">
                <div class="black-title">
                    <h3>{{localize "DGNS.GMNotes"}}</h3>
                </div>
                {{{drawStartLine 29}}}
            </div>
            <div class="gmnotes-legend legend">
                <a class="editor-edit"><i class="fas fa-edit"></i></a>
            </div>
        </div>
    
        {{editor enrichment.system.gmnotes.value target="system.gmnotes" engine="prosemirror" button=true owner=owner editable=editable}}
    </div>
    {{/if}}
</div>


{{{drawPageSquare 5 6}}}