<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        {{{drawTitle (localize "DGNS.Archetype")}}}

        <!-- Start new row -->
        <div class="break"></div>
        <div class="header-column char-info left">
            <div class="sheet-field">
                <span class="field-name">{{localize "DGNS.Name"}}:</span>
                <input class="field-input" type="text" name="name" value="{{actor.name}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">{{localize "DGNS.Age"}}:</span>
                <input class="field-input" type="text" name="data.details.age.value"
                    value="{{data.details.age.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">{{localize "DGNS.Rank"}}:</span>
                <input class="field-input" type="text" name="data.details.rank.value"
                    value="{{data.details.rank.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">{{localize "DGNS.Experience"}}:</span>
                <input class="field-input" type="text" name="data.details.experience.value"
                    value="{{data.details.experience.value}}" />
            </div>
        </div>
        {{{drawImage actor}}}
        <div class="header-column char-info right">
            <div class="sheet-field">
                <span class="field-name">{{localize "DGNS.Sex"}}:</span>
                <input class="field-input" type="text" name="data.details.sex.value"
                    value="{{data.details.sex.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">{{localize "DGNS.Height"}}:</span>
                <input class="field-input" type="text" name="data.details.height.value"
                    value="{{data.details.height.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">{{localize "DGNS.Weight"}}:</span>
                <input class="field-input" type="text" name="data.details.weight.value"
                    value="{{data.details.weight.value}}" />
            </div>
            <div class="sheet-field">
                <span class="field-name">{{localize "DGNS.DraftsDinars"}}:</span>
                <input class="field-input" type="text" name="data.details.dinars.value"
                    value="{{data.details.dinars.value}}" />
            </div>
        </div>
        <div class="break"></div>
        <!-- ! WORK IN PROGRESS ! -->
        <div class="three-Cs row">
            <div class="sheet-field-stack">
                <div class="title-Cs">{{localize "DGNS.Culture"}}</div>
                <img class="culture-img" height="80" width="80" src="{{cultureIcon}}" />
                <div class="c-popout culture">
                    <h2>{{actor.Culture}}</h2>
                    {{{configLookup "cultureDescription" actor.details.culture.value}}}
                </div>
                <select name="data.details.culture.value" data-dtype="{{data.details.culture.value}}">
                    {{#select data.details.culture.value}}
                    <option value=""></option>
                    {{#each (config "cultures") as |culture c|}}
                    <option value="{{c}}">{{culture}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class="sheet-field-stack">
                <div class="title-Cs">{{localize "DGNS.Concept"}}</div>
                <img class="concept-img" height="80" width="80" src="{{conceptIcon}}" />
                <div class="c-popout concept">
                    <h2>{{actor.Concept}}</h2>
                    {{{configLookup "conceptDescription" actor.details.concept.value}}}
                </div>
                <select name="data.details.concept.value" data-dtype="{{data.details.concept.value}}">
                    {{#select data.details.concept.value}}
                    <option value=""></option>
                    {{#each (config "concepts") as |concept c|}}
                    <option value="{{c}}">{{concept}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="sheet-field-stack">
                <div class="title-Cs">{{localize "DGNS.Cult"}}</div>
                <img class="cult-img" height="80" width="80" src="{{cultIcon}}" />
                <div class="c-popout cult">
                    <h2>{{actor.Cult}}</h2>
                    {{{configLookup "cultDescription" actor.details.cult.value}}}
                </div>
                <select name="data.details.cult.value" data-dtype="{{data.details.cult.value}}">
                    {{#select data.details.cult.value}}
                    <option value=""></option>
                    {{#each (config "cults") as |cult c|}}
                    <option value="{{c}}">{{cult}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>
        <!-- ! WORK IN PROGRESS ! -->
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "DGNS.Attributes"}}</a>
        <a class="item" data-tab="advantages">{{localize "DGNS.Advantages"}}</a>
        <a class="item" data-tab="condition">{{localize "DGNS.Condition"}}</a>
        <a class="item" data-tab="combat">{{localize "DGNS.Combat"}}</a>
        <a class="item" data-tab="inventory">{{localize "DGNS.Inventory"}}</a>
        <a class="item" data-tab="history">{{localize "DGNS.History"}}</a>
    </nav>

    <div class="tab-content">
        <div class="tab" data-tab="attributes">
            {{> systems/degenesis/templates/actor/actor-attributes-skills-diamonds.html}}
        </div>
        <div class="tab" data-tab="advantages">
            {{> systems/degenesis/templates/actor/actor-advantages.html}}
        </div>
        <div class="tab" data-tab="condition">
            {{> systems/degenesis/templates/actor/actor-condition.html}}
        </div>
        <div class="tab" data-tab="combat">
            {{> systems/degenesis/templates/actor/actor-combat.html}}
        </div>
        <div class="tab" data-tab="inventory">
            {{> systems/degenesis/templates/actor/actor-inventory.html}}
        </div>
        <div class="tab" data-tab="history">
            {{> systems/degenesis/templates/actor/actor-history.html}}
        </div>
    </div>
    {{> systems/degenesis/templates/common/sheet-footer.html }}
</form>