<div class="attribute-tab">
   {{#each attributeSkillGroups as |group g|}}
   <div class="attribute-skill-group">
      <div class="attribute"> 
         <h3>{{group.label}}</h3>
         <input type="text" name="data.attributes.{{g}}.value" value="{{group.value}}" data-dtype="Number" />
      </div>
      <div class = "skill-list">
         {{#each group.skills as |skill sk|}}
         <div class = "skill">
            <a>{{skill.label}}</a>
            <input type="text" name="data.skills.{{sk}}.value" value="{{skill.value}}" data-dtype="Number"/>      
         </div>
         {{/each}}
      </div>
   </div>
   {{/each}}
</div>
