
<div class="title">
   <div class="body-column body-line">
      <div class="square little left"></div>
      <svg class="title-line middle-left" height="11" width="100%">
         <line x1="0" y1="11" x2="100%" y2="11" style="stroke: black; stroke-width: 1;"></line>
      </svg>
      <div class="middle-name">{{localize "DGNS.Condition"}}</div>
      <svg class="title-line middle-right" height="11" width="100%">
         <line x1="0" y1="11" x2="100%" y2="11" style="stroke: black; stroke-width: 1;"></line>
      </svg>
      <div class="square little right"></div>
   </div>
</div>

<div class="condition-tab">
   <!-- * CONDITION * -->
   <div class="column-flex">

      <div class="ego bar-group">
         <div class="diamond-row bar" data-target="data.condition.ego.value">
            {{#each data.condition.ego.diamonds as |diamond index|}}
               {{#if diamond.locked}}
               <div class="diamond" data-index={{index}}>
                  <div class="square black"></div>
               </div>
               {{else if diamond.filled}}
               <a class="diamond" data-index={{index}}>
                  <div class="square red"></div>
               </a>
               {{else}}
               <a class="diamond" data-index={{index}}>
                  <div class="square"></div>
               </a>
               {{/if}}
            {{/each}}
         </div>
         <div class="text condition-title">
            {{localize "DGNS.Ego"}}
         </div>
      </div>

      <div class="spore bar-group">
         <div class="diamond-row bar" data-target="data.condition.spore.value">
            {{#each data.condition.spore.diamonds as |diamond index|}}
               {{#if diamond.locked}}
               <div class="diamond" data-index={{index}}>
                  <div class="square black"></div>
               </div>
               {{else if diamond.permanent}}
               <a class="diamond perma" data-index={{index}}>
                  <div class="square red perma" data-index={{index}}><div class="square-into black mid-size"></div></div>
               </a>
               {{else if diamond.filled}}
               <a class="diamond perma" data-index={{index}}>
                  <div class="square red"></div>
               </a>
               {{else}}
               <a class="diamond" data-index={{index}}>
                  <div class="square"></div>
               </a>
               {{/if}}
            {{/each}}
         </div>
         <div class="text condition-title">
            {{localize "DGNS.Spore"}}
         </div>
      </div>

      <div class="fleshwounds bar-group">
         <div class="diamond-row bar" data-target="data.condition.fleshwounds.value">
            {{#each data.condition.fleshwounds.diamonds as |diamond index|}}
               {{#if diamond.locked}}
               <div class="diamond" data-index={{index}}>
                  <div class="square black"></div>
               </div>
               {{else if diamond.filled}}
               <a class="diamond" data-index={{index}}>
                  <div class="square red"></div>
               </a>
               {{else}}
               <a class="diamond" data-index={{index}}>
                  <div class="square"></div>
               </a>
               {{/if}}
            {{/each}}
         </div>
         <div class="text condition-title">
            {{localize "DGNS.Fleshwounds"}}
         </div>
      </div>

      <div class="trauma bar-group">
         <div class="diamond-row bar" data-target="data.condition.trauma.value">
            {{#each data.condition.trauma.diamonds as |diamond index|}}
               {{#if diamond.locked}}
               <div class="diamond" data-index={{index}}>
                  <div class="square black"></div>
               </div>
               {{else if diamond.filled}}
               <a class="diamond" data-index={{index}}>
                  <div class="square red"></div>
               </a>
               {{else}}
               <a class="diamond" data-index={{index}}>
                  <div class="square"></div>
               </a>
               {{/if}}
            {{/each}}
         </div>
         <div class="text condition-title">
            {{localize "DGNS.Trauma"}}
         </div>
      </div>
   </div>

   <div class="bottom-conditions">
      <div class="modifiers-group conditions-group">
         <div class="black-title">
            <h3>{{localize "DGNS.Modifiers"}}</h3>
            <a class="icon item-add" data-item="modifier">+</a>
         </div>
         <div class="modifiers-data conditions-data">
            <ol class="modifiers-ol conditions-ol">
            {{#each actor.modifierItems as |mod m|}}
               <li class="conditions-li modifiers-li item" data-item-id="{{mod.id}}" {{#if mod.data.disabled}} style="opacity : 0.5" {{/if}}>
                  <div class="conditions-characteristics">
                        {{#if mod.disabled}}
                          <a class="square border-black button-position checkbox" data-target="item" data-item-target="data.disabled"><div class="square-into"></div></a>
                           {{else}}
                          <a class="square button-position checkbox" data-target="item" data-item-target="data.disabled" ><div class="square-into black"></div></a>
                           {{/if}}
                     <div class='item-data'>
                        <div class="conditions-value">
                           <a class="modifiers-number dropdown">{{mod.ModifyNumber}}</a>
                           <a class="modifiers-type dropdown">{{mod.ModifyType}}</a>
                        </div>
                        {{#if mod.modifyShowName }}
                           <a class="modifiers-action dropdown">{{mod.name}}</a>
                        {{else}}
                           {{#if (eq mod.action "custom")}}
                              <a class="modifiers-action dropdown">{{mod.name}}</a>
                           {{else}}
                              <a class="modifiers-action dropdown">{{mod.ActionType}}</a>
                           {{/if}}
                        {{/if}}
                        <div class="vertical-bar">
                           <svg height="15px" width="1px">
                              <line x1="0%" y1="0%" x2="0%" y2="14px" style="stroke:black;stroke-width:1"></line>
                           </svg>
                        </div>
                     </div>
                     <div class="item-controls">
                        <a class="icon item-post"><i class="fas fa-comment"></i></a>
                        <a class="icon item-edit"><i class="fas fa-edit"></i></a>
                        <a class="icon item-delete"><i class="fas fa-times"></i></a>
                     </div>
                  </div>
               </li>
            {{/each}}
         </div>
      </div>

      <div class="complications-group conditions-group">
         <div class="black-title">
            <h3>{{localize "DGNS.Complications"}}</h3>
            <a class="icon item-add" data-item="complication">+</a>
         </div>
         <div class="complications-data conditions-data">
            <ol class="complications-ol conditions-ol">
            {{#each actor.complicationItems as |complication c|}}
               <li class="complications-li conditions-li item" data-item-id="{{complication.id}}">
                  <div class="conditions-characteristics">
                     {{#if (isGM)}}
                     <div class='item-data'>
                        <a class="complications-name conditions-name dropdown">{{complication.name}}</a>
                        <a class="complications-rating conditions-number dropdown">{{complication.cost}}T</a>
                           /
                        <a class="complications-rating conditions-number dropdown">{{complication.rating}}</a>
                        <div class="vertical-bar">
                           <svg height="15px" width="1px">
                              <line x1="0%" y1="0%" x2="0%" y2="14px" style="stroke:black;stroke-width:1"></line>
                           </svg>
                        </div>
                     </div>
                     <div class="item-controls">
                        <a class="icon item-post"><i class="fas fa-comment"></i></a>
                        <a class="icon item-edit"><i class="fas fa-edit"></i></a>
                        <a class="icon item-delete"><i class="fas fa-times"></i></a>
                     </div>
                        {{else}}
                        <div class='item-data'>
                           <span class="complications-name conditions-name">{{complication.name}}</span>
                        </div>
                        {{/if}}
                  </div>
               </li>
            {{/each}}
            </ol>
         </div>
      </div>
   </div>
</div>

   <div class="footer-diamond">
      <div class="square little"></div>
      <div class="square little"></div>
      <div class="square little"></div>
   </div>