<h2>{{{title}}}</h2>

<div class="roll-summary">
  <div>{{successes}}{{localize "UI.S"}}</div>
  <div>{{triggers}}{{localize "UI.T"}}</div>
</div>

{{#if result}}<h2 class="result {{#if (isSuccess enResult)}}success{{else}}failure{{/if}}">{{result}}</h2>{{/if}}

<div class="roll-details">
  {{#if spentEgo}}
  <h2 class="spent-ego">{{localize "DGNS.SpentEgo"}}: {{spentEgo}}</h2>
  {{/if}}
  {{#if spentSpore}}
  <h2 class="spent-ego">{{localize "DGNS.SpentSpore"}}: {{spentSpore}}</h2>
  {{/if}}
  <h2 class="initiative">{{localize "DGNS.Initiative"}}: {{initiative}}</h2>
  <h2 class="actions">{{localize "DGNS.Actions"}}: {{actions}}</h2>
</div>


<div class="chat-roll-dice{{#if (moreThanSixDice rolls) }} two-rows-dice {{/if}}">
  {{#each rolls as |roll r|}}
  <img src="{{roll.img}}" class="chat-roll-die" />
  {{/each}}
</div>

{{#if secondaryRolls}}
<hr />
<div class="chat-roll-dice{{#if (moreThanSixDice secondaryRolls) }} two-rows-dice {{/if}} style=" margin-top: -31px;">
  {{#each secondaryRolls as |roll r|}}
  <img src="{{roll.img}}" class="chat-roll-die" />
  {{/each}}
</div>{{/if}}