<div class="post-item">
    <div class="post-item-content">
        <h2>{{item.name}}</h2>
        <img src={{item.img}} class="post-item-img" />

       
        {{#if text}}
        <div class="description">
           
            <button type="button" class="button-toggle-description">{{localize "DGNS.Description"}}</button>

            <div class="description-text">
                {{{text}}}
            </div>
          
        </div>
        {{/if}}


        
        <div class="item-details">
            {{#if item.cult}}
            <h3><b>{{localize "DGNS.Cult"}}</b>: {{item.cult}}</h3>
            {{/if}}

            {{#if item.encumbrance}}
            <h3><b>{{localize "DGNS.Encumbrance"}}</b>: {{item.encumbrance}}</h3>
            {{/if}}

            {{#if item.value}}
            <h3><b>{{localize "DGNS.Value"}}</b>: {{item.value}}</h3>
            {{/if}}

            {{#if item.tech}}
            <h3><b>{{localize "DGNS.Tech"}}</b>: {{item.Tech}}</h3>
            {{/if}}

            {{#if item.origin}}
            <h3><b>{{localize "DGNS.Origin"}}</b>: {{item.origin}}</h3>
            {{/if}}

            {{#if item.resources}}
            <h3><b>{{localize "DGNS.Resources"}}</b>: {{item.resources}}</h3>
            {{/if}}

            {{#if item.prerequisite}}
            <h3><b>{{localize "DGNS.Prerequisite"}}</b>: {{item.prerequisite}}</h3>
            {{/if}}

            {{#if item.slots}}
            <h3><b>{{localize "DGNS.Slots"}}</b>: {{item.slots.used}} / {{item.slots.total}}</h3>
            {{/if}}

            {{#if item.quantity}}
            <h3><b>{{localize "DGNS.Quantity"}}</b>: {{item.quantity}}</h3>
            {{/if}}

            {{#if item.group}}
            <h3><b>{{localize "DGNS.Group"}}</b>: {{item.Group}}</h3>
            {{/if}}

            <hr>

            {{#if item.damage}}
            <h3><b>{{localize "DGNS.Damage"}}</b>: {{item.DamageFormula}} {{item.DamageType}}</h3>
            {{/if}}

            {{#if item.defense}}
            <h3><b>{{localize "DGNS.ActiveDefense"}}</b> : {{item.defense.D}}</h3>
            <h3><b>{{localize "DGNS.PassiveDefense"}}</b> : {{item.defense.p_defense}}</h3>
            <h3><b>{{localize "DGNS.Attack"}}</b> : {{item.attack.D}}</h3>
            {{/if}}

            {{#if item.transportvalue}}
            <h3><b>{{localize "DGNS.TransportValue"}}</b>: {{item.transportValue}}</h3>
            {{/if}}

            {{#if item.slotCost}}
           <h3><b>{{localize "DGNS.SlotCost"}}</b>: {{item.SlotCost}}</h3>
            {{/if}}

            {{#if item.level}}
           <h3><b>{{localize "DGNS.Level"}}</b>: {{item.level}}</h3>
            {{/if}}

            {{#if item.modifyAction}}
           <h3><b>{{localize "DGNS.Action"}}</b>: {{item.modifyAction}}</h3>
            {{/if}}

            {{#if item.modifyNumber}}
           <h3><b>{{localize "DGNS.Number"}}</b>: {{item.modifyNumber}}</h3>
            {{/if}}

            {{#if item.modifyType}}
           <h3><b>{{localize "DGNS.Type"}}</b>: {{item.modifyType}}</h3>
            {{/if}}

            {{#if item.cost}}
           <h3><b>{{localize "DGNS.Cost"}}</b>: {{item.cost}}</h3>
            {{/if}}

            {{#if item.rating}}
           <h3><b>{{localize "DGNS.Rating"}}</b>: {{item.rating}}</h3>
            {{/if}}

            {{#if item.bonus}}
           <h3><b>{{localize "DGNS.Bonus"}}</b>: {{item.bonus}}</h3>
            {{/if}}

            {{#if item.drawback}}
           <h3><b>{{localize "DGNS.Drawback"}}</b>: {{item.drawback}}</h3>
            {{/if}}

            {{#if item.distance}}
           <h3><b>{{localize "DGNS.Distance"}}</b>: {{item.distance.short}} / {{item.distance.far}} /
            {{item.distance.melee}}</h3>
            {{/if}}

            {{#if item.caliber}}
           <h3><b>{{localize "DGNS.Caliber"}}</b>: {{item.Caliber}}</h3>
            {{/if}}

            {{#if item.handling}}
           <h3><b>{{localize "DGNS.Handling"}}</b>: {{item.handling}}D</h3>
            {{/if}}

            {{#if item.mag}}
           <h3><b>{{localize "DGNS.Magazine"}}</b>: {{item.mag.size}}</h3>
            {{/if}}

        </div>
        {{#if item.qualities}}
        <h3><b>{{localize "DGNS.Qualities"}}:</b></h3> {{#each item.Qualities as |quality q|}}<h3>{{quality}}</h3>{{/each}}
        {{/if}}
    </div>
</div>