// New portrait display class

#chat-log {
  overflow-y: overlay;
}

#chat-form {
  margin: 0 6px 10px;

  textarea {
    font-family: $serif-content-font;
    color: var(--text-white);
    // background: url(../ui/black_01.jpg);
    background: linear-gradient(
      0deg,
      var(--b-alpha-10) 0%,
      rgba(0, 0, 0, 0.6965161064425771) 100%
    );
    border-radius: 5px;
    border: 1px solid var(--c-gold);
    margin-top: 3px;

    &:focus {
      box-shadow: none;
      border: 0;
    }
  }
}

.chat-message {
}

/* .message .message-content .cluster-credits {
  font-size: 11px;
} */

.post-item {
  .description {
    text-align: center;

    button.button-toggle-description {
      border: 1px solid var(--c-pred);
      width: auto;
      min-width: 50%;
      margin: 15px 0px 5px 0px;

      &:focus {
        box-shadow: none;
      }
    }

    .description-text {
      overflow: hidden;
      text-align: justify;
      max-height: 0px;
      -webkit-transition: all 0.8s cubic-bezier(0, 0.94, 0.65, 1);
      -moz-transition: all 0.8s cubic-bezier(0, 0.94, 0.65, 1);
      -o-transition: all 0.8s cubic-bezier(0, 0.94, 0.65, 1);
      transition: all 0.8s cubic-bezier(0, 0.94, 0.65, 1);

      &.description-show {
        max-height: 800px;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        transition: all 0.8s ease-in-out;
      }
    }
  }

  .post-item-img {
    width: 100px;
    height: 100px;
  }

  .post-item-content {
    text-align: justify;
  }

  img {
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    text-align: center;
  }

  h3 {
    font-weight: 400;
    text-align: left;
    font-size: 14px;
    margin: 0;
    border: none;
  }

  &:hover {
    cursor: grab;
  }
}

.item-details {
  margin-top: 5px;

  > hr:first-child {
    display: none;
  }

  > hr:last-child {
    display: none;
  }
}
