.app.window-app.sheet.journal-sheet.journal-entry {
  $line-stroke-color: var(--c-gold);
  $line-stroke-width: 1.5px;

  .line-stroke {
    stroke: $line-stroke-color;
    stroke-width: $line-stroke-width;
  }

  a {
    text-shadow: none;
  }

  .edit-container {
    .editor-edit {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      opacity: 0.3;
      font-size: var(--font-size-20);
      border: 1px solid var(--c-gold);
      background-color: var(--b-alpha-5);

      &:hover {
        opacity: 1;
        color: var(--c-gold);
      }
    }
  }

  input {
    border-radius: $b-radius-md;
    border: 1px solid var(--c-gold);
    background-color: var(--b-alpha-5);
    transition: border 0.2s ease-in-out;

    &:hover {
      border-color: var(--c-pred);
    }

    &:focus {
      border-color: var(--c-pred);
    }
  }

  .page-number {
    color: var(--c-gold-4);
  }

  .page-title {
    text-shadow: none;

    &:hover {
      color: var(--c-pred);
    }
  }

  .directory-list {
    margin: 5px;
    padding-right: 0;
    border: 1px solid var(--c-gold);
    border-radius: $b-radius-md;
  }

  .directory-item {
    border: 0;

    border-bottom: 1px solid var(--c-gold);
    transition: all 0.5s ease-in-out;

    &:first-child {
      border-top-left-radius: $b-radius-md;
      border-top-right-radius: $b-radius-md;
    }

    &.active {
      background-color: var(--c-resin);

      //border-top: 1px solid var(--c-pred);
      //  border-bottom: 1px solid var(--c-pred);

      &::after {
        border: 1px solid transparent;
      }

      & + :not(.active) {
        border-bottom: 1px solid var(--c-gold);
      }

      .headings {
        opacity: 1;
        max-height: 200px;
        visibility: visible;
        transform: scaleY(1);
      }
    }

    .headings {
      display: block;
      max-height: 0;
      transform: scaleY(0);
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  .journal-sidebar {
    &.collapsed {
      .ownership-viewer {
        display: none;
      }
    }
  }

  .journal-entry-content {
    background-color: var(--b-alpha-5);
    background-image: url(../ui/black_02.jpg);
    background-blend-mode: color;

    .journal-header {
      margin: 0.5rem;

      input.title {
        font-family: "Avenir";
        font-size: var(--font-size-32);
        border: 0;
        text-align: left;
        border-radius: 0;
        border-bottom: 2px solid var(--c-gold-5);
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 0.2rem;
        &:hover {
          border-color: var(--c-pred);
        }
        &:focus {
          border-color: var(--c-pred);
        }
      }
    }

    .journal-page-header {
      color: var(--c-pred);
      text-transform: uppercase;
    }

    img {
      border: 1px solid var(--c-gold);
      border-radius: $b-radius-md;
    }
  }

  .journal-page-content {
    section.secret {
      display: flex;
      border: 1px solid var(--c-gold);
      border-radius: $b-radius-md;
      justify-content: center;
      padding: 5px;
      flex-direction: column;

      button {
        margin: 0px;
      }

      > *:not(:first-child) {
        display: none;
      }

      &.revealed {
        > *:not(:first-child) {
          display: block;
          text-align: justify;
          margin: 5px;
          color: var(--c-gold-4);
        }
      }
    }
  }

  .ownership-viewer {
    font-size: var(--font-size-14);
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }
  .ownership-viewer-all {
  }
}

.app.window-app.sheet.journal-sheet.journal-entry-page {
  .journal-header {
    margin: 0.5rem;

    input.title {
      font-family: "Avenir";
      font-size: var(--font-size-32);
      border: 0;
      text-align: left;
      border-radius: 0;
      border-bottom: 2px solid var(--c-gold-5);
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.2rem;
      &:hover {
        border-color: var(--c-pred);
      }
      &:focus {
        border-color: var(--c-pred);
      }
    }

    .page-level {
      flex: 0 0 140px;

      .show-title {
        display: flex;
      }

      input {
        display: inline-flex;
      }
    }
  }

  input[type="range"] {
    border: none;
    background: none;

    transition: all 0.2s ease-in-out;

    &:focus {
      &::-webkit-slider-runnable-track {
        border-color: var(--c-pred);
      }
    }

    &:hover {
      &::-webkit-slider-runnable-track {
        border-color: var(--c-pred);
      }
      &::-webkit-slider-thumb {
        border-color: var(--c-pred);
      }
    }

    &::-webkit-slider-runnable-track {
      background-color: var(--c-gold-8);
      border: 1px solid var(--c-gold);
      box-shadow: none !important;
      transition: all 0.3s ease-in-out;
    }

    &::-webkit-slider-thumb {
      transform: rotate(45deg);
      border: 2px solid var(--c-gold);
      background-color: black;
      transition: all 0.3s ease-in-out;

      aspect-ratio: 1;

      outline: none !important;
      box-shadow: none !important;
    }
  }
}
