/* COMPONENTS: _SCROLLBAR.SCSS */

// RESET CSS STANDARDS - BROKEN SCROLLBARS
:root,
* {
  scrollbar-width: unset !important;
  scrollbar-color: unset !important;
}

::-webkit-scrollbar {
  width: 6px;
  border: none;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: none;
  border: 1px solid var(--c-gold-5);
  background-color: var(--c-gold-7);
  border-radius: 3px !important;

  &:hover {
    border: 1px solid var(--c-pred-5);
    background-color: var(--c-pred-7);
  }
}
::-webkit-scrollbar-track {
  width: 4px;
  border: none;
  background-color: transparent;
  //background-color: var(--c-pred);
  // /background-image: url("../ui/images/scrolltrack.png");
  background-position: center;
  background-repeat: repeat-y;
  border-radius: 0px;
  box-shadow: none;
}
::-webkit-scrollbar-button {
  display: inline-block;
}
::-webkit-scrollbar-track-piece {
  display: none;
}
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}
