/* COMPONENTS: _SQUARES.SCSS */

.square {
  height: 9px;
  width: 9px;
  border: 1px solid var(--grey-160);
  margin: 0px 2px 0px 2px;
  -ms-transform: rotate(45deg);

  /* Internet Explorer */
  -moz-transform: rotate(45deg);

  /* Firefox */
  -webkit-transform: rotate(45deg);

  /* Safari et Chrome */
  -o-transform: rotate(45deg);

  /* Opera */
  display: flex;
  justify-content: center;
  border-radius: 1px;

  &.checkbox {
    display: inline-flex;
  }

  &.black {
    background-color: black;
    border: 1px solid black;
  }

  &.white {
    background-color: white;
    border: 1px solid white;
  }

  &.little {
  }

  &.red {
    background-color: var(--degenesis-red);
    border: 1px solid var(--degenesis-red);
  }

  &.border-black {
    border-color: black;
  }
}

.square-into {
  height: 80%;
  width: 80%;
  align-self: center;
  border: 1px solid var(--grey-160);
  transition: border-color 0.1s linear, background-color 0.1s linear;
}

.square.little {
  height: 7px;
  width: 7px;
  border: 1px solid var(--grey-160);
  margin: 0px 2px 0px 2px;
  -ms-transform: rotate(45deg);

  /* Internet Explorer */
  -moz-transform: rotate(45deg);

  /* Firefox */
  -webkit-transform: rotate(45deg);

  /* Safari et Chrome */
  -o-transform: rotate(45deg);

  /* Opera */
}

.properties.square {
  height: 14px;
  width: 14px;
  border: 1px solid var(--grey-160);
  margin: 0px 2px 0px 2px;
  -ms-transform: rotate(45deg);

  /* Internet Explorer */
  -moz-transform: rotate(45deg);

  /* Firefox */
  -webkit-transform: rotate(45deg);

  /* Safari et Chrome */
  -o-transform: rotate(45deg);

  /* Opera */
  flex: none;
}

.square-into {
  &.black {
    background-color: black;
    border: 1px solid black;
  }

  &.mid-size {
    background-color: black;
    border: none;
    height: 70%;
    width: 70%;
    border-radius: 1px;
  }
}

a {
  &.square.checkbox {
    transition: border-color 0.1s linear, background-color 0.1s linear;

    &:hover {
      border: 1px solid var(--degenesis-red);

      .square-into {
        &.black {
          background-color: var(--degenesis-red);
          border: 1px solid var(--degenesis-red);
        }

        &:not(.black) {
          border: 1px solid var(--degenesis-red);
        }
      }
    }
  }

  &.diamond .square {
    transition: border-color 0.1s linear, background-color 0.1s linear;
  }
}

a.diamond:hover .square {
  border: 1px solid var(--degenesis-red);

  &.perma {
    background-color: black;

    .square-into.black {
      background-color: var(--degenesis-red);
    }
  }

  &.red {
    border: 1px solid var(--grey-070);

    &.perma {
      border: 1px solid black;
    }
  }
}

/* ROW ELEMENTS */

.diamond-row {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
}

.diamond-position > * {
  display: flex;
  margin-right: 10px;
}
