<form class="{{cssClass}}" autocomplete="off">

    {{!--Sheet Header --}}
    <header class="sheet-header">
        {{{drawTitle (localize "DGNS.TypeNPC")}}}

        <!-- NEW ROW -->
        <div class="break"></div>
        <div class="header-column char-info left">

            <!-- PLACEHOLDER FOR INITIATIVE AND MOVEMENT STATS -->
            just a place holder for stuff
        </div>
        {{{drawImage actor}}}
        <div class="header-column char-info right">
            <div class="header-about">
                <div class="white-title">
                    <h3>{{ localize "DGNS.ABOUT" }}</h3>
                </div>
                <textarea class="fh-textarea" name="data.about">{{data.about}}</textarea>


            </div>
            <div class="break"></div>
        </div>
    </header>
</form>