#token-hud {
  font-family: $serif-content-font;

  .attribute {
    &.bar2 input {
      opacity: 1;
      box-shadow: 0 0 8px var(--grey-160) inset;
      border: 4px double #ffffff;
    }

    &.bar1 input {
      opacity: 1;
      box-shadow: 0 0 8px var(--degenesis-blackred) inset;
      border: 4px double var(--degenesis-red);
    }
  }
}

.placeable-hud .control-icon {
  background: rgba(0, 0, 0, 0.31);
  box-shadow: 0 0 23px #000000 inset;

  i.fas {
    position: relative;
    opacity: 0.8;
  }

  input[name="elevation"] {
    opacity: 1;
    box-shadow: 0 0 8px #675e00 inset;
    border: 4px double #9c5f00;
  }

  &.active {
    border: 1px solid var(--degenesis-red);
  }
}
