/* FONTS DEFINITIONS: _FONTS.SCSS */

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Black.otf");
  font-weight: 900;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Heavy.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Roman.otf");
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Book.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirLTStd-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Calluna";
  src: url("../fonts/Calluna-Regular.otf");
}

@font-face {
  font-family: "DG";
  src: url("../fonts/DG-Medium.otf");
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Variable.ttf");
  size-adjust: 120%;
  font-weight: 500;
}

@font-face {
  font-family: "Crimson Pro";
  src: url("../fonts/CrimsonPro-Italic.ttf");
  font-style: italic;
}
