// SECTION: VARIABLES 

// FONTS VARIABLES

$primary-header-font: "Avenir";

$sans-serif-content-font : "Avenir";
$serif-content-font: "Calluna";

// COLORS
// Replace all:
// --degenesis-red with $dgns-red
// --blackred with $dgns-blackred
// --light-grey with $grey-240
// --dark-grey with $grey-164

$dgns-red: rgb(237, 29, 39);
$dgns-blackred: rgb(154, 12, 19);
$dgns-artifact-gold: rgb(131, 117, 78); 
$dgns-artifact-gold-light: rgb(186, 170, 128); 
// GRAYS
$grey-240: rgb(240, 240, 240);
$grey-230: rgb(230, 230, 230);
$grey-220: rgb(220,220,220);

$grey-160: rgb(160, 160, 160);
$grey-070: rgb(70, 70, 70);

// BACKGROUNDS 

$bg-window-header: rgba(0, 0, 0, 0.2);
$bg-attributes-header: rgba(0, 0, 0, 0.05);

$bg-black :rgba(0,0,0,1);   


// TEXT VARIABLES

$text-white: rgba(255,255,255,1);

// RESET TO CSS VARIABLES

// FROM HELL VARIABLES

$fh-window-bg: rgba(32, 32, 32,1.0)

