<form>
    {{localize "DGNS.ConfigureActorInstructions"}}
    <div class="form-group">
        <label>{{localize "DGNS.Ego"}}</label>
        <div class="form-fields">
            <input type="text" data-dtype="Number" name="system.condition.ego.override"
                value="{{object.condition.ego.override}}">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "DGNS.Spore"}}</label>
        <div class="form-fields">
            <input type="text" data-dtype="Number" name="system.condition.spore.override"
                value="{{object.condition.spore.override}}">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "DGNS.Fleshwounds"}}</label>
        <div class="form-fields">
            <input type="text" data-dtype="Number" name="system.condition.fleshwounds.override"
                value="{{object.condition.fleshwounds.override}}">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "DGNS.Trauma"}}</label>
        <div class="form-fields">
            <input type="text" data-dtype="Number" name="system.condition.trauma.override"
                value="{{object.condition.trauma.override}}">
        </div>
    </div>

    <div class="form-group">
        <label>{{localize "DGNS.Encumbrance"}}</label>
        <div class="form-fields">
            <input type="text" data-dtype="Number" name="system.general.encumbrance.override"
                value="{{object.general.encumbrance.override}}">
        </div>
    </div>
    <button type="submit" name="submit"><i class="far fa-save"></i> {{ localize "Save"}}</button>
</form>