<form>
  <h2>{{localize "DGNS.Condition"}}</h2>
  <div class="form-group">
    <label>{{localize "DGNS.Ego"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.ego.max"
        value="{{object.condition.ego.max}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Spore"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.spore.max"
        value="{{object.condition.spore.max}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Fleshwounds"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.fleshwounds.max"
        value="{{object.condition.fleshwounds.max}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Trauma"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.trauma.max"
        value="{{object.condition.trauma.max}}"
      />
    </div>
  </div>

  <h2>{{localize "DGNS.Combat"}}</h2>
  <div class="form-group">
    <label>{{localize "DGNS.Movement"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.general.movement"
        value="{{object.general.movement}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Initiative"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.initiative"
        value="{{object.fighting.initiative}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Dodge"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.dodge"
        value="{{object.fighting.dodge}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.MentalDef"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.mentalDefense"
        value="{{object.fighting.mentalDefense}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.PassiveDef"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.passiveDefense"
        value="{{object.fighting.passiveDefense}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Melee"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.attackMelee"
        value="{{object.system.simpleStats.attackMelee}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Defense"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.defenseMelee"
        value="{{object.system.simpleStats.defenseMelee}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Melee"}}: {{localize "DGNS.Damage"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.damageMelee"
        value="{{object.system.simpleStats.damageMelee}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Projectiles"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.attackRanged"
        value="{{object.system.simpleStats.attackRanged}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Projectiles"}}: {{localize "DGNS.Damage"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.damageRanged"
        value="{{object.system.simpleStats.damageRanged}}"
      />
    </div>
  </div>

  <h2>{{localize "DGNS.Attributes"}} & {{localize "DGNS.Skills"}}</h2>
  <div class="form-group">
    <label>{{localize "UI.DefaultAN"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.defaultAN"
        value="{{object.system.simpleStats.defaultAN}}"
      />
    </div>
  </div>
  <button type="submit" name="submit">
    <i class="far fa-save"></i> {{ localize "Save"}}
  </button>
</form>
