<form>
  <h2>{{localize "DGNS.Condition"}}</h2>
  <div class="form-group">
    <label>{{localize "DGNS.Ego"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.ego.override"
        value="{{object.condition.ego.override}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Spore"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.spore.override"
        value="{{object.condition.spore.override}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Fleshwounds"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.fleshwounds.override"
        value="{{object.condition.fleshwounds.override}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Trauma"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.trauma.override"
        value="{{object.condition.trauma.override}}"
      />
    </div>
  </div>

  <h2>{{localize "DGNS.Combat"}}</h2>
  <div class="form-group">
    <label>{{localize "DGNS.Movement"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.general.movement"
        value="{{object.general.movement}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Initiative"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.initiative"
        value="{{object.fighting.initiative}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Dodge"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.dodge"
        value="{{object.fighting.dodge}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.MentalDef"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.mentalDefense"
        value="{{object.fighting.mentalDefense}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.PassiveDef"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.passiveDefense"
        value="{{object.fighting.passiveDefense}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Melee"}}/{{localize "DGNS.Brawl"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.attackMelee"
        value="{{object.fighting.attackMelee}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Defense"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.defenseMelee"
        value="{{object.fighting.defenseMelee}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Projectiles"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.fighting.projectiles"
        value="{{object.fighting.projectiles}}"
      />
    </div>
  </div>

  <h2>{{localize "DGNS.Attributes"}} & {{localize "DGNS.Skills"}}</h2>
  <div class="form-group">
    <label>{{localize "UI.DefaultAN"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.general.defaultAN"
        value="{{object.general.defaultAN}}"
      />
    </div>
  </div>
</form>
