<form>
  <h2>{{localize "DGNS.Condition"}}</h2>
  <div class="form-group">
    <label>{{localize "DGNS.Ego"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.ego.max"
        value="{{object.condition.ego.max}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Spore"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.spore.max"
        value="{{object.condition.spore.max}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Fleshwounds"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.fleshwounds.max"
        value="{{object.condition.fleshwounds.max}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Trauma"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.condition.trauma.max"
        value="{{object.condition.trauma.max}}"
      />
    </div>
  </div>

  <h2>{{localize "DGNS.Combat"}}</h2>
  <div class="form-group">
    <label>{{localize "DGNS.Movement"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.skills.athletics.value"
        value="{{object.skills.athletics.value}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Initiative"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.skills.reaction.value"
        value="{{object.skills.reaction.value}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Dodge"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.skills.mobility.value"
        value="{{object.skills.mobility.value}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.MentalDef"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.skills.faith.value"
        value="{{object.skills.faith.value}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.PassiveDef"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.system.simpleStats.passiveDefBase.value"
        value="{{object.system.simpleStats.passiveDefBase.value}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Melee"}}: {{localize "DGNS.Skill"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.attackMelee.value"
        value="{{object.system.simpleStats.attackMelee.value}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Melee"}}: {{localize "DGNS.Defense"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.defenseMelee.value"
        value="{{object.system.simpleStats.defenseMelee.value}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Melee"}}: {{localize "DGNS.Damage"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.damageMelee.value"
        value="{{object.system.simpleStats.damageMelee.value}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Projectiles"}}: {{localize "DGNS.Skill"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.attackRanged.value"
        value="{{object.system.simpleStats.attackRanged.value}}"
      />
    </div>
  </div>

  <div class="form-group">
    <label>{{localize "DGNS.Projectiles"}}: {{localize "DGNS.Damage"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.damageRanged.value"
        value="{{object.system.simpleStats.damageRanged.value}}"
      />
    </div>
  </div>

  <h2>{{localize "DGNS.Attributes"}} & {{localize "DGNS.Skills"}}</h2>
  <div class="form-group">
    <label>{{localize "UI.DefaultAN"}}</label>
    <div class="form-fields">
      <input
        type="text"
        data-dtype="Number"
        name="data.simpleStats.defaultAN.value"
        value="{{object.system.simpleStats.defaultAN.value}}"
      />
    </div>
  </div>
  <button type="submit" name="submit">
    <i class="far fa-save"></i> {{ localize "Save"}}
  </button>
</form>
