<div class = "dialog-inputs">
    <span>
        <label>{{localize "DGNS.Difficulty"}}</label>
        <input name="difficulty" value="{{prefilled.difficulty}}"/>
    </span>
    <div>
        <input name="diceModifier" value="{{prefilled.diceModifier}}"/>D
    </div>
    <div>
        <input name="successModifier" value="{{prefilled.successModifier}}"/>S
    </div>
    <div>
        <input name="triggerModifier" value="{{prefilled.triggerModifier}}"/>T
    </div>
</div>

<div>
    <select name="customModifiers" class = "custom-modifiers" multiple>
        {{#each customModifiers as |modifier m|}}
        <option value="{{m}}">{{modifier.description}} {{modifier.modifyNumber}}{{modifier.modifyType}}</option>
        {{/each}}
    </select>
</div>