<div class="title">
    {{{drawSubtitle (localize "UI.RollSettings")}}}
</div>
<div class="custom-modifier-header">
    <label>{{localize "UI.CustomModifiers"}}</label>
    <button class="custom-modifiers-reset-button" type="reset">{{localize "UI.ResetAll"}}</button>
</div>
<div class="dialog-bonuses">

    <div class="dialog-inputs">
        <span>
            <label class="input-label">{{localize "DGNS.Difficulty"}}</label>
            <input class="dialog-input" name="difficulty" value="{{prefilled.difficulty}}" />
        </span>
        <div>
            <span class="input-label">{{localize "UI.AddDice"}}</span><input class="dialog-input" name="diceModifier"
                value="0" />
        </div>
        <div>
            <span class="input-label">{{localize "UI.AddSuccesses"}}</span><input class="dialog-input"
                name="successModifier" value="0" />
        </div>
        <div>
            <span class="input-label">{{localize "UI.AddTriggers"}}</span><input class="dialog-input"
                name="triggerModifier" value="0" />
        </div>
    </div>

    <div class="custom-modifier-section">
        <select name="customModifiers" class="custom-modifiers" multiple>
            {{#each customModifiers as |modifier m|}}
            <option value="{{m}}">{{modifier.description}} {{modifier.modifyNumber}}{{modifier.modifyType}}</option>
            {{/each}}
        </select>
    </div>

</div>

{{#if showSecondaryOption}}
<div class="secondary-selection">
    <label>{{localize "DGNS.SecondarySkill"}}:</label>
    <select name="secondarySkill" class="secondary-select">
        {{#select secondarySkill}}
        <option value="">None</option>
        {{#each (config "skills") as |skill s|}}
        <option value="{{s}}">{{skill}}</option>
        {{/each}}
        {{/select}}
    </select>
</div>
{{/if}}

<div class="title">
    {{{drawSubtitle (localize "DGNS.Modifiers")}}}
</div>

<!-- DISPLAYING ALL THE MODIFIERS APPLIED TO CURRENT ROLL -->
<div class="dialog-bonuses-modifiers">

    <!-- DISPLAY STATIC MODIFIERS -->
    <div class="dialog-static-modifiers">

        <div class="type-modifier-header">{{localize "UI.StaticModifiers"}}</div>
        <div class="type-modifier-values">
            <div class="dice-modifiers">{{prefilled.diceModifier}}D</div>
            <div class="success-modifiers">{{prefilled.successModifier}}S</div>
            <div class="triggers-modifiers">{{prefilled.triggerModifier}}T</div>
        </div>

    </div>

    <div class="dialog-total-modifiers">

        <div class="type-modifier-header">{{localize "UI.TotalModifiers"}}</div>
        <div class="type-modifier-values">

            <div id="TotalRollDiceModifier" class="dice-modifiers">{{totalRollModifiers.diceModifier}}D</div>
            <div id="TotalRollSuccessModifier" class="success-modifiers">{{totalRollModifiers.successModifier}}S</div>
            <div id="TotalRollTriggerModifier" class="triggers-modifiers">{{totalRollModifiers.triggerModifier}}T</div>

        </div>

    </div>


</div>