/* SHEET: _ITEM.SCSS */

@import "items/item-legacy";
@import "items/item-mod";
@import "items/item-shield";
@import "items/item-weapon";
@import "items/item-transportation";
@import "items/item-attack";
@import "items/item-phenomenon";

// MAIN CSS SELECTOR
.app.window-app.degenesis.sheet.item {
  // LOCAL VARIABLES

  $line-stroke-color: var(--c-gold);
  $line-stroke-width: 1.5px;

  .line-stroke {
    stroke: $line-stroke-color;
    stroke-width: $line-stroke-width;
  }

  .window-content {
    padding: 0;
  }

  min-width: 550px;
  min-height: 535px;

  input {
    background: none;
    border: none;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      color: var(--c-pred);
      -webkit-transition: color 100ms linear;
      -ms-transition: color 100ms linear;
      transition: color 100ms linear;
    }
  }

  .item-controls {
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
  }

  .sh-field {
    flex: 0 1 auto;
  }

  // HEADER

  .sh-header {
    .img-frame {
      background-image: url(../ui/images/character\ frame\ gold.svg);
      width: 108px;
      height: 108px;
      .profile-img {
        width: 96px;
        height: 96px;
      }
    }

    .header-content-container-position {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      gap: 10px;
      height: min-content;
      align-items: self-start;
    }

    .header-content-container {
      display: flex;
      align-self: stretch;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      padding: 5px;
      gap: 10px;
      align-items: center;
    }

    .header-content-side-container {
      font-family: "Avenir";
      flex: 1 1 0px;
      width: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .header-content-image-container {
      min-width: 108px;
      flex-basis: 0;
    }
  }

  .sh-body {
    font-family: $sans-serif-content-font !important;
    font-weight: 300;
    color: black;
  }

  .sh-tabs {
    border: 1px solid var(--c-gold);
    justify-content: start;
    padding: 0px 2px;
    gap: 2px;
    margin-bottom: 3px;

    a {
      text-shadow: none;
      color: var(--c-gold);
      background-color: var(--b-alpha-9);
      margin: 2px 0px;
      border: 1px solid var(--c-gold);

      &:first-child {
        border-top-left-radius: $b-radius-sm;
        border-bottom-left-radius: $b-radius-sm;
      }
      &:last-child {
        border-top-right-radius: $b-radius-sm;
        border-bottom-right-radius: $b-radius-sm;
      }

      &:not(:last-child) {
        //border-right: 1px solid var(--c-gold);
      }

      &.active {
        color: var(--c-antiflash);
        background-color: var(--c-pred);
      }
    }
  }

  .tab-content-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;

    h3 {
      font-size: 12px;
      font-weight: 300;
      border-bottom: 0px;
    }
  }

  .tab[data-tab].active {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    overflow: hidden;
  }

  /* DETAIL STUFF */

  .detail-container {
    display: flex;
    flex-direction: row;

    gap: 10px;

    > * {
      flex: 1;
    }
    .column {
      display: flex;
      flex-direction: column;
    }
  }

  /* BOTTOM CONTAINER */

  .bottom-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    .mods-li {
      height: 21px;

      .item-controls > * {
        margin: 0px 3px;
      }
    }
  }
  .conditions-ol {
    border-collapse: collapse;

    border: none;
    margin: 0;
    flex: auto;

    padding: 0;

    list-style-type: none;
  }

  .conditions-li {
    padding-bottom: 6px;
    border-bottom: 1px solid var(--c-gold);
    margin-top: 7px;
  }

  .conditions-characteristics {
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    .item-data {
      display: contents;
    }
  }

  .specialty-container {
    margin-top: 7px;
    display: flex;
    flex-direction: column;

    .item-summary {
      margin-top: 5px;
      display: inline-block;
      color: var(--c-gold);
      border: 1px solid var(--c-gold);
      border-radius: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
      height: 70px;

      margin-left: 0px;
      margin-right: 0px;

      &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid var(--c-pred);
      }
    }

    .field-name {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .bottom-specialty-container {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .item-summary {
      margin-top: 5px;
      display: inline-block;
      font-family: "Crimson Pro";
      color: var(--c-gold);
      border: 1px solid var(--c-gold);
      border-radius: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
      height: 100%;
      min-height: 80px;

      margin-left: 0px;
      margin-right: 0px;

      &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid var(--c-pred);
      }
    }

    .field-name {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  a.square.checkbox {
    flex: none;
  }

  .scroll-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 3px;
  }

  .square {
    border-color: var(--c-gold);
    &.border-black {
      border-color: var(--c-gold);
    }
  }

  .square-into {
    border-color: var(--c-gold);
    &.black {
      background-color: var(--c-gold);
      border-color: var(--c-gold);
    }
  }

  .square.little {
    min-width: 7px;
    margin-top: 1px;
    border: $line-stroke-width solid $line-stroke-color;
  }

  .select2-container {
    min-width: 0px;
    flex: 1 1 auto;

    .selection {
      min-width: 0;
    }
  }

  .select2-selection {
    min-width: 0;

    border: none;
    background: none;
    border-radius: 0;

    // border-bottom: 1px solid var(--c-gold);
    color: var(--c-gold);

    &:hover {
      border-color: var(--c-pred);
    }

    .select2-selection__rendered {
      min-width: 0;

      text-transform: uppercase;
      font-family: "Avenir";
      font-size: var(--font-size-12);
      font-weight: 800;
      letter-spacing: 0.1em;
      color: var(--c-gold);
      &:hover,
      &:focus {
        color: var(--c-pred);
      }
    }
  }

  .select2-dropdown {
    overflow: hidden;
    width: 200px;

    font-family: "Avenir";
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: $b-radius-md;
    min-width: 0;

    background-color: var(--b-alpha-9);
    border: 1px solid var(--c-gold);

    color: var(--c-gold);

    .select2-results__option {
      min-height: var(--font-size-28);
    }

    .select2-results__option--selected {
      background-color: var(--c-resin) !important;
    }

    .select2-results__option--highlighted {
      background-color: var(--c-pred) !important;
    }
  }

  .block-title.gold {
    h3 {
      font-weight: 600;
      color: black;
    }

    i {
      text-shadow: none;
      color: black;

      &:hover {
        color: var(--c-gold-4);
      }
    }
  }
}
