/* SHEET: _ITEM.SCSS */

@import "items/item-legacy";
@import "items/item-mod";
@import "items/item-shield";
@import "items/item-weapon";
@import "items/item-transportation";

// LOCAL VARIABLES
.line-stroke {
  stroke: $line-stroke-color;
  stroke-width: $line-stroke-width;
}

// FORM FLEX
.form-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

// MAIN CSS SELECTOR

.app.window-app.degenesis.sheet.item {
  min-width: 550px;
  min-height: 535px;
  overflow: hidden;
  // SCROLLBAR
  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track {
    margin-top: -15px;
    margin-bottom: -20px;
  }

  input {
    background: none;
    border: none;
    padding-top: 5px;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      color: var(--degenesis-red);
      -webkit-transition: color 100ms linear;
      -ms-transition: color 100ms linear;
      transition: color 100ms linear;
    }
  }

  .item-controls {
    display: flex;
    justify-content: space-between;
    margin-left: 2px;
  }

  // HEADER

  .sh-header {
    .img-frame {
      width: 108px;
      height: 108px;
      .profile-img {
        width: 96px;
        height: 96px;
      }
    }

    .header-content-container-position {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      gap: 10px;
      height: min-content;
      align-items: self-start;
    }

    .header-content-container {
      display: flex;
      align-self: stretch;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: stretch;
      padding: 5px;
      gap: 10px;
      align-items: center;
    }

    .header-content-side-container {
      font-family: "Avenir";
      flex-grow: 1;
      flex-basis: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .header-content-image-container {
      min-width: 108px;
      flex-basis: 0;
    }
  }

  .sh-body {
    font-family: $sans-serif-content-font !important;
    font-weight: 300;
    color: black;
  }

  .tab-content-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;

    h3 {
      font-size: 12px;
      font-weight: 300;
      border-bottom: 0px;
    }
  }

  .tab[data-tab].active {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    overflow: hidden;
  }

  /* DETAIL STUFF */

  .detail-container {
    display: flex;
    flex-direction: row;

    gap: 10px;

    > * {
      flex: 1;
    }
    .column {
      display: flex;
      flex-direction: column;
    }
  }

  /* BOTTOM CONTAINER */

  .bottom-container {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;

    .mods-li {
      height: 21px;

      .item-controls > * {
        margin: 0px 3px;
      }
    }
  }
  .conditions-ol {
    border-collapse: collapse;
    background: white;
    border: none;
    margin: 0;
    flex: auto;

    padding: 0;

    list-style-type: none;
  }

  .conditions-li {
    padding-bottom: 6px;
    border-bottom: 1px solid var(--grey-160);
    margin-top: 7px;
  }

  .conditions-characteristics {
    padding-right: 5px;
    padding-left: 5px;
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    align-items: center;

    .item-data {
      display: contents;
    }
  }

  .specialty-container {
    margin-top: 7px;
    display: flex;
    flex-direction: column;

    .item-summary {
      margin-top: 5px;
      display: inline-block;

      background-color: var(--grey-240);
      border: 1px solid var(--grey-160);
      border-radius: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
      height: 70px;

      margin-left: 0px;
      margin-right: 0px;

      &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid var(--degenesis-red);
      }
    }

    .field-name {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  .bottom-specialty-container {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .item-summary {
      margin-top: 5px;
      display: inline-block;

      background-color: var(--grey-240);
      border: 1px solid var(--grey-160);
      border-radius: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      width: 100%;
      height: 100%;
      min-height: 80px;

      margin-left: 0px;
      margin-right: 0px;

      &:focus {
        outline: 0;
        box-shadow: none;
        border: 1px solid var(--degenesis-red);
      }
    }

    .field-name {
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  a.square.checkbox {
    flex: none;
  }

  .scroll-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding: 3px;
  }
}
