/* SHEET: _ITEM.SCSS */ 
.app.window-app.degenesis.sheet.item::-webkit-scrollbar, ::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    margin-top: -15px;
    margin-bottom: -20px;
  }
  
  .app.window-app.degenesis {
    &.sheet {
      &.item {
        textarea {
          border: 1px solid var(--grey-160);
          border-radius: 0;
        }
  
        input, select {
          background-color: var(--grey-240);
        }
  
        input {
          &:hover {
            background-color: var(--grey-230);
          }
  
          &:focus {
            background-color: var(--grey-220);
          }
        }
      }
  
      .profile-img.item-img {
        max-height: 64px;
        max-width: 64px;
      }
  
      &.item {
        .sheet-body {
          width: 100%;
          height: calc(100% - 165px);
        }
  
        .tab {
          width: 100%;
          height: 100%;
          overflow: auto;
        }
  
        .editor {
          width: 100%;
          height: calc(100% - 40px);
        }
  
        .header-inputs {
          display: flex;
          justify-content: space-between;
        }
  
        .header-input {
          display: flex;
          flex-direction: column;
          margin-right: 2px;
          margin-left: 2px;
        }
  
        .header-inputs input {
          width: 100%;
          text-align: center;
        }
  
        .header-input label {
          display: flex;
          justify-content: center;
        }
  
        .img-frame {
          display: flex;
          flex: 0 0 108px;
          z-index: 1000;
          height: 108px;
          background-image: url(../images/item\ frame.svg);
          background-repeat: no-repeat;
          background-size: 100%;
          background-position: center;
          border: none;
        }
  
        .header-column.char-info {
          margin-left: 7px;
          margin-right: 2px;
          justify-content: center;
          display: flex;
          flex-direction: column;
        }
  
        .detail-container .sheet-field span.field-name {
          /* min-width: 72px; */
        }
      }
  
      .sheet-field .field-name.skill-selection {
        width: 100%;
      }
  
      &.item {
        .detail-container select, .header-column select {
          width: 100%;
          background-color: transparent;
          text-align-last: left;
          padding-top: 4px;
          height: 24px;
        }
  
        .detail-container {
          .field-inputs {
            display: flex;
            justify-content: center;
            width: 100%;
  
            > * {
              flex: 1;
            }
          }
  
          input.field-input {
            &.distance-short, &.distance-far {
              text-align: center;
            }
          }
  
          span.field-separator {
            flex: inherit;
          }
  
          select.damageBonus-select {
            width: auto;
            flex: 1;
            margin-top: 1px;
          }
  
          input {
            background-color: transparent;
          }
        }
  
        .header-column input {
          background-color: transparent;
        }
  
        .detail-container input {
          text-align: left;
  
          &.field-start {
            padding-right: 0px;
          }
          &.field-right {
            text-align: right;
          }
        }
  
        .tab .editor {
          font-size: 14px;
        }
  
        .field-inputs {
          .field-end {
            padding: 1px 3px;
            padding-top: 5px;
            justify-content: flex-end;
            flex: 0;
          }
  
          .belt-text {
            margin-right: 10px;
            justify-content: flex-end;
            flex: 0;
          }
  
          .mag-size {
            text-align: right;
          }
  
          .belt-field {
            flex: 1;
            display: flex;
            justify-content: flex-end;
          }
        }
  
        .icon.wheel {
          font-size: 11px;
        }
  
        .mods-group .black-title {
          .right {
            margin: 0;
            justify-content: flex-end;
            display: flex;
            flex-direction: row;
          }
  
          .slots {
            margin-right: 5px;
          }
        }
  
        .black-title .right {
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-self: center;
        }
  
        .detail-container {
          display: flex;
          flex-direction: row;
          margin-left: 5px;
          margin-right: 5px;
  
          .column {
            flex-direction: column;
            display: flex;
            width: 100%;
            margin: 5px;
          }
        }
      }
  
      .bottom-conditions.spaced-conditions {
        margin-top: 10px;
      }
  
      &.item {
        .square.button-position {
          margin-right: 4px;
          flex: 0 0 9px;
          align-self: center;
        }
  
        .editor-content {
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }
  
    &.quality-selector {
      .quality-inputs {
        display: flex;
      }
  
      .item-quality {
        display: flex;
  
        > * {
          align-self: center;
          flex: 1;
        }
      }
  
      .sheet-fields {
        display: flex;
        flex: 1;
  
        > * {
          align-self: center;
          flex: 1;
        }
      }
  
      .field-name.quality-name {
        padding-top: 5px;
        margin-left: 6px;
        flex: 0 0 170px;
        text-transform: uppercase;
      }
  
      .item-quality {
        .checkbox {
          flex: 0 0 9px;
        }
  
        input[type="text"] {
          border: none;
          padding-top: 5px;
          border-bottom: 1px solid var(--grey-160);
          transition: border-color 0.2s, color 0.2s;
  
          &:focus {
            color: var(--degenesis-red);
            box-shadow: none;
          }
  
          &:hover {
            border-color: var(--degenesis-red);
            color: var(--degenesis-red);
          }
        }
      }
  
      .window-content {
        font-family: "Avenir";
        font-size: 13px;
        font-weight: 300;
      }
  
      form button {
        background-color: black;
        color: white;
        margin-top: 5px;
        border: none;
        transition: color 0.2s, border-color 0.2s, background-color 0.2s;
  
        &:hover {
          background-color: var(--degenesis-red);
          border: none;
        }
      }
    }
  
    &.sheet.item {
      .effects-header {
        color: var(--grey-240);
        background-color: black;
  
        > * {
          text-align: center;
        }
      }
  
      .tab.active .mod-qualities h3 {
        margin-left: 5px;
        align-self: unset;
      }
  
      .changes-list {
        input {
          background-color: white;
          border: 1px solid black;
        }
  
        .effect-change > * {
          margin: 5px;
        }
  
        select {
          background: none;
          border: none;
          padding: 5px;
          border-bottom: 1px solid black;
          border-radius: 0px;
          text-transform: uppercase;
          width: 100%;
        }
  
        .effect-change .effect-controls {
          justify-self: flex-start;
          margin-top: 12px;
        }
      }
    }
  }
  