// V.01 Early alpha
// Main CSS selector for NPC Character sheet

$border-transition: 0.5s ease-in-out;
$background-cult-image-size: 70%; // in percent
$background-cult-image-offset: 50px; // in pixels

.app.window-app.degenesis.sheet.npc {
  min-width: 720px;
  min-height: 720px;

  $line-stroke-width: 1.5px;
  $line-stroke-color: var(--c-gold);

  .line-stroke {
    stroke: $line-stroke-color;
    stroke-width: $line-stroke-width;
  }

  .square.little {
    min-width: 7px;
    margin-top: 1px;
    border: $line-stroke-width solid $line-stroke-color;
  }

  a,
  a > div {
    color: var(--c-gold);
    text-shadow: none;

    &:hover {
      color: var(--c-gold-4);
    }
  }

  ::selection {
    background-color: var(--b-alpha-7);
    color: var(--c-pred);
  }

  input {
    color: var(--c-gold);
    border: none;
    border-radius: 0;
    border-bottom: 1px solid transparent;
  }

  .editor-menu {
    color: var(--c-gold);
  }

  .vertical-bar {
    * {
      stroke: $line-stroke-color;
      stroke-width: calc($line-stroke-width + 2px);
    }
  }

  .square {
    border-color: var(--c-gold);

    &:hover {
      border-color: var(--c-pred);
    }
  }

  .square.gold {
    background-color: var(--c-gold-8);
    border-color: var(--c-gold);
  }

  .window-content {
    padding: 0;
    overflow-y: hidden;
    background-color: var(--b-alpha-5);
    background-image: url(../ui/npc_BG.jpg);
    background-size: cover;
    background-position: 50% 0%;
    font-family: $sans-serif-content-font;
    font-weight: 300;
    color: $text-white;
    background-blend-mode: color;
  }

  .tab-content-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    font-size: var(--font-size-12);
    letter-spacing: 1px;
    width: 100%;
  }

  .sh-header {
    align-items: center;
    overflow: hidden;
    z-index: 1;

    // Background Cult Image Z-Index fix ;)

    > div:not(:first-child) {
      z-index: 1;
    }
  }

  .sh-titlebar {
    .title-line {
      flex: 1 1 auto;
    }
    .middle-name {
      display: flex;
      flex: 0 0 auto;
    }
  }

  .block-title.gold {
    h3 {
      margin-top: 2px;
      color: black;
    }
    a {
      color: black;

      &:hover {
        color: var(--c-gold-3);
      }
    }
  }

  .sh-tabs {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid var(--c-gold);
    justify-content: start;
    padding: 2px 2px;
    gap: 2px;

    > * {
      z-index: 1;
    }

    .item {
      text-shadow: none;
      background-color: var(--b-alpha-3);
      color: var(--c-gold);
      margin: 2px 0px;
      border: 1px solid var(--c-gold);

      &:hover {
        color: var(--c-antiflash);
      }

      &:first-child {
        border-top-left-radius: $b-radius-sm;
        border-bottom-left-radius: $b-radius-sm;
      }
      &:last-child {
        border-top-right-radius: $b-radius-sm;
        border-bottom-right-radius: $b-radius-sm;
      }

      &:not(:last-child) {
        //border-right: 1px solid var(--c-gold);
      }

      &.active {
        color: var(--c-antiflash);
        background-color: var(--c-gold-6);
      }
    }
  }

  .tab[data-tab].active {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    overflow: hidden;
  }

  .background-cult {
    position: absolute;
    top: -$background-cult-image-offset;
    width: $background-cult-image-size;
    height: $background-cult-image-size;
    opacity: 0.2;
    z-index: 0;
    pointer-events: none;
    clip-path: inset(calc($background-cult-image-offset + 30px) 0px 0px 0px);

    img {
      border: none;
      width: 100%;
      height: 100%;
      position: relative;
      filter: invert(100);
      mask-image: linear-gradient(
        to bottom,
        var(--b-alpha-10),
        rgba(0, 0, 0, 0)
      );
      z-index: 0;
    }
  }

  .header-content-container {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    padding: 5px;
    gap: 10px;
    align-items: stretch;

    gap: 3px;

    .img-frame {
      background-image: url(../ui/images/character\ frame\ gold.svg);
    }
  }

  .header-content-column-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header-content-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .field-name {
    margin-top: 0px;

    .input-name {
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid var(--c-gold);

      field-sizing: content;
      min-width: 120px;
      width: 100%;

      text-align: center;
      font-weight: 600;
      font-size: 16px;
      transition: all 0.2s ease-in-out;

      &:hover,
      &:active {
        border-color: var(--c-pred);
      }
    }
  }

  .field-rank {
    position: relative;
    padding: 0px 15px;

    .input-rank {
      field-sizing: content;
      width: 100%;
      min-width: 120px;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid var(--c-gold);

      text-align: center;
      font-family: $serif-content-font;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;

      display: inline-block;
      position: relative;

      transition: all 0.2s ease-in-out;

      &:hover,
      &:active {
        border-color: var(--c-pred);
      }
    }
  }

  .input-rank-label {
    margin-top: 2px;
    text-align: center;
    font-size: var(--font-size-12);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }

  .condition-content-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 3px;

    .condition {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2px;

      font-family: $sans-serif-content-font;
      font-weight: 800;
      font-size: var(--font-size-12);
      letter-spacing: 0.05em;
      text-transform: uppercase;

      .label {
        margin-left: 4px;
      }

      .controls {
        display: flex;
        gap: 4px;
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 15px;
        height: 15px;
        border-radius: $b-radius-sm;
        border: calc($line-stroke-width) solid transparent;
        font-size: var(--font-size-12);
        font-weight: 1000;
        color: var(--c-gold);
        transition: 0.3s all;

        &:hover {
          //color: var(--c-antiflash);
          border-color: $line-stroke-color;
          background-color: var(--b-alpha-8);
        }
      }

      .stats {
        margin-left: auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 2px;

        > div {
          height: 100%;
          display: flex;
          flex: 1 1 auto;
          align-items: center;
          text-align: center;
        }

        .current-value {
          width: 20px;

          .current-ego {
            display: inline-block;
            width: 20px;
          }
        }

        .stat-input {
          width: 22px;
          height: 100%;
          font-family: $sans-serif-content-font;
          font-weight: 600;

          &.perma {
            color: var(--c-pred);
          }

          &:focus {
            box-shadow: none;
            border-bottom: 1px solid var(--c-pred);
            transition: border-color 0.1s linear;
          }

          &:hover {
            border-bottom: 1px solid var(--grey-160);
            transition: border-color 0.2s linear;
          }
        }
      }
    }
  }

  .ccc-content-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(35px, 1fr));
    grid-row-gap: 3px;

    select {
      width: 100%;
      font-family: $sans-serif-content-font;
      font-size: 14px;
      font-weight: 600;
      color: $text-white;
      border: none;
      z-index: 10;
      text-transform: uppercase;

      option {
        text-transform: uppercase;
      }
    }

    > div {
      max-height: 40px;
      position: relative;
      align-items: center;
      display: inline-flex;
      overflow: hidden;
      transition: 0.5s ease-in-out;

      &:after {
        position: absolute;
        bottom: 0;
        left: 0%;
        height: 1px;
        width: 0%;
        background-color: $text-white;
        display: block;
        content: "";
        transition: $border-transition;
      }

      &:before {
        position: absolute;
        top: 0;
        right: 0%;
        height: 1px;
        width: 0%;
        background-color: $text-white;
        display: block;
        content: "";
        transition: $border-transition;
        z-index: 1;
      }

      &:hover:after {
        left: 0%;
        width: 100%;
        background-color: $dgns-red;
      }
      &:hover:before {
        right: 0%;
        width: 100%;
        background-color: $dgns-red;
      }

      > img,
      > svg,
      > object {
        aspect-ratio: 1 / 1;
        width: 50px;
        height: 50px;
        position: absolute;
        right: 10%;
        //filter: invert(100);
        border: none;

        transition: all 0.2s ease-in-out;

        &.concept-img {
          transform: rotate(45deg);
        }
      }
    }
  }

  .attribute-tab-container {
    text-transform: uppercase;
    font-size: var(--font-size-11);
    display: grid;
    justify-items: stretch;
    align-items: stretch;

    margin: 0px 3px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }

  .attribute-skill-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;

    .attribute-value {
      border: 1px solid var(--c-gold);
      border-radius: $b-radius-sm;
      background-color: var(--b-alpha-5);

      width: 100%;
      display: grid;
      grid-template-columns: 1fr 30px 15px 15px;
      grid-template-rows: 1fr;
      padding: 0px 4px;
      gap: 3px;

      align-items: center;
      justify-content: center;

      .btn {
        width: 15px;
        height: 15px;
        text-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: $b-radius-sm;
        border: calc($line-stroke-width) solid transparent;
        font-size: var(--font-size-12);
        font-weight: 1000;
        color: var(--c-gold);
        transition: 0.3s all;

        &:hover {
          //color: var(--c-antiflash);
          border-color: $line-stroke-color;
          background-color: var(--b-alpha-8);
        }
      }

      h3 {
        font-family: $sans-serif-content-font;
        font-size: var(--font-size-14);
        color: var(--c-gold);
        font-weight: 800;
        letter-spacing: 0.1em;
        border: none;
        align-self: center;
        margin: 0;
      }
      .attribute-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      input {
        box-shadow: none;
        border-radius: 0;
        width: 30px;
        font-size: var(--font-size-18);
        font-family: $sans-serif-content-font;
        font-weight: 1000;
        color: var(--c-gold);

        letter-spacing: 0.1em;
        border-top: 0;
        border-bottom: 0;
        border-left: 1px solid var(--c-gold);
        border-right: 1px solid var(--c-gold);

        text-align: center;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: var(--c-gold-4);
        }

        &:focus {
          border-left: 1px solid var(--c-gold);
        }
      }
    }

    .skill-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0;

      .skill {
        margin: 0;
        padding: 0px 4px;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 30px 15px 15px;
        grid-template-rows: 1fr;
        gap: 3px;

        a {
          font-family: $sans-serif-content-font;
          font-size: var(--font-size-12);
          font-weight: 600;
          letter-spacing: 0.1ch;
        }

        input {
          width: 30px;
          font-size: 14px;
          font-family: $sans-serif-content-font;
          font-weight: 600;
          color: var(--c-gold);
          letter-spacing: 0.1em;
          border: none;
          border-bottom: 1px solid transparent;
          border-radius: 0;

          text-align: center;

          &:focus {
            box-shadow: none;
            border-bottom: 1px solid var(--c-pred);
            transition: border-color 0.3s linear;
          }

          &:hover {
            border-bottom: 1px solid var(--c-gold);
            transition: border-color 0.2s linear;
          }
        }

        .btn {
          width: 15px;
          height: 15px;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          text-shadow: none;
          opacity: 0.6;

          border-radius: $b-radius-sm;
          border: calc($line-stroke-width) solid transparent;
          font-size: var(--font-size-12);
          font-weight: 1000;
          color: var(--c-gold);
          transition: 0.1s all;

          &:hover {
            //color: var(--c-antiflash);
            opacity: 1;
            border-color: $line-stroke-color;
            background-color: var(--b-alpha-8);
          }
        }

        .skill-base-dice {
          margin-left: 2px;
          color: var(--c-gold-7);
        }
      }
    }
  }

  .combat-stats-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 10px;

    > div {
      flex-grow: 1;
    }

    .label {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.2ch;
    }

    .dice-value {
      margin-bottom: 5px;
    }

    .spend-ego {
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 3px;

      .label {
        font-size: 10px;
      }

      .diamond-row {
        margin: 0;
        .diamond {
          margin: 0px 1px;
        }
      }
    }

    .armor-name {
      input {
        font-size: var(--font-size-12);
        font-weight: 600;
        width: 100%;
        text-transform: uppercase;
      }
    }

    input {
      width: 30px;
    }
  }

  .combat-container {
    overflow: auto;
    scrollbar-gutter: stable both-edges;
    padding: 5px;
    flex: 1;
  }

  .advantages-container {
    overflow: auto;
    scrollbar-gutter: stable both-edges;
    padding: 5px;
    flex: 1;

    h3 {
      color: black;
    }

    .diamond-row {
      margin-right: 0;
    }

    .backgrounds-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      gap: 30px;
      margin-bottom: 10px;

      > div {
        flex-grow: 1;
      }

      .label {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 0.2ch;
      }

      .dice-value {
        margin-bottom: 5px;
      }
    }
  }

  .item-summary {
    border: 1px solid var(--c-pred);
    background-color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;

    margin-left: 0px;
    margin-right: 0px;

    .tag {
      border: 1px solid var(--grey-70);
      background: black;
      margin: 2px 5px;
      display: inline-block;
      padding: 2px 7px;
    }
  }

  .section-header-container {
    &.defense {
      margin-top: 10px;
    }
    &.potential {
      margin-top: 10px;
    }
  }

  .section-legend-grid {
    &.attack {
      display: grid;
      grid-template-columns: 2fr 0.6fr 75px 65px;
      justify-items: center;
    }

    &.defense {
      display: grid;
      grid-template-columns: 1fr 75px 65px;
      justify-items: center;
    }
    &.potential {
      display: grid;
      grid-template-columns: 1fr 75px 65px;
      justify-items: center;
    }
  }

  .section-entry-grid {
    font-size: var(--font-size-12);

    &.attack {
      display: grid;
      grid-template-columns: 190px 2fr 0.6fr 75px 65px;
      justify-items: center;

      .attack-dice {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.15ch;
      }

      .damage {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.15ch;
      }

      .distance {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.15ch;
      }

      .item-summary {
        grid-area: 2/ 1 / 2 / 6;
      }
      :first-child {
        justify-self: flex-start;
      }
    }

    &.defense {
      display: grid;
      grid-template-columns: 190px 1fr 75px 65px;
      justify-items: center;

      .item-summary {
        grid-area: 2/ 1 / 2 / 5;
      }

      .type {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.15ch;
      }

      .defense-dice {
        font-size: 11px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.15ch;
      }

      :first-child {
        justify-self: flex-start;
      }
    }

    &.potential {
      display: grid;
      grid-template-columns: 190px 1fr 75px 65px;
      justify-items: center;

      .item-summary {
        grid-area: 2/ 1 /2 / 5;
      }

      :first-child {
        justify-self: flex-start;
      }
    }

    .item-controls {
      width: 100%;
      justify-content: space-between;
    }

    .weapon-name,
    .potential-name {
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.1ch;
    }
  }

  .section-header-legends {
    border-bottom: $line-stroke-width solid $line-stroke-color;

    .legend-name {
      font-size: var(--font-size-12);
      font-weight: 500;
      letter-spacing: 0.15em;
    }
  }

  .config-input-container {
    display: flex;
    flex-direction: column;
    flex: 0 1 0;
    align-items: center;
    justify-content: center;

    margin-top: 10px;

    .dice-value {
      display: flex;
      flex: 0 1 0;
      justify-content: flex-start;
      align-items: center;
      font-weight: 600;
    }
    .config-input {
      font-weight: 300;
      letter-spacing: 0.1em;
    }

    .config-label {
      margin-top: 3px;
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 0.1em;
    }

    input {
      border: none;
      border-bottom: 1px solid transparent;
      text-align: center;
      font-size: 16px;

      &:hover {
        box-shadow: none;
        border-bottom: 1px solid var(--grey-160);
        transition: border-color 0.2s linear;
      }

      &:focus {
        box-shadow: none;
        border-bottom: 1px solid var(--c-pred);
        transition: border-color 0.3s linear;
      }
    }
  }

  /* INVENTORY TAB */
  /// TODO: Cleanup selectors tree
  .inventory-tab-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 3px;

    .section-header-legends {
      border-color: var(--c-gold);
    }

    .inventory-list-container {
      overflow: auto;
    }

    .inventory-group {
      &.armor-group,
      &.weapon-group {
        margin: 16px 5px;
        flex: 1;
      }
    }
  }

  .inventory-group-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.7fr;
  }

  .inventory-group-entry-grid {
    grid-template-columns: 190px 1fr 1fr 1fr 1fr 1fr 0.7fr;
    grid-template-rows: minmax(18px, max-content);

    .item-summary {
      grid-area: 2 / 1 / 2 / 8;
    }
  }

  .transportation-group-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.7fr;

    :first-child {
      grid-area: 1/3/1/4;
    }
    :nth-child(2) {
      grid-area: 1/4/1/5;
    }
    :nth-child(3) {
      grid-area: 1/5/1/6;
    }
  }

  .transportation-group-entry-grid {
    grid-template-columns: 190px 1fr 1fr 1fr 1fr 1fr 0.7fr;

    :nth-child(2) {
      grid-area: 1/4/1/5;
    }
    :nth-child(3) {
      grid-area: 1/5/1/6;
    }
    :nth-child(4) {
      grid-area: 1/6/1/7;
    }
    :nth-child(5) {
      grid-area: 1/7/1/8;
    }

    .item-summary {
      grid-area: 2 / 1 / 2 / 8;
    }
  }

  .inventory-list-container {
    > :first-child {
      // Encumbrance fix
      margin-top: 0;
    }

    .inventory-group-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.7fr;
    }

    .inventory-group-entry-grid {
      grid-template-columns: 190px 1fr 1fr 1fr 1fr 1fr 0.7fr;

      > :first-child {
        grid-column: span 2;
      }
    }

    .transportation-group-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.7fr;

      > div {
        grid-area: unset;
      }

      > div:nth-child(2) {
        grid-column: 4;
      }
    }

    .transportation-group-entry-grid {
      grid-template-columns: 190px 1fr 1fr 1fr 1fr 1fr 0.7fr;

      > :first-child {
        grid-area: 1/1/1/5;
      }
    }
  }

  .inventory-list {
    .entry-list-item {
      border-color: var(--c-gold);
    }
  }

  .select2-container {
    width: 100% !important;
  }

  .select2-selection {
    border: none;
    background: none;
    border-radius: 0;

    // border-bottom: 1px solid var(--c-gold);
    color: var(--c-gold);

    &:hover {
      border-color: var(--c-pred);
    }

    .select2-selection__rendered {
      text-transform: uppercase;
      font-family: "Avenir";
      font-size: var(--font-size-12);
      font-weight: 800;
      letter-spacing: 0.1em;
      color: var(--c-gold);
      &:hover,
      &:focus {
        color: var(--c-pred);
      }
    }
  }

  .select2-dropdown {
    font-family: "Avenir";
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: $b-radius-md;

    background-color: var(--b-alpha-9);
    border: 1px solid var(--c-gold);

    color: var(--c-gold);

    .select2-results__option--highlighted {
      background-color: var(--c-pred) !important;
    }
    .select2-results__option[aria-selected="true"] {
      background-color: var(--c-resin) !important;
    }

    li:first-child {
      border-top-left-radius: $b-radius-md;
    }
    li:last-child {
      border-bottom-left-radius: $b-radius-md;
    }
  }

  .concept-img,
  .cult-img,
  .culture-img {
    fill: var(--c-gold);
    //stroke: black;
    //stroke-width: 1px;
    height: 20px;
    margin: 5px 0px;

    transition: all 0.2s ease-in-out;

    &:hover {
      fill: var(--c-pred);
    }
  }
}
