<form class="{{cssClass}} form-flex" autocomplete="off">
    {{!--Sheet Header --}}

    <header class="sh-header">
        <div class="background-chakra">
            <img class="aberrant-chakra-image" src="{{raptureIcon}}" />
        </div>

        <div class="sh-titlebar">
            <div class="square little left"></div>
            <svg class="start-line">
                <line x1="0%" y1="5" x2="88%" y2="5" class="line-stroke"></line>
                <line x1="88%" y1="5" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <svg class="title-line">
                <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <div class="middle-name">{{localize "TYPES.Actor.aberrant"}}</div>
            <svg class="title-line">
                <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <svg class="end-line">
                <line x1="0%" y1="11" x2="12%" y2="5" class="line-stroke"></line>
                <line x1="12%" y1="5" x2="100%" y2="5" class="line-stroke"></line>
            </svg>
            <div class="square little right"></div>

        </div>

        <div class="header-content-container">

            <div class="header-content-column-container">

                <div class="condition-content-container">

                    <div class="condition ego">
                        <div class="controls" data-target="system.condition.ego.value"
                            data-targetParent="system.condition.ego">
                            <a class="btn btn-add">+</a>
                            <a class="btn btn-remove">-</a>
                        </div>
                        <div class="label">{{localize "DGNS.Ego"}}</div>
                        <div class="stats">
                            <div class="current-value">
                                <span class="current-ego">{{currentEgo system.condition.ego}}</span>
                            </div>
                            <div class="separator">/</div>
                            <div class="max-value"><input class="stat-input" type="number"
                                    name="system.condition.ego.max" value="{{system.condition.ego.max}}" /></div>

                        </div>
                    </div>
                    <div class="condition fleshwounds">
                        <div class="controls" data-target="system.condition.fleshwounds.value"
                            data-targetParent="system.condition.fleshwounds">
                            <a class="btn btn-add">+</a>
                            <a class="btn btn-remove">-</a>
                        </div>
                        <div class="label">{{localize "DGNS.Fleshwounds"}}</div>
                        <div class="stats">
                            <div class="current-value"><input class="stat-input" type="number"
                                    name="system.condition.fleshwounds.value"
                                    value="{{system.condition.fleshwounds.value}}" min="0"
                                    max="{{system.condition.fleshwounds.max}}" /></div>
                            <div class="separator">/</div>
                            <div class="max-value"><input class="stat-input" type="number"
                                    name="system.condition.fleshwounds.max" value="{{system.condition.fleshwounds.max}}"
                                    min="0" />
                            </div>

                        </div>
                    </div>
                    <div class="condition trauma">
                        <div class="controls" data-target="system.condition.trauma.value"
                            data-targetParent="system.condition.trauma">
                            <a class="btn btn-add">+</a>
                            <a class="btn btn-remove">-</a>
                        </div>
                        <div class="label">{{localize "DGNS.Trauma"}}</div>
                        <div class="stats">
                            <div class="current-value"><input class="stat-input" type="number"
                                    name="system.condition.trauma.value" value="{{system.condition.trauma.value}}"
                                    min="0" max="{{system.condition.trauma.max}}" />
                            </div>
                            <div class="separator">/</div>
                            <div class="max-value"><input class="stat-input" type="number"
                                    name="system.condition.trauma.max" value="{{system.condition.trauma.max}}" />
                            </div>

                        </div>
                    </div>
                    <div class="condition sporefield">
                        <div class="controls" data-target="system.condition.spore.value"
                            data-targetParent="system.condition.spore">
                            <a class="btn btn-add">+</a>
                            <a class="btn btn-remove">-</a>
                        </div>
                        <div class="label">{{localize "DGNS.Spore"}}</div>
                        <div class="stats">
                            <div class="current-value"><input class="stat-input" type="number"
                                    name="system.condition.spore.value" value="{{system.condition.spore.value}}"
                                    min="{{system.condition.spore.permanent}}" max="{{system.condition.spore.max}}" />
                            </div>
                            <div class="separator">/</div>
                            <div class="max-value"><input class="stat-input" type="number"
                                    name="system.condition.spore.max" value="{{system.condition.spore.max}}" />
                            </div>
                            <div class="separator">/</div>
                            <div class="perma-value"><input class="stat-input perma" type="number"
                                    name="system.condition.spore.permanent"
                                    value="{{system.condition.spore.permanent}}" />
                            </div>

                        </div>

                    </div>
                </div>

            </div>


            <div class="header-content-image-container">
                <div class="img-frame">
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                        width="100" />
                </div>
            </div>


            <div class="header-content-column-container description">
                <div class="rapture-content-container">

                    <div class="rapture-container">
                        <select name="system.rapture" data-dtype="String">
                            {{#selectOptions (config "raptures") selected=system.rapture blank="UI.EmptyRapture"
                            localize=true}}
                            {{/selectOptions}}
                        </select>





                        <object type="image/svg+xml" data="{{raptureIcon}}" class="rapture-img"
                            onload="this.contentDocument.documentElement.classList.add('rapture-img');this.parentNode.replaceChild(this.contentDocument.documentElement, this);">
                        </object>



                    </div>

                    <div class="variant-container">

                        <input class="input-variant" type="text" name="system.variant"
                            placeholder="{{localize 'DGNS.Variant'}}" value="{{system.variant}}" />
                    </div>



                    <div class="phase-container">
                        <select name="system.phase" data-dtype="String">
                            {{#selectOptions (config "aberrantPhases") selected=system.phase localize=true}}

                            {{/selectOptions}}
                        </select>
                    </div>


                </div>




            </div>



        </div>


        <div class="field-name">
            <input class="input-name" type="text" name="name" value="{{actor.name}}" />
        </div>


    </header>


    {{!-- Sheet Tab Navigation --}}
    <nav class="sh-tabs tabs" data-group="primary">
        <a class="item" data-tab="attributes">{{localize "DGNS.Attributes"}}</a>
        <a class="item" data-tab="combat">{{localize "DGNS.Combat"}}</a>
        <a class="item" data-tab="phenomena">{{localize "DGNS.Phenomena"}}</a>
        <a class="item" data-tab="inventory">{{localize "DGNS.Inventory"}}</a>
        <a class="item" data-tab="history">{{localize "DGNS.History"}}</a>
    </nav>


    <!-- TAB CONTAINERS -->

    <div class="tab-content-container">
        <div class="tab" data-tab="attributes">
            {{> systems/degenesis/templates/actor/aberrant/aberrant-attributes-skills.html}}
        </div>
        <div class="tab" data-tab="combat">
            {{> systems/degenesis/templates/actor/aberrant/aberrant-combat.html}}
        </div>
        <div class="tab" data-tab="phenomena">
            {{> systems/degenesis/templates/actor/aberrant/aberrant-phenomena.html}}
        </div>
        <div class="tab" data-tab="inventory">
            {{> systems/degenesis/templates/actor/aberrant/aberrant-inventory.html}}
        </div>
        <div class="tab" data-tab="history">
            {{> systems/degenesis/templates/actor/aberrant/aberrant-history.html}}
        </div>


    </div>

    <footer class="sh-footer">
        <div class="footer-line-bar">
            <div class="square little left"></div>
            <svg class="start-line">
                <line x1="0%" y1="11" x2="88%" y2="11" class="line-stroke"></line>
                <line x1="88%" y1="11" x2="100%" y2="5" class="line-stroke""></line>
            </svg>
            <svg class=" bottom-line middle">
                    <line x1="0" y1="5" x2="100%" y2="5" class="line-stroke"></line>
            </svg>
            <svg class="end-line">
                <line x1="0%" y1="5" x2="12%" y2="11" class="line-stroke"></line>
                <line x1="12%" y1="11" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <div class="square little right"></div>
        </div>
    </footer>
</form>