.app.window-app.degenesis.sheet.item .item-phenomenon {
  $line-stroke-width: 1.5px;
  $line-stroke-color: var(--c-gold);

  overflow-y: hidden;
  background: url(../ui/black_01.jpg);
  background-color: #000 !important;
  background-size: cover;
  background-position: 50% 0%;
  font-family: $sans-serif-content-font;
  color: white;
  font-weight: 300;

  .line-stroke {
    stroke: $line-stroke-color;
    stroke-width: $line-stroke-width;
  }
  input {
    color: $text-white;
  }

  .editor-menu {
    color: $text-white;
  }
  i {
    color: $text-white;
  }

  input,
  textarea {
    color: var(--c-gold);
  }

  input {
    border: none;
    border-bottom: 1px solid transparent;
    text-align: center;
    font-size: 16px;

    &:hover {
      box-shadow: none;
      border-bottom: 1px solid var(--grey-160);
      transition: border-color 0.2s linear;
    }

    &:focus {
      box-shadow: none;
      border-bottom: 1px solid var(--c-pred);
      transition: border-color 0.3s linear;
    }
  }

  .sh-body {
    color: white;
  }

  .sh-field {
    .field-input {
      text-align: left;
      font-size: 14px;
      font-weight: 600;

      border: 0;

      &:hover {
        border: 0;
      }
    }
    select {
      text-transform: uppercase;
      color: white;
      font-size: 14px;
      font-weight: 600;
    }
  }

  .square.little {
    min-width: 7px;
    margin-top: 1px;
    border: $line-stroke-width solid $line-stroke-color;
  }

  .img-frame {
    background-image: url(../ui/images/character\ frame\ white.svg);
  }

  .specialty-container {
    .item-summary {
      background-color: var(--b-alpha-7) !important;
    }

    &.rules {
      flex: 1;
      textarea {
        height: 100%;
        margin-bottom: 5px;
      }
    }
  }
}
