<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header.html}}


    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="body-column body-line">
            <div class="square little left"></div>
            <svg class="title-line middle-left" height="11" width="100%">
            <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
            </svg>
            <div class="middle-name">{{localize "DGNS.Details"}}</div>
            <svg class="title-line middle-right" height="11" width="100%">
            <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
            </svg>
            <div class="square little right"></div>
        </div>

        <div class="form-group">
            <label>Action</label>
            <select name="data.action">
                {{#select data.action}}
                <option value="">-</option>
                {{#each modifyActions as |action a|}}
                <option value="{{a}}">{{action}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>Number</label>
            <input type="text" name="data.number" value="{{data.number}}" data-dtype="Number" placeholder="-1, +2, etc"/>
        </div>


        {{#if showType}}
        <div class="form-group">
            <label>Type</label>
            <select name="data.type">
                {{#select data.type}}
                <option value="">-</option>
                {{#each (config "modifyTypes") as |type t|}}
                <option value="{{t}}">{{type}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}

        {{#if (eq item.action "custom")}}
        <div class = "form-group">
            <label>Action Description</label>
            <textarea name="data.description">{{data.description}}</textarea>
        </div>
        {{/if}}

        <div class="form-group">
            <label>{{localize "DGNS.ShowName"}}</label>
            <select name="data.showName">
                {{#select data.showName}}
                <option value="">✘</option>
                <option value="true">✔</option>
                {{/select}}
            </select>
        </div>
    </section>
</form>
