<header class="sheet-header">
  {{{drawTitle (localize (lookup (concat "TYPES.Item.Type" (capitalize item.type)) 'string'))}}}
  <div class="break"></div>

  {{{drawImage item}}}

  <div class="header-column char-info middle">
    <!-- <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>-->

    <div class="sheet-field">
      <span class="field-name">{{localize "DGNS.Name"}}: </span>
      <input class="field-input" type="text" name="name" value="{{item.name}}" />
    </div>
    <div class="sheet-field">
      <span class="field-name">{{localize "DGNS.Origin"}}: </span>
      <input class="field-input" type="text" name="data.origin" value="{{data.origin}}" />
    </div>
    <div class="sheet-field">
      <span class="field-name">{{localize "DGNS.Prerequisite"}}: </span>
      <input class="field-input" type="text" name="data.prerequisite" value="{{data.prerequisite}}" />
    </div>
  </div>
</header>