<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header.html}}


    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{{drawSubtitle (localize "DGNS.Details")}}}

        <div class="form-group">
            <label>{{localize "DGNS.Action"}}</label>
            <select name="data.action">
                {{#select data.action}}
                <option value="">-</option>
                {{#each modifyActions as |action a|}}
                <option value="{{a}}">{{action}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "UI.Number"}}</label>
            <input type="text" name="data.number" value="{{data.number}}" data-dtype="Number" placeholder="-1, +2, etc"/>
        </div>


        {{#if showType}}
        <div class="form-group">
            <label>{{localize "UI.Type"}}</label>
            <select name="data.type">
                {{#select data.type}}
                <option value="">-</option>
                {{#each (config "modifyTypes") as |type t|}}
                <option value="{{t}}">{{type}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        {{/if}}

        {{#if (eq item.action "custom")}}
        <div class = "form-group">
            <label>{{localize "UI.ActionDescription"}}</label>
            <textarea name="data.description">{{data.description}}</textarea>
        </div>
        {{/if}}

        <div class="form-group">
            <label>{{localize "DGNS.ShowName"}}</label>
            <select name="data.showName">
                {{#select data.showName}}
                <option value="">✘</option>
                <option value="true">✔</option>
                {{/select}}
            </select>
        </div>
    </section>
</form>
