<header class="sheet-header">
    {{{drawTitle (localize (lookup (concat "TYPES.Item.Type" (capitalize item.type)) 'string'))}}}
    <div class="break"></div>

    {{{drawImage item}}}
    <div class="header-column char-info middle">
        <div class="sheet-field">
            <span class="field-name">{{localize "DGNS.Name"}}: </span>
            <input class="field-input" type="text" name="name" value="{{item.name}}" />
        </div>
        <div class="sheet-field">
            <span class="field-name">{{localize "DGNS.Group"}}: </span>
            <select name="data.group" data-dtype="String">
                {{#select data.group}}
                {{#each (config "weaponGroups") as |group g|}}
                <option value="{{g}}">{{group}}</option>
                {{/each}}
                {{#each (config "equipmentGroups") as |group g|}}
                <option value="{{g}}">{{group}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="sheet-field">
            <span class="field-name">{{localize "DGNS.Tech"}}: </span>
            <select name="data.tech" data-dtype="Number">
                <option value="">-</option>
                {{#select data.tech}}
                {{#each (config "techValues") as |tech t|}}
                <option value="{{t}}">{{tech}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
    <div class="header-column char-info right">
        <div class="sheet-field">
            <span class="field-name">{{localize "DGNS.Value"}}: </span>
            <input class="field-input" type="text" name="data.value" value="{{data.value}}" />
        </div>
        <div class="sheet-field">
            <span class="field-name">{{localize "DGNS.Encumbrance"}}: </span>
            <input class="field-input" type="text" name="data.encumbrance" value="{{data.encumbrance}}"
                data-dtype="Number" />
        </div>
        <div class="sheet-field">
            <span class="field-name">{{localize "DGNS.Quantity"}}: </span>
            <input class="field-input" type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
        </div>
    </div>
    <div class="break"></div>

</header>