<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header.html}}


    {{!-- Sheet Body --}}
    <section class="sheet-body">

      <!--  <div class = "form-group">
            <label>Origin</label>
            <input type="text" name="data.origin" value="{{data.origin}}" data-dtype="String"/>
        </div>

         <div class = "form-group">
            <label>Level</label>
            <input type="text" name="data.level" value="{{data.level}}" data-dtype="Number"/>
        </div> 
        <div class = "form-group">
            <label>Prerequisite</label>
            <input type="text" name="data.prerequisite" value="{{data.prerequisite}}" data-dtype="String"/>
        </div> -->
        <div class="body-column body-line">
            <div class="square little left"></div>
            <svg class="title-line middle-left" height="11" width="100%">
            <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
            </svg>
            <div class="middle-name">{{localize "DGNS.Details"}}</div>
            <svg class="title-line middle-right" height="11" width="100%">
            <line x1="0" y1="11" x2="100%" y2="11" style="stroke:black;stroke-width:1"></line>
            </svg>
            <div class="square little right"></div>
        </div>

        <div class="detail-container">
            <div class="column">
                <div class = "sheet-field textarea">
                    <span>{{localize "DGNS.Effect"}}:</span>
                    <textarea name="data.effect">{{data.effect}}</textarea>
                </div>
            </div>
        </div>
        
        <div class="detail-container">
            <div class="column">
                <div class = "sheet-field textarea">
                    <span>{{localize "DGNS.Rules"}}:</span>
                    <textarea name="data.rules">{{data.rules}}</textarea>
                </div>
            </div>
        </div>

        {{{drawPageSquare 0 1}}}


    </section>
    {{> systems/degenesis/templates/common/sheet-footer.html }}
</form>
