<form class="{{cssClass}} item-shield form-flex" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header-physical.html}}
    <!-- Tabs V2-->
    <nav class="sh-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "DGNS.Description"}}</a>
        <a class="item active" data-tab="details">{{localize "DGNS.Details"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sh-body tab-content-container">

        <div class="tab" data-tab="description">

            <div class="titlebar-container">

                <div class="square little left"></div>
                <svg class="title-line">
                    <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
                </svg>
                <div class="title-line-header">{{localize "DGNS.Description"}}</div>
                <svg class="title-line">
                    <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
                </svg>
                <div class="square little right">
                </div>

            </div>

            <div class="full-height-editor">
                {{editor enrichment.system.description.value engine="prosemirror" target="system.description"
                button=true
                owner=owner editable=editable}}
            </div>
            <div class="footer-diamond">
                <div class="square little"></div>
            </div>

        </div>

        <!-- DETAILS TAB-->

        <div class="tab" data-tab="details">
            <div class="titlebar-container">

                <div class="square little left"></div>
                <svg class="title-line">
                    <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
                </svg>
                <div class="title-line-header">{{localize "DGNS.Details"}}</div>
                <svg class="title-line">
                    <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
                </svg>
                <div class="square little right">
                </div>

            </div>

            <div class="scroll-container">

                <div class="detail-container">
                    <div class="column">
                        <div class="sh-field">
                            <span class="field-name">{{localize "DGNS.Defense"}}: </span>
                            <div class="field-inputs">
                                <input class="handling field-input field-start" type="text" name="system.defense.D"
                                    value="{{system.defense.D}}" data-dtype="Number"
                                    placeholder="{{localize 'DGNS.Defense'}}" /><span class="field-end">{{localize
                                    "UI.D"}}</span>
                                <span class="field-end"></span>+<input class="handling field-input field-start"
                                    type="text" name="system.defense.p_defense" value="{{system.defense.p_defense}}"
                                    placeholder="{{localize 'DGNS.PassiveDef'}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="sh-field">
                            <span class="field-name">{{localize "DGNS.Attack"}}: </span>
                            <div class="field-inputs">
                                <input class="handling field-input field-start" type="text" name="system.attack.D"
                                    value="{{system.attack.D}}" data-dtype="Number"
                                    placeholder="{{localize 'DGNS.Modifier'}}" /><span class="field-end">{{localize
                                    "UI.D"}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="sh-field">
                            <span class="field-name">{{localize "DGNS.Slots"}}: </span>
                            <div class="field-inputs">
                                <input input class="field-input" type="text" name="system.slots.total"
                                    value="{{system.slots.total}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="sh-field">
                            <span class="field-name">{{localize "DGNS.Cult"}}: </span>
                            <div class="field-inputs">
                                <input class="field-input" type="text" name="system.cult" value="{{system.cult}}" />
                            </div>
                        </div>
                        <div class="sh-field">
                            <span class="field-name">{{localize "DGNS.Resources"}}:</span>
                            <div class="field-inputs">
                                <input class="field-input" type="text" name="system.resources"
                                    value="{{system.resources}}" data-dtype="Number" />
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Qualities and mods -->
                <div class="bottom-container">
                    <!-- Qualities -->
                    <div class="qualities-group conditions-group">
                        <div class="block-title gold">
                            <h3>{{localize "DGNS.Qualities"}}</h3>
                            <a class="right icon wheel item-quality-config"><i class="fas fa-cog"></i></a>
                        </div>
                        <div class="qualities-data conditions-data">
                            <ol class="qualities-ol conditions-ol">
                                {{#each item.Qualities as |quality q|}}
                                <li class="conditions-li qualities-li item">
                                    <div class="conditions-characteristics">
                                        <div class='quality'>
                                            {{quality}}
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                    </div>
                    <!-- Mods -->
                    <div class="mods-group conditions-group">
                        <div class="block-title gold">
                            <h3>{{localize "DGNS.Mods"}}</h3>
                            <div class="right" data-item="">
                                <div class="slots">{{system.slots.used}}/{{system.slots.total}} </div>
                            </div>
                        </div>
                        <div class="mods-data conditions-data">
                            <ol class="mods-ol conditions-ol">
                                {{#each item.flags.degenesis.mods as |mod m|}}
                                <li class="mods-li conditions-li item" data-item-id="{{m}}">
                                    <div class="conditions-characteristics">
                                        <div class='item-data'>
                                            <span class="mods-name conditions-name">{{mod.name}}</span>
                                            <span class="mods-slots conditions-number">{{mod.system.slotCost}}</span>

                                        </div>
                                        <div class="item-controls">
                                            <div class="vertical-bar">
                                                <svg height="15px" width="1px">
                                                    <line x1="0%" y1="0%" x2="0%" y2="14px"
                                                        style="stroke:black;stroke-width:1"></line>
                                                </svg>
                                            </div>
                                            <a class="icon mod-edit"><i class="fas fa-edit"></i></a>
                                            <a class="icon mod-delete"><i class="fas fa-times"></i></a>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                    </div>
                </div>

                {{#if item.hasSpecialty}}
                <div class="bottom-specialty-container">
                    <span class="field-name">{{localize "DGNS.Specialty"}}</span>
                    <textarea name="flags.degenesis.specialty"
                        class="item-summary">{{item.flags.degenesis.specialty}}</textarea>
                </div>
                {{/if}}
            </div>
        </div>

        <div class="footer-diamond">
            <div class="square little"></div>
            <div class="square little"></div>
        </div>
    </section>

    <footer class="sh-footer">
        <div class="footer-line-bar">
            <div class="square little left"></div>
            <svg class="start-line">
                <line x1="0%" y1="11" x2="88%" y2="11" class="line-stroke"></line>
                <line x1="88%" y1="11" x2="100%" y2="5" class="line-stroke""></line>
            </svg>
            <svg class=" bottom-line middle">
                    <line x1="0" y1="5" x2="100%" y2="5" class="line-stroke"></line>
            </svg>
            <svg class="end-line">
                <line x1="0%" y1="5" x2="12%" y2="11" class="line-stroke"></line>
                <line x1="12%" y1="11" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <div class="square little right"></div>
        </div>
    </footer>
</form>