<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header-physical.html}}
    {{> systems/degenesis/templates/common/item-sheet-tabs.html }}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> systems/degenesis/templates/common/item-sheet-description.html }}
        
        <!-- DETAILS TAB-->
        <div class="tab" data-tab="details">
            {{{drawSubtitle (localize "DGNS.Details")}}}
            <div class="details">
                <div class="detail-container">
                    <div class="column">
                        <div class="sheet-field">
                            <span class="field-name">{{localize "DGNS.Cult"}}: </span>
                            <div class="field-inputs">
                                <input class="field-input" type="text" name="data.cult" value="{{data.cult}}" />
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="sheet-field">
                            <span class="field-name">{{localize "DGNS.Resources"}}:</span>
                            <div class="field-inputs">
                                <input class="field-input" type="text" name="data.resources" value="{{data.resources}}"
                                    data-dtype="Number" />
                            </div>
                        </div>
                    </div>
                </div>

                <!-- effects -->

                <div class="detail-container">
                    <div class="column">
                        <div class="sheet-field textarea">
                            <span>{{localize "DGNS.Effect"}}:</span>
                            <textarea name="data.effect">{{data.effect}}</textarea>
                        </div>
                    </div>
                </div>
            </div>

            {{{drawPageSquare 1 2}}}
        </div>
    </section>
    {{> systems/degenesis/templates/common/sheet-footer.html }}
</form>