<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header-physical.html}}
    <!-- Tabs V2-->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "DGNS.Description"}}</a>
        <a class="item active" data-tab="details">{{localize "DGNS.Details"}}</a>
        <a class="item" data-tab="qualities">{{localize "DGNS.Qualities"}}</a>
        <a class="item" data-tab="mods">{{localize "DGNS.Mods"}}</a>
    </nav>
        
    {{!-- Sheet Body --}}
    <section class="sheet-body" >
        <div class="tab" data-tab="description">
            {{editor content=data.description target="data.description"button=true owner=owner editable=editable}}
        </div>

        <div class="tab" data-tab="details">
            <div class = "form-group">
                <label>{{localize "DGNS.Group"}}</label>
                <select name="data.group" data-dtype="String">
                    <option value="{{g}}">{{group}}</option>
                    {{#select data.group}}
                    {{#each weaponGroups as |group g|}}
                    <option value="{{g}}">{{group}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            <div class = "form-group">
                <label>{{localize "DGNS.Handling"}}</label>
                <input type="text" name="data.handling" value="{{data.handling}}" data-dtype="Number"/>
                D
            </div>
            <div class = "form-group">
                <label>{{localize "DGNS.Distance"}}</label>
                {{#if isMelee}} <!--Is Melee determined by weapon group-->
                <input type="text" name="data.distance.melee" value="{{data.distance.melee}}" data-dtype="Number"/>
                {{else}}
                <input type="text" name="data.distance.short" value="{{data.distance.short}}" data-dtype="Number"/>
                /
                <input type="text" name="data.distance.far" value="{{data.distance.far}}" data-dtype="Number"/>
                {{/if}}  
            </div>
            <div class = "form-group">
                <label>{{localize "DGNS.Damage"}}</label>
                <input type="text" name="data.damage" value="{{data.damage}}" data-dtype="String"/>
            </div>

            {{#unless isMelee}}
            <div class = "form-group">
                <label>{{localize "DGNS.Magazine"}}</label>
                {{#if data.mag.belt}}
                <input type="text" value="-" data-dtype="Number" disabled="disabled"/>
                Belt?
                <a class="square border-black button-position checkbox" data-target="data.mag.belt"><div class="square-into black"></div></a>
                {{else}}
                <input type="text" name="data.mag.size" value="{{data.mag.size}}" data-dtype="Number"/>
                Belt?
                <a class="square button-position checkbox" data-target="data.mag.belt"><div class="square-into"></div></a>
                {{/if}}
            </div>
            {{/unless}}
            <div class = "form-group">
                <label>{{localize "DGNS.Slots"}}</label>
                <input type="text" name="data.slots.total" value="{{data.slots.total}}" data-dtype="Number"/>
            </div>
            <div class = "form-group">
                <label>{{localize "DGNS.Cult"}}</label>
                <input type="text" name="data.cult" value="{{data.cult}}" data-dtype="String"/>
            </div>
        </div>
        <div class="tab" data-tab="qualities">
            {{#each qualities as |quality q|}}
            <div class="item-quality">
                {{#if quality.checked}}
                    <a class="square border-black button-position checkbox" data-target="quality" data-quality="{{q}}"><div class="square-into black"></div></a>
                {{else}}
                    <a class="square button-position checkbox" data-target="quality" data-quality="{{q}}"><div class="square-into"></div></a>
                {{/if}}
                {{quality.name}}
                <div class="quality-inputs" data-quality="{{q}}">
                {{#each quality.values as |value i| }}
                    <input class="quality-value" data-value-key="{{value.key}}" placeholder="{{value.placeholder}}" value="{{value.value}}" type="text">
                {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="tab" data-tab="mods">
            <div>Slots Used: {{data.slots.used}}/{{data.slots.total}}</div>
            {{#each item.flags.degenesis.mods as |mod m|}}
                <span><b>{{mod.name}}</b>: {{{mod.data.description}}}</span>
                <div>{{mod.data.effect}}</div>
            {{/each}}
        </div>

    </section>

</form>
