<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header-physical.html}}
    {{> systems/degenesis/templates/common/item-sheet-tabs.html }}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> systems/degenesis/templates/common/item-sheet-description.html }}

        <!-- DETAILS TAB-->
        <div class="tab" data-tab="details">
            {{{drawSubtitle (localize "DGNS.Details")}}}
            <div class="detail-container">
                <div class="column">
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Defense"}}: </span>
                        <div class="field-inputs">
                            <input class="handling field-input field-start field-right" type="text"
                                name="data.defense.D" value="{{data.defense.D}}" data-dtype="Number"
                                placeholder="{{localize 'DGNS.Defense'}}" /><span class="field-end">D</span>
                            <span class="field-end">+</span><input class="handling field-input field-start" type="text"
                                name="data.defense.p_defense" value="{{data.defense.p_defense}}"
                                placeholder="{{localize 'DGNS.PassiveDef'}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Attack"}}: </span>
                        <div class="field-inputs">
                            <input class="handling field-input field-start field-right" type="text" name="data.attack.D"
                                value="{{data.attack.D}}" data-dtype="Number"
                                placeholder="{{localize 'DGNS.Modifier'}}" /><span class="field-end">D</span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Slots"}}: </span>
                        <div class="field-inputs">
                            <input input class="field-input" type="text" name="data.slots.total"
                                value="{{data.slots.total}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Cult"}}: </span>
                        <div class="field-inputs">
                            <input class="field-input" type="text" name="data.cult" value="{{data.cult}}" />
                        </div>
                    </div>
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Resources"}}:</span>
                        <div class="field-inputs">
                            <input class="field-input" type="text" name="data.resources" value="{{data.resources}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>

            </div>

            <!-- Qualities and mods -->
            <div class="bottom-conditions spaced-conditions">
                {{> systems/degenesis/templates/common/item-sheet-qualities.html }}
                {{> systems/degenesis/templates/common/item-sheet-mods.html }}
            </div>

            {{#if item.hasSpecialty}}
            {{localize "DGNS.Specialty"}}
            <textarea name="flags.degenesis.specialty">{{item.flags.degenesis.specialty}}</textarea>
            {{/if}}
            {{{drawPageSquare 1 2}}}
        </div>


        <div class="tab" data-tab="qualities">
            {{#each qualities as |quality q|}}
            <div class="item-quality">
                {{#if quality.checked}}
                <a class="square border-black button-position checkbox" data-target="quality" data-quality="{{q}}">
                    <div class="square-into black"></div>
                </a>
                {{else}}
                <a class="square button-position checkbox" data-target="quality" data-quality="{{q}}">
                    <div class="square-into"></div>
                </a>
                {{/if}}
                <div class="field-name quality-name">
                    {{quality.name}}
                </div>
                <div class="field-inputs quality-inputs" data-quality="{{q}}">
                    {{#each quality.values as |value i| }}
                    <input class="field-input quality-value" data-value-key="{{value.key}}"
                        placeholder="{{value.placeholder}}" value="{{value.value}}" type="text">
                    {{/each}}
                </div>
            </div>
            {{/each}}
        </div>
        <div class="tab" data-tab="mods">
            <div>Slots Used: {{data.slots.used}}/{{data.slots.total}}</div>
            {{#each item.flags.degenesis.mods as |mod m|}}
            <span><b>{{mod.name}}</b>: {{{mod.enrichment.system.description.value}}}</span>
            <div>{{mod.data.effect}}</div>
            {{/each}}
        </div>
    </section>
    {{> systems/degenesis/templates/common/sheet-footer.html }}
</form>