<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header.html}}
        
    {{!-- Sheet Body --}}
    <section class="sheet-body" >
            
     <!--       <div class = "form-group">
                <label>Prerequisite</label>
                <textarea name="data.prerequisite">{{data.prerequisite}}</textarea>
            </div>-->
            <div class = "form-group">
                <label>Bonus</label>
                <textarea name="data.bonus">{{data.bonus}}</textarea>
            </div>
            <div class = "form-group">
                <label>Legacy</label>
                <textarea name="data.legacy">{{data.legacy}}</textarea>
            </div>
            <div class = "form-group">
                <label>Drawback</label>
                <textarea name="data.drawback">{{data.drawback}}</textarea>
            </div>
            {{log data}}
    </section>

</form>
