<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header.html}}


    {{!-- Sheet Body --}}
    <section class="sheet-body">


        <div class="form-group">
            <label>{{localize "DGNS.TriggerCostRating"}}</label>
            <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
        </div>

        <div class="form-group">
            <label>{{localize "DGNS.Rating"}}</label>
            <input type="text" name="data.rating" value="{{data.rating}}" data-dtype="Number" placeholder="-1, +2, etc"/>
        </div>


        <div class = "form-group">
            <label>{{localize "DGNS.Description"}}</label>
            <textarea name="data.description">{{data.description}}</textarea>
        </div>
    </section>
</form>
