<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header-physical-no-qty.html}}
    {{> systems/degenesis/templates/common/item-sheet-tabs.html }}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> systems/degenesis/templates/common/item-sheet-description.html }}
        
        <!-- DETAILS TAB-->
        <div class="tab" data-tab="details">
            {{{drawSubtitle (localize "DGNS.Details")}}}
            <div class="details">
                <div class="detail-container">
                    <div class="column">
                        <div class="sheet-field">
                            <span class="field-name">{{localize "DGNS.Cult"}}: </span>
                            <div class="field-inputs">
                                <input class="field-input" type="text" name="data.cult" value="{{data.cult}}" />
                            </div>
                        </div>
                        <div class="sheet-field">
                            <span class="field-name">{{localize "DGNS.EncumbranceCalc"}}: </span>
                            <div class="field-inputs">
                                <select class="encMode-select" name="data.mode" data-dtype="String">
                                    <option value=""></option>
                                    {{#select data.mode}}
                                    {{#each (config "transportationEncumbranceModes") as |mode m|}}
                                    <option value="{{m}}">{{mode}}</option>
                                    {{/each}}
                                    {{/select}}
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="column">
                        <div class="sheet-field">
                            <span class="field-name">{{localize "DGNS.Resources"}}:</span>
                            <div class="field-inputs">
                                <input class="field-input" type="text" name="data.resources" value="{{data.resources}}"
                                    data-dtype="Number" />
                            </div>
                        </div>

                        <div class="sheet-field">
                            <span class="field-name">{{localize "DGNS.TransportValue"}}:</span>
                            <div class="field-inputs">
                                <input class="field-input" type="text" name="data.transportValue"
                                    value="{{data.transportValue}}" data-dtype="Number" />
                            </div>
                        </div>
                        <div class="sheet-field">
                            <span class="field-name">{{localize "DGNS.Droppable"}}: </span>
                            <div class="field-inputs">
                                {{#if item.system.droppable}}
                                <a class="square border-black button-position checkbox" data-target="system.droppable">
                                    <div class="square-into black"></div>
                                </a>
                                {{else}}
                                <a class="square button-position checkbox" data-target="system.droppable">
                                    <div class="square-into"></div>
                                </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{{drawPageSquare 1 2}}}
        </div>
    </section>
    {{> systems/degenesis/templates/common/sheet-footer.html }}
</form>