<form class="{{cssClass}} item-complication form-flex" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header.html}}


    {{!-- Sheet Body --}}
    <section class="sh-body tab-content-container">


        <div class="titlebar-container">

            <div class="square little left"></div>
            <svg class="title-line">
                <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <div class="title-line-header">{{localize "DGNS.Details"}}</div>
            <svg class="title-line">
                <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <div class="square little right">
            </div>

        </div>

        <div class="sh-field">
            <span class="field-name">{{localize "UI.TriggerCostRating"}}: </span>
            <div class="field-inputs">
                <input class="field-input field-start" name="system.cost" value="{{system.cost}}" data-dtype="Number" />
            </div>
        </div>

        <div class="sh-field">
            <span class="field-name">{{localize "DGNS.Rating"}}: </span>
            <div class="field-inputs">
                <input class="field-input field-start" type="text" name="system.rating" value="{{system.rating}}"
                    data-dtype="Number" placeholder="-1, +2, etc" />
            </div>
        </div>



        <div class="bottom-specialty-container">
            <span class="field-name">{{localize "DGNS.Description"}}</span>
            <textarea name="system.description" class="item-summary">{{system.description}}</textarea>
        </div>



    </section>
</form>