<form class="{{cssClass}} item-armor form-flex" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header-physical.html}}
    <!-- Tabs V2-->
    <nav class="sh-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">{{localize "DGNS.Description"}}</a>
        <a class="item active" data-tab="details">{{localize "DGNS.Details"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sh-body tab-content-container">
        <div class="tab" data-tab="description">

            <div class="titlebar-container">

                <div class="square little left"></div>
                <svg class="title-line">
                    <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
                </svg>
                <div class="title-line-header">{{localize "DGNS.Description"}}</div>
                <svg class="title-line">
                    <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
                </svg>
                <div class="square little right">
                </div>

            </div>

            <div class="full-height-editor">
                {{editor enrichment.system.description.value engine="prosemirror" target="system.description"
                button=true
                owner=owner editable=editable}}
            </div>
            <div class="footer-diamond">
                <div class="square little"></div>
            </div>

        </div>
        <!-- DETAILS TAB-->
        <div class="tab" data-tab="details">
            <div class="titlebar-container">

                <div class="square little left"></div>
                <svg class="title-line">
                    <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
                </svg>
                <div class="title-line-header">{{localize "DGNS.Details"}}</div>
                <svg class="title-line">
                    <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
                </svg>
                <div class="square little right">
                </div>

            </div>


            <div class="detail-container">
                <div class="column">
                    <div class="sh-field">
                        <span class="field-name">{{localize "DGNS.Cult"}}: </span>
                        <div class="field-inputs">
                            <input class="field-input" type="text" name="data.cult" value="{{data.cult}}" />
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="sh-field">
                        <span class="field-name">{{localize "DGNS.Resources"}}:</span>
                        <div class="field-inputs">
                            <input class="field-input" type="text" name="data.resources" value="{{data.resources}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- effects -->

            <div class="bottom-specialty-container">
                <span class="field-name">{{localize "DGNS.Effect"}}</span>
                <textarea name="data.effect" class="item-summary">{{data.effect}}</textarea>
            </div>





            <div class="footer-diamond">
                <div class="square little"></div>
                <div class="square little"></div>
            </div>
        </div>
    </section>
    <footer class="sh-footer">
        <div class="footer-line-bar">
            <div class="square little left"></div>
            <svg class="start-line">
                <line x1="0%" y1="11" x2="88%" y2="11" class="line-stroke"></line>
                <line x1="88%" y1="11" x2="100%" y2="5" class="line-stroke""></line>
            </svg>
            <svg class=" bottom-line middle">
                    <line x1="0" y1="5" x2="100%" y2="5" class="line-stroke"></line>
            </svg>
            <svg class="end-line">
                <line x1="0%" y1="5" x2="12%" y2="11" class="line-stroke"></line>
                <line x1="12%" y1="11" x2="100%" y2="11" class="line-stroke"></line>
            </svg>
            <div class="square little right"></div>
        </div>
    </footer>
</form>