<header class="sh-header">

  <!-- MAIN TITLE BAR-->
  <div class="sh-titlebar">
    <div class="square little left"></div>
    <svg class="start-line">
      <line x1="0%" y1="5" x2="88%" y2="5" class="line-stroke"></line>
      <line x1="88%" y1="5" x2="100%" y2="11" class="line-stroke"></line>
    </svg>
    <svg class="title-line">
      <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
    </svg>
    <div class="middle-name">{{localize (lookup (concat "TYPES.Item.Type" (capitalize item.type)) 'string')}}
    </div>
    <svg class="title-line">
      <line x1="0" y1="11" x2="100%" y2="11" class="line-stroke"></line>
    </svg>
    <svg class="end-line">
      <line x1="0%" y1="11" x2="12%" y2="5" class="line-stroke"></line>
      <line x1="12%" y1="5" x2="100%" y2="5" class="line-stroke"></line>
    </svg>
    <div class="square little right"></div>

  </div>


  <div class="header-content-container">

    <div class="header-image-container">
      <div class="img-frame">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100" width="100" />
      </div>
    </div>

    <div class="header-content-side-container">

      <!-- NAME FIELD -->
      <div class="sh-field">
        <span class="field-name">{{localize "DGNS.Name"}}: </span>
        <input class="field-input" type="text" name="name" value="{{item.name}}" />
      </div>

      <!-- ATTACK TYPE FIELD -->

      <div class="sh-field">
        <span class="field-name">{{localize "DGNS.Group"}}: </span>
        <select name="data.group" data-dtype="String">
          {{#select data.group}}
          {{#each (config "attackGroups") as |group g|}}
          <option value="{{g}}">{{group}}</option>
          {{/each}}

          {{/select}}
        </select>
      </div>

      <!-- DICE ACTION  FIELD -->
      <div class="sh-field">
        <span class="field-name">{{localize "DGNS.Attack"}}: </span>
        <div class="field-inputs">

          <input class="field-input" type="text" name="data.attack.D" value="{{data.attack.D}}" data-dtype="Number" />

        </div>
      </div>

      <div class="sh-field">
        <span class="field-name">{{localize "DGNS.Damage"}}: </span>
        <div class="field-inputs">
          <input class="field-input field-start" type="text" name="data.damage" value="{{data.damage}}"
            data-dtype="Number" />
          <select class="damageBonus-select" name="data.damageBonus" data-dtype="String">
            <option value=""></option>
            {{#select data.damageBonus}}
            {{#each (config "damageModifiersFromHell") as |modifier bonus|}}
            <option value="{{bonus}}">{{modifier.blueprint}}</option>
            {{/each}}
            {{/select}}
          </select>
          <select class="damageType-select" name="data.damageType" data-dtype="String">
            {{#select data.damageType}}
            {{#each (config "damageTypes") as |type t|}}
            <option value="{{t}}">{{type}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      <div class="sh-field">
        <span class="field-name">{{localize "DGNS.Distance"}}: </span>
        <div class="field-inputs">
          {{#if item.isMelee}} <!--Is Melee determined by weapon group-->
          <input class="field-input" type="text" name="data.distance.melee" value="{{data.distance.melee}}"
            data-dtype="Number" />

          {{else}}
          <input class="field-input distance-short" type="text" name="data.distance.short"
            value="{{data.distance.short}}" data-dtype="Number" />
          <span class="field-separator">/</span>
          <input class="field-input distance-far" type="text" name="data.distance.far" value="{{data.distance.far}}"
            data-dtype="Number" />
          {{/if}}
        </div>
      </div>




    </div>

  </div>

</header>