<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header-physical.html}}
    {{> systems/degenesis/templates/common/item-sheet-tabs.html }}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> systems/degenesis/templates/common/item-sheet-description.html }}
        
        <!-- DETAILS TAB-->
        <div class="tab" data-tab="details">
            {{{drawSubtitle (localize "DGNS.Details")}}}
            <div class="detail-container">
                <div class="column">
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Damage"}}: </span>
                        <div class="field-inputs">
                            <input class="field-input field-start field-right" type="text" name="data.damage"
                                value="{{data.damage}}" data-dtype="Number" />
                            <select class="damageBonus-select" name="data.damageBonus" data-dtype="String">
                                <option value=""></option>
                                {{#select data.damageBonus}}
                                {{#each (config "damageModifiers") as |modifier bonus|}}
                                <option value="{{bonus}}">{{modifier.blueprint}}</option>
                                {{/each}}
                                {{/select}}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Cult"}}: </span>
                        <div class="field-inputs">
                            <input class="field-input" type="text" name="data.cult" value="{{data.cult}}" />
                        </div>
                    </div>
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Resources"}}:</span>
                        <div class="field-inputs">
                            <input class="field-input" type="text" name="data.resources" value="{{data.resources}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>
            {{{drawPageSquare 1 2}}}
        </div>
    </section>
    {{> systems/degenesis/templates/common/sheet-footer.html }}
</form>