<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header.html}}
        
    {{!-- Sheet Body --}}
    <section class="sheet-body" >
            
     <!--       <div class = "form-group">
                <label>Prerequisite</label>
                <textarea name="data.prerequisite">{{data.prerequisite}}</textarea>
            </div>-->
            <div class = "form-group">
                <label>{{localize "DGNS.Bonus"}}</label>
                <textarea name="data.bonus">{{data.bonus}}</textarea>
            </div>
            <div class = "form-group">
                <label>{{localize "DGNS.Legacy"}}</label>
                <textarea name="data.legacy">{{data.legacy}}</textarea>
            </div>
            <div class = "form-group">
                <label>{{localize "DGNS.Drawback"}}</label>
                <textarea name="data.drawback">{{data.drawback}}</textarea>
            </div>
    </section>
    {{> systems/degenesis/templates/common/sheet-footer.html }}
</form>
