<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header-physical.html}}
    {{> systems/degenesis/templates/common/item-sheet-tabs.html }}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> systems/degenesis/templates/common/item-sheet-description.html }}

        <!-- DETAILS TAB-->
        <div class="tab" data-tab="details">
            {{{drawSubtitle (localize "DGNS.Details")}}}
            <div class="detail-container">
                <div class="column">
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.AP"}}: </span>
                        <div class="field-inputs">
                            <input class="handling field-input field-start" type="text" name="data.AP"
                                value="{{data.AP}}" data-dtype="Number" />
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Slots"}}: </span>
                        <div class="field-inputs">
                            <input input class="field-input" type="text" name="data.slots.total"
                                value="{{data.slots.total}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Cult"}}: </span>
                        <div class="field-inputs">
                            <input class="field-input" type="text" name="data.cult" value="{{data.cult}}" />
                        </div>
                    </div>
                    <div class="sheet-field">
                        <span class="field-name">{{localize "DGNS.Resources"}}:</span>
                        <div class="field-inputs">
                            <input class="field-input" type="text" name="data.resources" value="{{data.resources}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- Qualities and mods -->
            <div class="bottom-conditions spaced-conditions">
                {{> systems/degenesis/templates/common/item-sheet-qualities.html }}
                {{> systems/degenesis/templates/common/item-sheet-mods.html }}
            </div>

            {{#if item.hasSpecialty}}
            {{localize "DGNS.Specialty"}}
            <textarea name="flags.degenesis.specialty">{{item.flags.degenesis.specialty}}</textarea>
            {{/if}}
            {{{drawPageSquare 1 2}}}
        </div>
    </section>
    {{> systems/degenesis/templates/common/sheet-footer.html }}
</form>