<form class="{{cssClass}}" autocomplete="off">
    {{> systems/degenesis/templates/item/item-header.html}}


    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class = "form-group">
            <label>Origin</label>
            <input type="text" name="data.origin" value="{{data.origin}}" data-dtype="String"/>
        </div>

        <!-- <div class = "form-group">
            <label>Level</label>
            <input type="text" name="data.level" value="{{data.level}}" data-dtype="Number"/>
        </div> -->

        <div class = "form-group">
            <label>Effect</label>
            <textarea name="data.effect">{{data.effect}}</textarea>
        </div>

        <div class = "form-group">
            <label>Rules</label>
            <textarea name="data.rules">{{data.rules}}</textarea>
        </div>


    </section>
</form>
