:root {
    --degenesis-red: #ed1d27;
}


  @font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Roman.otf');
  }
  @font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Black.otf');
    font-weight: bold;
  }


.degenesis.sheet .window-content {
    padding: 5px;
    overflow-y: hidden;
    background: white;
    font-family: "Avenir"
}

.degenesis.sheet input[type="text"] {
    background: none;
    border: none;
}

.degenesis.sheet input[type="text"]:focus {
    box-shadow: none;
}

.degenesis.sheet input[type="text"]:hover {
    color: var(--degenesis-red);
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.degenesis.sheet .sheet-field {
    display: flex;
    border-bottom: 1px solid black
}
.degenesis.sheet .sheet-field-stack:hover,
.degenesis.sheet .sheet-field:hover {
    color: var(--degenesis-red);
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;


}

.degenesis.sheet .sheet-field-stack .field-input-stacked:hover,
.degenesis.sheet .sheet-field:hover {
   border-bottom: 1px solid var(--degenesis-red);   
   -webkit-transition: border-bottom 100ms linear;
   -ms-transition: border-bottom 100ms linear;
   transition: border-bottom 100ms linear;
}

.degenesis.sheet .sheet-field-stack .field-input-stacked {
    border-bottom: 1px solid black;
    text-align: center;
}


.degenesis.sheet .sheet-field .field-name {
    margin-top: 5px;
}

/* Sheet Header */
.degenesis.sheet .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
    margin-bottom: 10px;
}

.degenesis.sheet .profile-img {
    flex: 0 0 100px;
    height: 100px;
    margin: 10px;
    border: none
}


/* Navigation Tabs */
.degenesis.sheet .tabs {
    flex: 0 0 40px;
}

.degenesis.sheet .tabs .item {
    font-weight: bold;
    color: white;
    background-color: black;
    margin: 0px 20px 20px 10px
}

.degenesis.sheet .tabs .item.active {
    background-color: var(--degenesis-red);
    text-shadow: none
}


.degenesis.sheet .tab-content {
    border: 1px solid var(--degenesis-red);
    width: 100%;
    height: calc(100% - 170px);
}

.degenesis.sheet .row {
    display: flex;
}

.degenesis.sheet .three-Cs .sheet-field-stack{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.degenesis.sheet .three-Cs > *{
    width: 33%;
    margin: 15px
}

.degenesis.sheet .three-Cs > input{
    width: 33%;
    margin: 15px
}


.degenesis.sheet .three-Cs img{
    border: none;
}



/* Items */
.degenesis.sheet .items-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;
}
.degenesis.sheet .items-list .item {
    height: 30px;
    line-height: 24px;
    padding: 3px 0;
    border-bottom: 1px solid #BBB;
}
.degenesis.sheet .items-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}
.degenesis.sheet .items-list .item-name {
    margin: 0;
}
.degenesis.sheet .items-list .item-controls {
    flex: 0 0 36px;
}

/* Attributes */
.degenesis.sheet .attributes-header { 
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}
.degenesis.sheet .attribute-label { 
    flex: 1.5;
}
.degenesis.sheet .attribute-control { 
    flex: 0 0 20px;
}

.degenesis.sheet .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.degenesis.sheet .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
}

.degenesis.sheet .attribute-value.checkbox {
    text-align: center;
}

.degenesis.sheet .attributes-list li a.attribute-control {
    border: none;
}