:root {
    --degenesis-red: #ed1d27;
    --dark-grey: rgb(164, 164, 164);
}

::-webkit-scrollbar,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    width: 4px;
    border: none;
    background-color: transparent;
}

::-webkit-scrollbar:hover::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button{
    display: inline-block;
}

::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: black;
}

::-webkit-scrollbar-track {
    background-image: url('../images/scrolltrack.png');
    background-position:center;
    background-repeat: repeat-y;
    border-radius: 0px;
    box-shadow: none;
}


@font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Black.otf');
    font-weight: 900;
 }
@font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Heavy.otf');
    font-weight: bold;
}
@font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Medium.otf');
    font-weight: 500;
}
@font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Roman.otf');

}
@font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Book.otf');
    font-weight: 300;
}  
@font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Light.otf');
    font-weight: 200;
}

@font-face {
    font-family: "Calluna";
    src: url('../fonts/Calluna-Regular.otf');
}



/* * Squares */
.square {
    height: 9px;
    width: 9px;
    border: 1px solid rgb(165 165 165);
    margin: 0px 2px 0px 2px;;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
}

.square.little{
    height: 7px;
    width: 7px;
    border: 1px solid rgb(165 165 165);
    margin: 0px 2px 0px 2px;;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
}

.square.black {
    background-color:black;
    border: none;
}

.square.red {
    background-color: red;
}

.diamond .square {
    transition: border-color 0.1s linear;
}

.diamond:hover .square {
    border: 1px solid var(--degenesis-red);
}
/* * Degenesis Sheet */

.degenesis.sheet .break{
    flex-basis: 100%;
    height: 0;
}

.degenesis.sheet .break.break-line{
    flex-basis: 100%;
    border: 1px solid black;
    padding-top: 4px;
    height: 0;
}

.degenesis.sheet .window-content {
    padding: 5px;
    overflow-y: hidden;
    background: white;
    font-family: "Avenir";
    font-weight: 300;
    color: black;
}

.degenesis.sheet .editable {
    height: 100%
}


.degenesis.sheet a:hover {
    text-shadow: none
}

.degenesis.sheet .item-controls a:hover {
    color: var(--degenesis-red)
}

.degenesis.sheet h2 {
    border: none ;
    color: var(--degenesis-red);
    font-weight: 400;   
}


.degenesis.sheet .progress-bar {
    background-color: var(--degenesis-red);
    height: 2px;
}

.degenesis.sheet input[type="text"] {
    background: none;
    border: none;
    padding-top: 5px;
}

.degenesis.sheet input[type="text"]:focus {
    box-shadow: none;
}

.degenesis.sheet input[type="text"]:hover {
    color: var(--degenesis-red);
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.degenesis.sheet .inline-input {
    display:flex;
    align-items: center
}
.degenesis.sheet .inline-input > input[type="text"] {
    width:30px;
}

.degenesis.sheet .inline-input input[type="text"]:first-of-type {
    border-right: 1px solid black;
    border-radius: 0px;
}
.degenesis.sheet .inline-input input[type="text"]:last-of-type {
    border-left: 1px solid black;
    border-radius: 0px;

}




.degenesis.sheet textarea {
    outline: var(--degenesis-red);
    box-shadow: none;
    font-family: "Calluna"
}

.degenesis.sheet textarea:focus {
    outline: var(--degenesis-red);
    box-shadow: none
}

.degenesis.sheet select {
    background: none;
    border: none;
    padding: 0px;
    text-align-last:center
}

.degenesis.sheet select:focus{
    border-bottom: 1px solid var(--degenesis-red);
    box-shadow: none;
}

.degenesis.sheet select > *{
    color: white;
    background-color: black
}


.degenesis.sheet .sheet-field {
    display: flex;
    border-bottom: 1px solid var(--dark-grey);
}

.degenesis.sheet .condition .condition-item:hover,
    .degenesis.sheet .condition .condition-section:hover 
.degenesis.sheet .sheet-field-stack:hover,
.degenesis.sheet .sheet-field:hover {
    color: var(--degenesis-red);
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.degenesis.sheet .sheet-field-stack .field-input-stacked:hover,
.degenesis.sheet .sheet-field:hover {
   border-bottom: 1px solid var(--degenesis-red);   
   -webkit-transition: border-bottom 100ms linear;
   -ms-transition: border-bottom 100ms linear;
   transition: border-bottom 100ms linear;
}

.degenesis.sheet .sheet-field-stack .field-input-stacked {
    border-bottom: 1px solid black;
    text-align: center;
}


.degenesis.sheet .sheet-field .field-name {
    margin-top: 5px;
}

/* * Sheet Header */
 
.degenesis.sheet .sheet-header {
    overflow: hidden;
    flex: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 100px;
}

.degenesis.sheet .header-line{
    /* background-color: var(--degenesis-red); */
    /* border: 1px solid transparent; */
    align-self: start;
    display: flex;
}

.degenesis.sheet .archetype-line{
    display: flex;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    flex: 1;
}

.degenesis.sheet .middle-name{
    display: flex;
    align-items: flex-end;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
    text-align: center;
    border: 2px solid transparent;
}

.degenesis.sheet .archetype-line.line-left{
    background-image: url(../images/header\ line\ left.svg);
}

.degenesis.sheet .archetype-line.line-right{
    background-image: url(../images/header\ line\ right.svg);
}

.degenesis.sheet .header-column.char-info.left{
    margin-left: 7px;
    margin-right: 2px;
}

.degenesis.sheet .header-column.char-info.right{
    margin-right: 7px;
    margin-left: 2px;
}

.degenesis.sheet .img-container{
    flex: 0 0 115spx;
}

.degenesis.sheet .img-frame{
    display: flex;
    flex: 0 0 107px;
    z-index: 1000;
    height: 107px;
    background-image: url(../images/character\ frame.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border: none;
}

.degenesis.sheet .profile-img {
    height: 88%;
    width: 88%;
    margin: auto;
    border: none;
    display: flex;
    border-radius: 0;
}

.degenesis.sheet hr{
    border: solid;
    border-top: 1px solid var(--dark-grey);
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 2px 2px 0px;
}

.c-popout {
    position: absolute;
    top: 290px;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
    z-index: 20;
    padding: 15px;
    background: rgba(255, 255, 255, 0.95);
    font-weight: 200;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.2;
    -webkit-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}

.c-popout.culture {
    left: 25%
}

.c-popout.concept {
    left: 50%
}

.c-popout.cult {
    left: 75%
}


.culture-img:hover ~ .c-popout.culture {
    visibility: visible;
    opacity: 1;
} 
.cult-img:hover ~ .c-popout.cult {
    visibility: visible;
    opacity: 1;
} 
.concept-img:hover ~ .c-popout.concept {
    visibility: visible;
    opacity: 1;
} 

/* * Sheet Footer */
.degenesis.sheet .sheet-footer {
    overflow: hidden;
    flex: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex: 0 0 100px;
}
.degenesis.sheet .footer-line{
    background-image: url(../images/footer\ line.svg);
    height: 20px;
    flex: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.degenesis.sheet .footer-diamond{
    position: absolute;
    bottom: 0.7%;
    display: flex;
    left: 50%;
    transform: translate(-50%);

}
/* * Navigation Tabs */
.degenesis.sheet .tabs {
    flex: 0 0 40px;
    height: 20px;
}

.degenesis.sheet .tabs .item {
    color: white;
    background-color: black;
    margin: 2px;
    line-height: 20px;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1px;
    transition: background-color 0.1s ease-out;
}

.degenesis.sheet .tabs .item:hover {
    background-color: var(--degenesis-red);
}

.degenesis.sheet .tabs .item.active {
    background-color: var(--degenesis-red);
    text-shadow: none
}

/* ! makes scroller appear for no reason ! */
/* ! see later may provoque bugs ! */
/* .degenesis.sheet .tab {
    height: 100%
} */

.degenesis.sheet .body-line {
    width: 100%;
    height: calc(100% - 300px);
    overflow: auto
}

.degenesis.sheet .row {
    display: flex;
}

.degenesis.sheet .three-Cs {
    height: 35%;
    min-height: 130px;
}

.degenesis.sheet .title-Cs {
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 2px;
}

.degenesis.sheet .three-Cs .sheet-field-stack{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.degenesis.sheet .three-Cs > *{
    width: 33%;
    margin: 5px
}

.degenesis.sheet .three-Cs > input{
    width: 33%;
    margin: 15px
}


.degenesis.sheet .three-Cs img{
    border: none;
    margin: 5px;
}

.degenesis.sheet .section-header.row .row-divide{
    width:40%;
    border-bottom: 1px solid black;
    margin: 20px
}

.degenesis.sheet .section-header.row h3{
    padding-top:10px
}
.degenesis.sheet .title-line{
    display: flex;
    height: 22px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    flex: 1;
}
.degenesis.sheet .middle-left{
    background-image: url(../images/middle\ line\ left.svg);
}
.degenesis.sheet .middle-right{
    background-image: url(../images/middle\ line\ right.svg);
}
.degenesis.sheet .condition {
    height: 50%
}

.degenesis.sheet .skill:hover,
.degenesis.sheet .condition .condition-item:hover,
    .degenesis.sheet .condition .condition-section:hover {
        color: var(--degenesis-red);
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

.degenesis.sheet .condition > * {
    width: 33%;
    text-align: center;
}

.degenesis.sheet .condition .inline-input {
    border-bottom: 2px solid black;
    margin-bottom: 3px
}
.degenesis.sheet .condition .divider {
    font-size: 20px
}
.degenesis.sheet .condition-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    margin-top: 5px
}

.degenesis.sheet .condition textarea {
    height: 100%;
    overflow-x: hidden;
    background: none;
    border-radius: 0px;
    background-attachment: local;
    background-image: linear-gradient(to right, white 10px, transparent 10px), linear-gradient(to left, white 10px, transparent 10px), repeating-linear-gradient(white, white 20px, #ccc 20px, #ccc 20px, white 21px);
    line-height: 21px;
    padding: 1px 8px;
    resize: none;
 }

 .degenesis.sheet .body-line{
    align-self: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    margin-top: 14px;
    margin-bottom: 5px;
}

.degenesis.sheet .tab-content {
    font-size: 12px;
    letter-spacing: 1px;
    width: 100%;
    height: calc(100% - 300px);
    overflow: auto
}

.degenesis.sheet .tab-content h3 {
    font-size: 12px;
    font-weight: 300;
}

/* * Attributes tab * */

 .degenesis.sheet .attribute-tab .attribute-skill-group {
    margin: 16px 18px;
    flex:1;
}

.degenesis.sheet .attribute-tab {
    display: flex;
    flex-wrap: wrap;
 }

 .degenesis.sheet .attribute {
    /*border-bottom: 1px solid black*/
 }

 .degenesis.sheet .attribute-name {
    height: 100%;
    width: 100%;
    background-image: url(../images/attribut\ border.svg);
    background-repeat: no-repeat;
    color: white;
    background-size: 100%;
    background-position: center;
 }

 .degenesis.sheet .skill,
 .degenesis.sheet .attribute {
     display: flex;
     justify-content: space-between;
 }

 .degenesis.sheet .attribute{
     margin-bottom:15px;
 }
 
 .degenesis.sheet .skill >*,
 .degenesis.sheet .attribute > *{
    display: flex;
}

.degenesis.sheet .diamond-row{
    justify-content:flex-end;
}

.degenesis.sheet .skill .diamond {
    align-self: center;
}

.degenesis.sheet .attribute .diamond-row{
    align-self:center;
}

.degenesis.sheet .skill {
    margin-top: 5px;
    align-self: center; 
}

.degenesis.sheet .skill-list {
    margin-top:10px;
}

 .degenesis.sheet .skill input[type="text"] ,
    .degenesis.sheet .attribute input[type="text"] {
     border: 1px solid black;
     border-radius: 0px;
     width:20px;
     height:20px;
     text-align: center;
 }

 .degenesis.sheet .skill input[type="text"]{
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
    }


 .degenesis.sheet .attribute h3{
    margin-bottom: 0px;
    margin-left: 10px;

 }

 .degenesis.sheet .skill-name{
    margin-left: 10px;
 }

 /* * Advantages tab * */
 
 .degenesis.sheet .advantage-tab .advantage-group {
    margin: 16px 18px;
    flex:1;
}

.degenesis.sheet .advantage-tab {
    display: flex;
    flex-wrap: wrap;
 }

 .degenesis.sheet .background {
    /*border-bottom: 1px solid black*/
 }

 .degenesis.sheet .black-title {
    width: 100%;
    background-image: url(../images/attribut\ border.svg);
    background-repeat: no-repeat;
    color: white;
    background-size: 100%;
    background-position: center;
 }

 .degenesis.sheet .advantage,
 .degenesis.sheet .background {
     display: flex;
     justify-content: space-between;
 }

 .degenesis.sheet .advantage,
 .degenesis.sheet .background {
     display: flex;
     justify-content: space-between;
 }

 .degenesis.sheet .scars-group .advantage {
     display: block;
 }

 .degenesis.sheet .background{
     margin-bottom:15px;
 }
 
 .degenesis.sheet .advantage >*,
 .degenesis.sheet .background > *{
    display: flex;
}

.degenesis.sheet .advantage .diamond {
    align-self: center;
}

.degenesis.sheet .background .diamond-row{
    align-self:center;
}

.degenesis.sheet .advantage {
    margin-top: 5px;
    align-self: center; 
}

.degenesis.sheet .advantage-list {
    margin-top:10px;
}

 .degenesis.sheet .advantage input[type="text"] ,
    .degenesis.sheet .background input[type="text"] {
     border: 1px solid black;
     border-radius: 0px;
     width:20px;
     height:20px;
     text-align: center;
 }

 .degenesis.sheet .advantage-tab .sheet-field .field-name {
     flex: 1.91;
 }

 .degenesis.sheet .advantage-tab .sheet-field {
    margin-left: 10px;
}

 .degenesis.sheet .advantage input[type="text"]{
     border-top: 0px;
     border-left: 0px;
     border-right: 0px;
     border-bottom: 0px;
     flex: 1.58;
    }


 .degenesis.sheet .advantage-group h3{
    margin-bottom: 0px;
    margin-left: 10px;

 }

 .degenesis.sheet .background-name{
    margin-left: 10px;
 }


/* * Items */
.degenesis.sheet .items-list {
    list-style: none;
    padding: 0;
}
.degenesis.sheet .inventory-tab {
    margin-top: 20px   
}

.degenesis.sheet .items-list .item {
    height: 30px;
    line-height: 24px;
}
.degenesis.sheet .items-list .item img {
    flex: 0 0 24px;
    margin-right: 5px;
}
.degenesis.sheet .items-list .item-controls {
    flex: 0 0 36px;
}
.degenesis.sheet .item-header .item-controls {
    flex: 0 0 50px;
}

.degenesis.sheet .item-section {
    border: 1px solid black;
}

.degenesis.sheet .item-header .item-equipped,
.degenesis.sheet .item-header .item-tech,
    .degenesis.sheet .item-header .item-encumbrance {
    flex: 0 0 40px;
}

.degenesis.sheet .items-list .item-equipped,
.degenesis.sheet .items-list .item-tech,
    .degenesis.sheet .items-list .item-encumbrance {
    flex: 0 0 40px;
}
.degenesis.sheet .item-equipped,
.degenesis.sheet .item-tech,
    .degenesis.sheet .item-encumbrance {
    text-align: center
}

.degenesis.sheet .header-details{
    border-bottom: 1px solid black
}
.degenesis.sheet .header-details > *,
.degenesis.sheet .item > *{
    margin: 0px 5px 0px 5px
}

.degenesis.sheet .item-header .header-type {
    background-color: black;
    color: white;
    text-align: center;
    height: 24px;
    line-height: 24px
}

/* * Attributes */
.degenesis.sheet .attributes-header { 
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #AAA;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;
}
.degenesis.sheet .attribute-label { 
    flex: 1.5;
}
.degenesis.sheet .attribute-control { 
    flex: 0 0 20px;
}

.degenesis.sheet .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.degenesis.sheet .attributes-list li > * {
    margin: 0 3px;
    height: 28px;
    line-height: 24px;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #AAA;
}

.degenesis.sheet .attribute-value.checkbox {
    text-align: center;
}

.degenesis.sheet .attributes-list li a.attribute-control {
    border: none;
}












/****************************** EXPERIMENTAL UI CHANGES *****************************/


#logo {
    content:url(../icons/degenesis.png)
}

button {
    background: none;
    border-radius: 0px;
    font-family: "Avenir";
    text-transform: uppercase;
    border: 2px solid var(--degenesis-red);
    color: white
}

button:hover {
    box-shadow: none;
    color: var(--degenesis-red)
}



#sidebar-tabs {
    box-shadow: none;
    border-bottom: 2px solid var(--degenesis-red)
}

#sidebar-tabs > .item.active {
    box-shadow: none;
    border: 0px solid var(--degenesis-red)
}

#sidebar .tabs .item.active {
    text-shadow: none;
    color: var(--degenesis-red)
}

#sidebar {
    /*background : rgb(0, 0, 0, 0.90);*/
    background-image: url(../ui/degenesis_parchment_black.jpg);
    border-radius: 0px;
    font-family: "Calluna"
}


 #sidebar h2 {
     font-family: "Avenir";
     border-bottom: 0px;
     color: var(--degenesis-red);
     text-transform: uppercase;
}


#sidebar .directory-footer button {
    font-size: 12px
}

#chat-form textarea {
    background: white;
    border-radius : 0px;
    border: 1px solid var(--degenesis-red);
    margin-top: 3px
}

#sidebar .directory-header a,
#chat-controls a{
    color: var(--degenesis-red);
}

#sidebar .directory-header a:hover,
#chat-controls a:hover{
    color: white;
}

#chat-controls .roll-type-select label i {
    width: 25px;
    height: 25px;
    color: #f0f8ff00;
    background: url(../icons/logo-small.png);
}

#chat-controls div.roll-type-select select {
    background: none;
    border: none;
    padding: 0px;
    color: white;
    border: 1px solid var(--degenesis-red);
    border-radius: 0px;
    font-family: "Avenir";
    text-transform: uppercase;
}
/*WANT TO REMOVE BLUE HIGHLIGHTING FROM SELECT ELEMENTS*/

#select:focus {
    box-shadow: none
}

select > *{
    color: white;
    background-color: black;
}

textarea:focus {
    outline: 2px solid var(--degenesis-red);
    box-shadow: 0 0 10px var(--degenesis-red);
}

a:hover {
    text-shadow:none;
    color: var(--degenesis-red);
  }

.sidebar-tab .directory-header .header-search input {
    background: none;
    border-radius: 0px;
    border: 1px solid var(--degenesis-red);
    color: white
}

.sidebar-tab .directory-header .header-search input:focus {
    box-shadow: none;
    color: var(--degenesis-red);
}

#sidebar .directory-header .header-search i {
    color: var(--degenesis-red)
}

#hotbar .bar-controls,
#hotbar #macro-list,
#navigation #nav-toggle,
#navigation #scene-list #nav-item,
#controls .scene-control,
#controls .control-tool {
    background-color: black;
    border-radius: 0px;
    border: 1px solid white
}

#navigation #scene-list .scene {
    border: 1px solid white;
    border-radius: 0px;
    /*background: url(../ui/degenesis_parchment_black.jpg);*/
    background: black;
}

#navigation #scene-list .scene.gm {
    border: 1px solid var(--degenesis-red);
    /*background: url(../ui/degenesis_parchment_black.jpg);*/
    background: black;
}

#navigation #scene-list .scene.view {
    border: 1px solid var(--degenesis-red);
    box-shadow: none;
    color: var(--degenesis-red);
    /*background: url(../ui/degenesis_parchment_black.jpg);*/
    background: black;
}

#controls .scene-control.active,
#controls .control-tool.active,
#controls .scene-control:hover,
#controls .control-tool:hover {
    color: var(--degenesis-red);
}

#chat-log .message {
    border-radius: 0px;
    background: url(../ui/degenesis_parchment.jpg)
}

.dice-tooltip .dice-rolls .roll.d6.max {
    color: var(--degenesis-red);
    filter: none;
    content: url(../icons/logo-small.png);
    padding: 2px
}

.dice-tooltip .dice-rolls .roll.d6 {
    background-image: none;
    border: 1px solid black;
    line-height: 22px
}


#players {
    background: url(../ui/degenesis_parchment_black.jpg);
    font-family: "Avenir";
    text-transform: uppercase;
    border-radius: 0px
}

#players ol .player-name.self {
    color: var(--degenesis-red)
}


#hotbar {
    font-family: "Avenir"
}

#hotbar #macro-list {
    background: url(../ui/degenesis_parchment_black.jpg);
}

#hotbar .macro {
    background:none;
    border-radius: 0px;
    border: 1px solid #CCC
}

#hotbar .macro:hover {
    box-shadow: none;
    border: 1px solid var(--degenesis-red)
}